<!DOCTYPE html>
<html lang="en">
<body>
<ul id='invoice_list'>

</ul>
<script>
    // dynamic(0,10)
    var invoices = '{{ invoices_json }}'
    invoices = JSON.parse(invoices.replace(/&#34;/g,'"'))
    // console.log(invoices)
    var ul = document.getElementById("invoice_list")
    for (let i = 0; i < invoices.length; i++) {
        const element = invoices[i];
        var li = document.createElement("LI");
        li.textContent = element['invoice']
        var sub_ul = document.createElement("UL");
        var sub_li = document.createElement("LI");
        sub_li.textContent = element['name']
        sub_ul.appendChild(sub_li);
        li.appendChild(sub_ul);
        ul.appendChild(li);
        // console.log(element)
        
    }
    
</script>
</body>
</html>