{% extends 'layout.html' %}
{% block content %}
<nav class="navbar navbar-expand-sm navbar-dark" style="background-color:#017B25;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#account_navbar" aria-controls="account_navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="account_navbar">
    <ul class="navbar-nav" id="myTab">
        <a class="general nav-link nav-item" href="/account">General</a>
        <a class="due nav-link nav-item" href="/account/invoices-due">Due</a>
        <a class="not-submitted nav-link nav-item" href="/account/invoices-not-submitted">Not submitted</a>
        <a class="settings nav-link nav-item" href="/account/settings">Settings</a>
    </ul>
  </div>
</nav>
<script>
    $(document).ready(function(){
    
     if (window.location.href.match('account/invoices-due')){
       $('.due').addClass('active');
     }
     else if (window.location.href.match('account/invoices-not-submitted')){
       $('.not-submitted').addClass('active');
     }
     else if (window.location.href.match('account/settings')){
       $('.settings').addClass('active');
       
     }
     else if (window.location.href.match('account/invoice')){
      var donothing;
       
     }
     else if(window.location.href.match('account')){
       $('.general').addClass('active');
     }
     

   })
</script>
{% endblock %}