{% include 'account_bp/index.html' %}
{% block content %}
<div id="account_modal" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Success</h5>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid p-5">
        <form autocomplete="off" class="invoice-search">
            <input id="invoice-search" class="form-control mr-sm-2" name="treatment" type="search" placeholder="Search invoices by patient name">
        </form>
        <div id="inside_container" class="align-middle">
        </div>
        <div class="dropdown">
            <button onclick="ffocus()" id="focus" class="dropbtn dropdown-toggle">Date created</button>
            <div id="fDropdown" class="dropdown-content">
                <li class='focus' data-value='date_created'>Date created</li>
                <li class='focus' data-value='date_invoice'>Invoice date</li>
                <li class='focus' data-value='patient_name'>Patient Name</li>
                <li class='focus' data-value='main_member'>Main Member</li>        
                <li class='focus' data-value='procedure_date'>Procedure Date</li>
                <li class='focus' data-value='diagnosis_date'>Diagnosis Date</li>
                <li class='focus' data-value='admission_date'>Admission Date</li>
                <li class='focus' data-value='discharge_date'>Discharge Date</li>
                <li class='focus' data-value='submitted_on'>Submission Date</li>
                <li class='focus' data-value='debit_cent'>Value</li>
            </div>
          </div> 
        <div class="dropdown">
            <button onclick="order()" id="order" class="dropbtn dropdown-toggle">Descending</button>
            <div id="oDropdown" class="dropdown-content">
                <li class='order' data-value='ASC'>Ascending</li>
                <li class='order' data-value='DESC'>Descending</li>
            </div>
          </div> 
        <div class="dropdown">
            <button onclick="myFunction()" id="column_option" class="dropbtn dropdown-toggle">None</button>
            <div id="myDropdown" class="dropdown-content">
                <li class='c_option' data-value='None'>No Criteria</li>
                <li class='c_option' data-value='medical_aid'>Medical</li>
                <li class='c_option' data-value='tariff'>Tariff</li>
                <li class='c_option' data-value='credit_cent'>Credit</li>
                <li class='c_option' data-value='status'>Status</li>
                <li class='c_option' data-value='remind_me'>Remind me</li>
            </div>
        </div> 
        <div id="r_option_div" class="dropdown"></div>
        <div  style="border: olive;border-style: solid;" id="dynamic_list" class="d-flex flex-column"></div>
        <div><span style="float: left;">Pages: </span><ul id="pages" style="list-style: none;"></ul></div>
    </div>
    

<script>

function closeDropDown(){
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
        }
    }
}


function ffocus() {
    closeDropDown()
    document.getElementById("fDropdown").classList.toggle("show");
}
function order() {
    closeDropDown()
  document.getElementById("oDropdown").classList.toggle("show");
}
function myFunction() {
    closeDropDown()
  document.getElementById("myDropdown").classList.toggle("show");
}
function r_option() {
    closeDropDown()
  document.getElementById("rDropdown").classList.toggle("show");
}


$(document).ready(function(){
    let criteria = ['account', 'None','None','date_created','DESC', 0, 5];
    dynamic.apply(this, criteria);

function mouse_on_page(){
    this.setAttribute("style", "background-color:blue;")
}
function mouse_off_page(){
    this.setAttribute("style", "background-color:white;")
}
function page_click(){
    current_range = criteria[6];
    page_requested = this.textContent; 
    criteria[5] = current_range * (page_requested - 1);
    dynamic.apply(this, criteria);
}



    function r_option_click() {
        var r_option = $(this).data('value');
        $('#row_option').text(r_option)
        criteria[2] = r_option; 
        criteria[5] = 0;
        dynamic.apply(this, criteria);
        }


    $(document).on("click", ".focus", function (e) {
        var focus = $(this).data('value');
            $('#focus').text(focus)
            criteria[3] = focus;
            dynamic.apply(this, criteria);     
    })

    $(document).on("click", ".order", function (e) {
        var order = $(this).data('value');
            $('#order').text(order)
            criteria[4] = order;
            dynamic.apply(this, criteria);     
    })

    $(document).on("click", ".c_option", function (e) {
        var c_option = $(this).data('value');
        var div = document.getElementById("r_option_div")
        if(c_option == 'None'){
            $('#column_option').text(c_option)
            criteria[1] = c_option;
            dynamic.apply(this, criteria);
            div.innerHTML = '';
        }
        else{
            $.ajax({
                    type: "GET",
                    url: '/account/check-r-option',
                    data: {c_option: c_option}, 
                    dataType: 'json',
                    success: function (returnData) {
                        $('#column_option').text(c_option)
                        criteria[0] = c_option;
                        div.innerHTML = '';
                        var button = document.createElement("BUTTON");
                        button.addEventListener("click", r_option, false);
                        button.setAttribute("id", "row_option");
                        button.setAttribute("class", "dropbtn");
                        button.textContent = "Row options";
                        var wrapper_li = document.createElement("DIV");
                        wrapper_li.setAttribute("id", "rDropdown");
                        wrapper_li.setAttribute("class", "dropdown-content");
                        for (let i = 0; i < returnData['r_option'].length; i++) {
                            const element = returnData['r_option'][i];
                            var li = document.createElement("LI");
                            li.setAttribute("class", "r_option")
                            li.setAttribute("data-value", element[c_option])
                            li.addEventListener("click", r_option_click, false);
                            li.textContent = element[c_option]
                            wrapper_li.appendChild(li);
                        }
                        div.appendChild(button);
                        div.appendChild(wrapper_li);
                    }
                })
        }
    })


        window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
            }
            }
        }
        } 

    function dynamic(caller_id, c_option, r_option, focus, order, start, range){
        $( "#dynamic_list" ).load( "/account/all-invoices/" + caller_id + "/" + c_option + "/" + r_option + '/' + focus + '/' + order + '/' + start + '/' + range, function(){
            var row_total_count = invoices[0]['rowcounter'];
            var items_per_site = criteria[6];
            var pages = Math.floor(row_total_count / items_per_site)
            if(pages != row_total_count / items_per_site){
                pages = pages + 1;
            }
            var ul = document.getElementById("pages")
            ul.innerHTML = '';
            for(var i = 0; i < pages; i++){
                var li = document.createElement("LI");
                var a = document.createElement("A");
                a.setAttribute("class", "link_pages");
                li.style.cursor = "pointer";
                a.addEventListener("mouseover", mouse_on_page, false);
                a.addEventListener("mouseout", mouse_off_page, false);
                a.addEventListener("click", page_click, false);
                li.style.display = "inline";
                li.style.padding = "5px";
                a.textContent = i + 1;
                li.appendChild(a)
                ul.appendChild(li);
            }
        });
    }
    
    var messages = "{{ get_flashed_messages() }}";
            if (typeof messages != 'undefined' && messages != '[]') {
                $("#account_modal").modal();
            };

    function sum_cent(input){
             if (toString.call(input) !== "[object Array]")
                return false;
                        var total =  0;
                        for(var i=0;i<input.length;i++)
                          {                  
                            if(isNaN(input[i])){
                            continue;
                             }
                              total += Number(input[i]);
                           }
                         return total;
                        }


    function removeActive(x) {
    for (var i = 0; i < x.length; i++) {
        x[i].classList.remove("autocomplete-active");
    }
}       

function addActive(x) {
    if (!x) return false;
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    x[currentFocus].classList.add("autocomplete-active");
}

 function uniq_fast(a) {
    var seen = {};
    var out = [];
    var len = a.length;
    var j = 0;
    for(var i = 0; i < len; i++) {
        var item = a[i];
        if(seen[item] !== 1) {
            seen[item] = 1;
            out[j++] = item;
            }
        }
    return out;
}

$(document).on("keyup", ".invoice-search", function (e) {
    e.preventDefault();
    var currentFocus;
    var input_element = document.getElementById("invoice-search")
    var url = "/account/live-search-invoice";
    var a, b, i, val = input_element.value;
    var search_item = input_element.value
        $.ajax({
        type: "GET",
        url: url,
        data: {patient_name: search_item}, 
        dataType: 'json',
        success: function (patients_invoices) {
            console.log(patients_invoices);
            if (patients_invoices.length <= 9){
                var invoices = [], range = patients_invoices.length;
            }
            else{
             var invoices = [], range = 10
            }
            for (i = 0; i < range; i++) {
                invoices[i] = patients_invoices[i]['invoice_id'].toString()
            }   
            closeAllLists();
            if (!val) { return false;}
            currentFocus = -1;
            var a = document.createElement("DIV");
            a.setAttribute("id", "autocomplete-list-invoices");
            a.setAttribute("class", "autocomplete-invoices");
            input_element.parentNode.insertBefore(a, input_element.nextSibling);
            if(patients_invoices.length > 0){
                var patients_div = document.createElement("DIV");
                var invoice_from_invoices = [], range = patients_invoices.length;
                var patient_name_from_invoices = [], range = patients_invoices.length;
                var arr_unique_patient_name = [];
                for(i = 0; i < patients_invoices.length; i++){
                    patient_name_from_invoices[i] = patients_invoices[i]['patient_name']
                    arr_unique_patient_name = uniq_fast(patient_name_from_invoices)
                }
                var found_patient_names = [], range = arr_unique_patient_name.length;
                for(i = 0; i < arr_unique_patient_name.length; i++){
                    found_patient_names[i] = patients_invoices.filter(function(single) {
                        return single.patient_name ==  arr_unique_patient_name[i];})
                    }
                let index_invoice_names = 0;
                for (i = 0; i < arr_unique_patient_name.length; i++){

                    var invoice_list = document.createElement("DIV");
                    invoice_list.setAttribute("class", "border p-2");

                    var invoice_list_heading = document.createElement("h3")
                    invoice_list_heading.innerHTML += "<strong>" + arr_unique_patient_name[i].substr(0, val.length) + "</strong>";
                    invoice_list_heading.innerHTML += arr_unique_patient_name[i].substr(val.length) + "<br>";
                    invoice_list.appendChild(invoice_list_heading);
                    
                    for(x=0; x < found_patient_names[i].length; x++){

                        var invoice_id = found_patient_names[i][x]['invoice_id']
                        var sumArr = found_patient_names[i][x]['item_post_values'].split(',');
                        var balance_cent = sum_cent(sumArr) -  found_patient_names[i][x]['credit_cent'];

                        var card = document.createElement("DIV");
                        card.setAttribute("class", "card mb-3")
                        invoice_list.appendChild(card);

                        var card_header = document.createElement("DIV");
                        card_header.classList.add("card-header");
                        card.appendChild(card_header);

                        var card_header_text = document.createElement("P");
                        card_header_text.textContent = found_patient_names[i][x]['patient_name'];
                        card_header_text.style.display =  "inline-block";
                        card_header_text.style.margin = "0"
                        card_header.appendChild(card_header_text);

                        var popover_button = document.createElement("I");
                        popover_button.setAttribute("title", "Balance:");
                        popover_button.setAttribute("data-trigger", "hover");
                        popover_button.setAttribute("data-toggle", "popover");
                        popover_button.setAttribute("data-html", "true");
                        popover_button.classList.add("fa");
                        popover_button.classList.add("fa-info-circle");
                        popover_button.style.float ="right";
                        
                        var html_balance_sheet = "<div>Debit: <span class='bg-danger text-white'>" + (sum_cent(sumArr) / 100).toFixed(2) + "</span><br>Credit: <span class='bg-success text-white'>" + (found_patient_names[i][x]['credit_cent'] / 100).toFixed(2);
                        if(balance_cent == 0){
                            html_balance_sheet += "</span><hr>Balance: <span class='bg-success text-white'>" + (balance_cent / 100).toFixed(2) +  "</div>";
                        }
                        else{
                            html_balance_sheet += "</span><hr>Balance: <span class='bg-danger text-white'>" + (balance_cent / 100).toFixed(2) +  "</div>";
                        }
                        
                        popover_button.setAttribute("data-content", html_balance_sheet);        
                        card_header.appendChild(popover_button);

                        var card_body= document.createElement("DIV");
                        card_body.classList.add("card-body");
                        card.appendChild(card_body);

                        var card_title = document.createElement("h5");
                        card_title.classList.add("card-title");
                        card_title.textContent = found_patient_names[i][x]['invoice_id'];
                        card_body.appendChild(card_title);

                        var card_text = document.createElement("P");
                        card_text.classList.add("card-text");
                        card_text.textContent = "Created on: " + found_patient_names[i][x]['date_created']
                        card_body.appendChild(card_text);

                        var card_text = document.createElement("P");
                        card_text.classList.add("card-text");
                        card_text.textContent = "Invoice date: " + found_patient_names[i][x]['date_invoice']
                        card_body.appendChild(card_text);

                        if(found_patient_names[i][x]['submitted_on']){ 
                                var paragraph_submitted_on = document.createElement("P");
                                paragraph_submitted_on.textContent = "Submitted on: " + found_patient_names[i][x]['submitted_on']
                                card_body.appendChild(paragraph_submitted_on)
                        }
                        else{
                                var submit_button = document.createElement("BUTTON");
                                submit_button.setAttribute("class", "btn btn-primary mr-2 d-inline-block");
                                submit_button.innerHTML = "Submit invoice"
                                submit_button.addEventListener("click", function(){
                                    e.preventDefault();
                                    $.ajax({
                                        type: "GET",
                                        url: '/account/submit-invoice',
                                        data: {invoice_id: invoice_id}, 
                                        dataType: 'json',
                                        success: function (returnData) {
                                            $('.modal-body').text(returnData)
                                            $("#account_modal").modal();
                                        }
                                    })
                                })
                                card_body.appendChild(submit_button)
                        }


                        var open_invoice_button = document.createElement("BUTTON");
                        open_invoice_button.setAttribute("class","btn btn-primary mr-2 d-inline-block")
                        open_invoice_button.innerHTML = "Open"
                        open_invoice_button.addEventListener("click", function(){
                            e.preventDefault()
                            window.location.href = "/account/invoice/" + invoice_id
                        })
                        card_body.appendChild(open_invoice_button)                      
                        
                        var paid_button = document.createElement("BUTTON");
                        credit = (found_patient_names[i][x]['credit_cent'] / 100).toFixed(2) 
                        if(credit){
                            var balance_cent = sum_cent(sumArr) -  found_patient_names[i][x]['credit_cent'];
                            paid_button.setAttribute("value", balance_cent);
                        }
                        else{
                            paid_button.setAttribute("value", sum_cent(sumArr));
                        }   
                        paid_button.setAttribute("class", "btn btn-primary mr-2 d-inline-block");
                        paid_button.innerHTML = "Paid";
                        paid_button.addEventListener("click", function(){
                            e.preventDefault();                    
                            var credit_cent = $(this).val()
                            $.ajax({
                                type: "GET",
                                url: '/account/add-credit-invoice',
                                data: {invoice_id: invoice_id, credit_cent: credit_cent}, 
                                dataType: 'json',
                                success: function (returnData) {
                                    $('.modal-body').text(returnData)
                                    $("#account_modal").modal();
                            
                                }
                            })

                        })
                        card_body.appendChild(paid_button)

                        var invoice_status = document.createElement("P")
                        invoice_status.setAttribute("class", "float-right m-2 text-uppercase font-weight-bold align-middle")
                        invoice_status.textContent = "Status: " + found_patient_names[i][x]['status']          
                        if(found_patient_names[i][x]['status'] == 'due'){
                            invoice_status.classList.add("text-warning");
                        }
                        else if(found_patient_names[i][x]['status'] == 'over-due'){
                            invoice_status.classList.add("text-danger");
                        }
                        else if(found_patient_names[i][x]['status'] == 'settled'){
                            invoice_status.classList.add("text-success");
                        }
                        card_body.appendChild(invoice_status)
                         
                    }
                     patients_div.appendChild(invoice_list);
                }
                a.appendChild(patients_div);  
                $(function () {
                    $('[data-toggle="popover"]').popover()
                })  
            }

    function closeAllLists(elmnt) {
        var x = document.getElementsByClassName("autocomplete-invoices");
        for (var i = 0; i < x.length; i++) {
            if (elmnt != x[i] && elmnt != input_element) {
            x[i].parentNode.removeChild(x[i]);
            }
        }
        
    }
    document.addEventListener("click", function (e) {
        closeAllLists(e.target);
        $('#invoice-search').val('');
    });

        }
    });
});
})
</script>
 {% endblock %}