{% include 'account_bp/index.html' %}
{% block content %}
<div id="account_modal" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Success</h5>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron jumbotron-fluid" style="height:88%; margin:0">
    <div class="container">
        <form autocomplete="off" class="invoice-search">
            <input id="invoice-search" class="form-control mr-sm-2" name="treatment" type="search" placeholder="Search invoices by patient name">
        </form>
        <div id="inside_container" class="align-middle">
        </div>
        <div class="dropdown">
            <button onclick="ffocus()" id="focus" class="dropbtn">Date created</button>
            <div id="fDropdown" class="dropdown-content">
                <li class='focus' data-value='date_created'>Date created</li>
                <li class='focus' data-value='date_invoice'>Invoice date</li>
                <li class='focus' data-value='name'>Patient Name</li>
                <li class='focus' data-value='main'>Main Member</li>        
                <li class='focus' data-value='procedure_date'>Procedure Date</li>
                <li class='focus' data-value='diagnosis_date'>Diagnosis Date</li>
                <li class='focus' data-value='admission'>Admission Date</li>
                <li class='focus' data-value='discharge'>Discharge Date</li>
                <li class='focus' data-value='submitted_on'>Submission Date</li>
                <li class='focus' data-value='debit'>Value</li>
            </div>
          </div> 
        <div class="dropdown">
            <button onclick="order()" id="order" class="dropbtn">Descending</button>
            <div id="oDropdown" class="dropdown-content">
                <li class='order' data-value='ASC'>Ascending</li>
                <li class='order' data-value='DESC'>Descending</li>
            </div>
          </div> 
        <div class="dropdown">
            <button onclick="myFunction()" id="column_option" class="dropbtn">None</button>
            <div id="myDropdown" class="dropdown-content">
                <li class='c_option' data-value='None'>No Criteria</li>
                <li class='c_option' data-value='medical'>Medical</li>
                <li class='c_option' data-value='tariff'>Tariff</li>
                <li class='c_option' data-value='credit'>Credit</li>
                <li class='c_option' data-value='status'>Status</li>
                <li class='c_option' data-value='remind_me'>Remind me</li>
            </div>
        </div> 
        <div id="r_option_div" class="dropdown"></div>
        <div  style="border: olive;border-style: solid;" id="dynamic_list" class="d-flex flex-column"></div>
    </div>
    
</div>
<script>
function closeDropDown(){
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
        }
    }
}



function ffocus() {
    closeDropDown()
    document.getElementById("fDropdown").classList.toggle("show");
}
function order() {
    closeDropDown()
  document.getElementById("oDropdown").classList.toggle("show");
}
function myFunction() {
    closeDropDown()
  document.getElementById("myDropdown").classList.toggle("show");
}
function r_option() {
    closeDropDown()
  document.getElementById("rDropdown").classList.toggle("show");
}


$(document).ready(function(){
    let criteria = ['None','None','date_created','DESC', 0, 10];
    dynamic.apply(this, criteria);




    function r_option_click() {
        var r_option = $(this).data('value');
        $('#row_option').text(r_option)
        criteria[1] = r_option; 
        dynamic.apply(this, criteria);
        }


    $(document).on("click", ".focus", function (e) {
        var focus = $(this).data('value');
            $('#focus').text(focus)
            criteria[2] = focus;
            // console.log(criteria)
            dynamic.apply(this, criteria);     
    })

    $(document).on("click", ".order", function (e) {
        var order = $(this).data('value');
            $('#order').text(order)
            criteria[3] = order;
            // console.log(criteria)
            dynamic.apply(this, criteria);     
    })

    $(document).on("click", ".c_option", function (e) {
        var c_option = $(this).data('value');
        var div = document.getElementById("r_option_div")
        if(c_option == 'None'){
            $('#column_option').text(c_option)
            criteria[0] = c_option;
            dynamic.apply(this, criteria);
            div.innerHTML = '';
        }
        else{
            $.ajax({
                    type: "GET",
                    url: '/account/check-r-option',
                    data: {c_option: c_option}, 
                    dataType: 'json',
                    success: function (returnData) {
                        $('#column_option').text(c_option)
                        criteria[0] = c_option;
                        div.innerHTML = '';
                        var button = document.createElement("BUTTON");
                        button.addEventListener("click", r_option, false);
                        button.setAttribute("id", "row_option");
                        button.setAttribute("class", "dropbtn");
                        button.textContent = "Row options";
                        var wrapper_li = document.createElement("DIV");
                        wrapper_li.setAttribute("id", "rDropdown");
                        wrapper_li.setAttribute("class", "dropdown-content");
                        for (let i = 0; i < returnData['r_option'].length; i++) {
                            const element = returnData['r_option'][i];
                            // console.log(element[c_option])
                            var li = document.createElement("LI");
                            li.setAttribute("class", "r_option")
                            li.setAttribute("data-value", element[c_option])
                            li.addEventListener("click", r_option_click, false);
                            li.textContent = element[c_option]
                            wrapper_li.appendChild(li);
                        }
                        div.appendChild(button);
                        div.appendChild(wrapper_li);
                    }
                })
        }
    })


        window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
            }
            }
        }
        } 

    function dynamic(c_option, r_option, focus, order, start, range){
        $( "#dynamic_list" ).load( "/account/all-invoices/" + c_option + "/" + r_option + '/' + focus + '/' + order + '/' + start + '/' + range, function(){
        });
    }
    
    var messages = "{{ get_flashed_messages() }}";
            if (typeof messages != 'undefined' && messages != '[]') {
                $("#account_modal").modal();
            };

    function sum(input){
             if (toString.call(input) !== "[object Array]")
                return false;
                        var total =  0;
                        for(var i=0;i<input.length;i++)
                          {                  
                            if(isNaN(input[i])){
                            continue;
                             }
                              total += Number(input[i]);
                           }
                         return total;
                        }


    function removeActive(x) {
    for (var i = 0; i < x.length; i++) {
        x[i].classList.remove("autocomplete-active");
    }
}       

function addActive(x) {
    if (!x) return false;
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    x[currentFocus].classList.add("autocomplete-active");
}

 function uniq_fast(a) {
    var seen = {};
    var out = [];
    var len = a.length;
    var j = 0;
    for(var i = 0; i < len; i++) {
        var item = a[i];
        if(seen[item] !== 1) {
            seen[item] = 1;
            out[j++] = item;
            }
        }
    return out;
}

$(document).on("keyup", ".invoice-search", function (e) {
    e.preventDefault();
    var currentFocus;
    var input_element = document.getElementById("invoice-search")
    var url = "/account/live-search-invoice";
    var a, b, i, val = input_element.value;
    var search_item = input_element.value
        $.ajax({
        type: "GET",
        url: url,
        data: {name: search_item}, 
        dataType: 'json',
        success: function (returnData) {
            if (returnData.invoices.length <= 9){
              var invoices = [], range = returnData.invoices.length;
            }
            else{
             var invoices = [], range = 10
            }
            for (i = 0; i < range; i++) {
                invoices[i] = returnData.invoices[i]['invoice'].toString()
            }   
            closeAllLists();
            if (!val) { return false;}
            currentFocus = -1;
            var a = document.createElement("DIV");
            a.setAttribute("id", "autocomplete-list-invoices");
            a.setAttribute("class", "autocomplete-invoices");
            input_element.parentNode.insertBefore(a, input_element.nextSibling);
            if(returnData.invoices.length > 0){
                var patient_div = document.createElement("DIV");
                var invoice_from_invoices = [], range = returnData.invoices.length;
                var patient_name_from_invoices = [], range = returnData.invoices.length;
                var arr_unique_patient_name = [];
                for(i = 0; i < returnData.invoices.length; i++){
                    patient_name_from_invoices[i] = returnData.invoices[i]['name']
                    arr_unique_patient_name = uniq_fast(patient_name_from_invoices)
                }
                var found_patient_names = [], range = arr_unique_patient_name.length;
                for(i = 0; i < arr_unique_patient_name.length; i++){
                    found_patient_names[i] = returnData.invoices.filter(function(single) {
                        return single.name ==  arr_unique_patient_name[i];})
                    }
                let index_invoice_names = 0;
                for (i = 0; i < arr_unique_patient_name.length; i++){
                    var invoice_div = document.createElement("DIV");
                    invoice_div.innerHTML += "<strong>" + arr_unique_patient_name[i].substr(0, val.length) + "</strong>";
                    invoice_div.innerHTML += arr_unique_patient_name[i].substr(val.length) + "<br>";
                    for(x=0; x < found_patient_names[i].length; x++){
                        var sumArr = found_patient_names[i][x]['values'].split(',');
                        var flex_wrapper = document.createElement("DIV");
                        flex_wrapper.style.margin = "2rem";
                        var single_balance_wrapper = document.createElement("DIV");
                        single_balance_wrapper.style.display = "flex";
                        single_balance_wrapper.style.justifyContent = "space-between";
                        single_balance_wrapper.style.alignItems = "center";
                        var paragraph_info_wrapper = document.createElement("DIV");
                        var action_wrapper = document.createElement("DIV");
                        var balance_wrapper = document.createElement("DIV");

                        
                        var paragraph_invoice = document.createElement("P");
                        paragraph_invoice.textContent = found_patient_names[i][x]['invoice']
                        paragraph_info_wrapper.appendChild(paragraph_invoice)

                        var paragraph_invoice_created = document.createElement("P");
                        paragraph_invoice_created.style.marginBottom = "0.5rem";
                        paragraph_invoice_created.textContent = "Created on: " + found_patient_names[i][x]['date_created'];
                        paragraph_info_wrapper.appendChild(paragraph_invoice_created)
                        
                        var paragraph_invoice_date = document.createElement("P");
                        paragraph_invoice_date.style.marginBottom = "0.5rem";
                        paragraph_invoice_date.textContent = "Invoice date: " +found_patient_names[i][x]['date_invoice']
                        paragraph_info_wrapper.appendChild(paragraph_invoice_date)
                        
                        var paragraph_invoice_items = document.createElement("P");
                        paragraph_invoice_items.style.marginBottom = "0.5rem";
                        paragraph_invoice_items.textContent = "Treatment codes: " +found_patient_names[i][x]['treatments']
                        paragraph_info_wrapper.appendChild(paragraph_invoice_items)

                        
                        var paragraph_sum_debit = document.createElement("P");
                        paragraph_sum_debit.style.textAlign = "right";
                        paragraph_sum_debit.style.marginBottom = "0.5rem";
                        paragraph_sum_debit.style.color = "green";
                        var paragraph_sum_credit = document.createElement("P");
                        paragraph_sum_credit.style.marginBottom = "0";
                        paragraph_sum_credit.style.color = "red";
                        var paragraph_sum_line = document.createElement("HR");
                        paragraph_sum_line.style.margin = "0";
                        var paragraph_balance = document.createElement("P");
                        
                        var input_field = document.createElement("INPUT");
                        input_field.setAttribute("type", "hidden")
                        input_field.value = found_patient_names[i][x]['invoice']
                        action_wrapper.appendChild(input_field)
                        var open_invoice_button = document.createElement("BUTTON");
                        open_invoice_button .setAttribute("class", "open_invoice_button");
                        open_invoice_button .setAttribute("value", found_patient_names[i][x]['invoice']);
                        open_invoice_button.innerHTML = "Open"
                        action_wrapper.appendChild(open_invoice_button)
                        if(found_patient_names[i][x]['submitted_on']){ 
                                var paragraph_submitted_on = document.createElement("P");
                                paragraph_submitted_on.textContent = "Submitted on: " + found_patient_names[i][x]['submitted_on']
                                paragraph_info_wrapper.appendChild(paragraph_submitted_on)
                            }
                            else{
                                var submit_button = document.createElement("BUTTON");
                                submit_button.setAttribute("class", "submit_button_invoice");
                                submit_button.innerHTML = "Submit invoice"
                                action_wrapper.appendChild(submit_button)
                            }

                        var paid_button = document.createElement("BUTTON");
                        if(found_patient_names[i][x]['credit']){
                            var balance = sum(sumArr).toFixed(2) - found_patient_names[i][x]['credit'];
                            paid_button.setAttribute("value", balance.toFixed(2));
                        }
                        else{
                            paid_button.setAttribute("value", sum(sumArr).toFixed(2));
                        }   
                        paid_button.setAttribute("class", "paid_button");
                        paid_button.innerHTML = "Paid";


                        if(found_patient_names[i][x]['credit'] == sum(sumArr).toFixed(2)){
                            var paragraph_paid = document.createElement("P");
                            paragraph_paid.textContent = "Paid"
                            flex_wrapper.appendChild(paragraph_paid)
                        }
                        else if(found_patient_names[i][x]['credit'] ){
                            paragraph_balance.textContent = found_patient_names[i][x]['credit'].toFixed(2)
                            action_wrapper.appendChild(paid_button)
                        }
                        else{
                            action_wrapper.appendChild(paid_button)
                        }
                        
                        
                        if(found_patient_names[i][x]['credit']){
                            paragraph_sum_debit.textContent = found_patient_names[i][x]['credit'];
                            paragraph_balance.textContent = sum(sumArr).toFixed(2) - found_patient_names[i][x]['credit'].toFixed(2);
                        }
                        else{
                            paragraph_sum_debit.textContent = (0).toFixed(2)
                            paragraph_balance.textContent = sum(sumArr).toFixed(2)
                        }

                        paragraph_sum_credit.textContent = sum(sumArr).toFixed(2)
                        balance_wrapper.appendChild(paragraph_sum_credit)
                        balance_wrapper.appendChild(paragraph_sum_debit)
                        balance_wrapper.appendChild(paragraph_sum_line)
                        balance_wrapper.appendChild(paragraph_balance)

                        invoice_div.appendChild(flex_wrapper)
                        flex_wrapper.appendChild(single_balance_wrapper)

                        single_balance_wrapper.appendChild(paragraph_info_wrapper)
                        single_balance_wrapper.appendChild(balance_wrapper)
                        flex_wrapper.appendChild(action_wrapper)  
                         
                    }
                    patient_div.appendChild(invoice_div);
                }
                a.appendChild(patient_div);    
            }

    function closeAllLists(elmnt) {
        var x = document.getElementsByClassName("autocomplete-invoices");
        for (var i = 0; i < x.length; i++) {
            if (elmnt != x[i] && elmnt != input_element) {
            x[i].parentNode.removeChild(x[i]);
            }
        }
        
    }
    document.addEventListener("click", function (e) {
        closeAllLists(e.target);
        $('#invoice-search').val('');
    });

        }
    });
});


$(document).on("click", ".open_invoice_button", function (e) {
        e.preventDefault()
        var invoice_name = $(this).val()
        window.location.href = "/account/invoice/" + invoice_name
        });


    $(document).on("click", ".submit_button_invoice", function (e) {
            e.preventDefault();
            var invoice_name = $(this).siblings('input').val();
            $.ajax({
                type: "GET",
                url: '/account/submit-invoice',
                data: {invoice_name: invoice_name}, 
                dataType: 'json',
                success: function (returnData) {
                    $('.modal-body').text(returnData)
                    $("#account_modal").modal();
                }
            })
        })

        $(document).on("click", ".paid_button", function (e) {
            e.preventDefault();
            var invoice_name = $(this).siblings('input').val();
            var credit = $(this).val()
            $.ajax({
                type: "GET",
                url: '/account/add-credit-invoice',
                data: {invoice_name: invoice_name, credit: credit}, 
                dataType: 'json',
                success: function (returnData) {
                    console.log(returnData)
                    $('.modal-body').text(returnData)
                    $("#account_modal").modal();
            
                }
            })
        })
})
</script>
 {% endblock %}