{% extends 'layout.html' %}
{% block content %}
<div class="container"> 
    <br>
    <br>
    <h3>Create new patient</h3>  
    <select class="medical custom-select w-25">
        <option value="0">Select medical aid</option>
        <option value="psemas">PSEMAS</option>
        <option value="mva">MVA</option>
        <option value="other">OTHER</option>
    </select>
    <form method=post autocomplete="off" id="newInvoice_mva" class="mva" style="display:none">     
        {{ form_mva.hidden_tag() }}
        {{ form_mva.medical(style='display:none') }}
        <br>
        {{ form_mva.tariff.label }} {{ form_mva.tariff(class_="tariff custom-select w-25") }}
        <br>
        {{ form_mva.name.label(for="name") }} {{ form_mva.name(class_="form-control w-25 p-3") }}
        {{ form_mva.case.label(for="case") }} {{ form_mva.case(class_="form-control w-25 p-3") }}
        {{ form_mva.po.label }} {{ form_mva.po(class_="form-control w-25 p-3") }}
        {% if 4 <= layout_code <= 9 %}
            {{ form_mva.hospital.label }} {{ form_mva.hospital(class_="form-control w-25 p-3") }}
            {{ form_mva.admission.label }} {{ form_mva.admission(class_="form-control w-25 p-3") }}
            {{ form_mva.discharge.label }} {{ form_mva.discharge(class_="form-control w-25 p-3") }}
        {% endif %}
        {% if 7 <= layout_code <= 12 %}
            {{ form_mva.diagnosis.label }} {{ form_mva.diagnosis(class_="form-control w-25 p-3") }}
            {{ form_mva.diagnosis_date.label }} {{ form_mva.diagnosis_date(class_="form-control w-25 p-3") }}
            {{ form_mva.procedure.label }} {{ form_mva.procedure(class_="form-control w-25 p-3") }}
            {{ form_mva.procedure_date.label }} {{ form_mva.procedure_date(class_="form-control w-25 p-3") }}
            {{ form_mva.implants.label }} {{ form_mva.implants(class_="form-control w-25 p-3") }}
            {{ form_mva.intra_op.label }} {{ form_mva.intra_op(class_="form-control w-25") }}
            {{ form_mva.post_op.label }} {{ form_mva.post_op(class_="form-control w-25 p-3") }}
        {% endif %}
        {{ form_mva.date.label }} {{ form_mva.date(id='date_mva', class_="form-control w-25 p-3") }}
        <br>
        {{ form_mva.submit(class_="btn btn-success") }}
    </form>  
    <form method=post autocomplete="off" id="newInvoice_psemas" class="psemas" style="display:none"> 
        {{ form_psemas.hidden_tag() }}
        {{ form_psemas.medical(style='display:none') }}
        <br>
        {{ form_psemas.tariff.label }} {{ form_psemas.tariff(class_="tariff custom-select w-25") }}
        <br>
        {{ form_psemas.name.label }} {{ form_psemas.name(class_="form-control w-25 p-3") }}
        {{ form_psemas.main.label }} {{ form_psemas.main(class_="form-control w-25 p-3") }}
        {{ form_psemas.dob.label }} {{ form_psemas.dob(class_="form-control w-25 p-3") }}
        {{ form_psemas.number.label }} {{ form_psemas.number(class_="form-control w-25 p-3") }}
        {{ form_psemas.date.label }} {{ form_psemas.date(id='date_psemas', class_="form-control w-25 p-3") }}
        <br>
        {{ form_mva.submit(class_="btn btn-success") }}
    </form>  
    <form  method=post autocomplete="off" id="newInvoice_other" class="other" style="display:none">  
        {{ form_other.hidden_tag() }}
        <br>     
        {{form_other.medical.label}}  {{ form_other.medical(class_="form-control w-25 p-3") }}
        <br> 
        {{ form_other.tariff.label }} {{ form_other.tariff(class_="tariff custom-select w-25") }}
        <br>
        {{ form_other.name.label }} {{ form_other.name(class_="form-control w-25 p-3") }}
        {{ form_other.main.label }} {{ form_other.main(class_="form-control w-25 p-3") }}
        {{ form_other.dob.label }} {{ form_other.dob(class_="form-control w-25 p-3") }}
        {{ form_other.number.label }} {{ form_other.number(class_="form-control w-25 p-3") }}
        {{ form_other.date.label }} {{ form_other.date(id='date_other', class_="form-control w-25 p-3") }}
        <br>
        {{ form_other.submit(class_="btn btn-success") }}
    </form>  
</div>
<script>

    $(document).ready(function() {
        $('.tariff').prepend($('<option value="" disabled hidden selected>Choose tariff</option>'));
        $('.other').children('#date_other').datepicker({dateFormat: 'dd.mm.yy'})
        $('.mva').children('#date_mva').datepicker({dateFormat: 'dd.mm.yy'})
        $('.psemas').children('#date_psemas').datepicker({dateFormat: 'dd.mm.yy'})
        $(document).on('change', '.medical',function() {
            var selection = $(this).val()
            if(selection == 'psemas'){
                $('.mva').css("display","none")
                $('.other').css("display","none")
                $('.psemas').css("display","block")
                $( ".psemas" ).children('#medical').val(selection)

            }else if(selection == 'mva'){
                $('.psemas').css("display","none")
                $('.other').css("display","none")
                $('.mva').css("display","block")
                $( ".mva" ).children('#medical').val(selection)

            }else if(selection =='other'){
                $('.psemas').css("display","none")
                $('.mva').css("display","none")
                $('.other').css("display","block")
            }else{
                console.log("nothing selected")}
        })

        // $('.psemas').submit(function (e) {
        //     e.preventDefault();
        //     var url = "";
        //         $.ajax({
        //         type: "POST",
        //         url: url,
        //         data: $('.psemas').serialize(), 
        //         success: function (refData) {window.location.href = "/patient/" + refData.data.name.toString() +"/new-invoice";
        //         }
        //     });
        // })           

        // $('.other').submit(function (e) {
        //     e.preventDefault();
        //     var url = "";
        //     $.ajax({
        //         type: "POST",
        //         url: url,
        //         data: $('.other').serialize(), 
        //         success: function (refData) {window.location.href = "/patient/" + refData.data.name.toString() +"/new-invoice";
        //         }
        //     });
        // })

        // $('.mva').submit(function (e) {
        //     e.preventDefault(); 
        //     var url = "";
        //     console.log($('.mva').serialize()) 
        //     $.ajax({
        //         type: "POST",
        //         url: url,
        //         data: $('.mva').serialize(), 
        //         success: function (refData) {window.location.href = "/patient/" + refData.data.name.toString() +"/new-invoice";
        //         }
        //     });
        // });

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ form_mva.csrf_token._value() }}")
                }
            }
        })
    });

</script>
 {% endblock %}