{% extends 'layout.html' %}

{% block content %}
<div class="container personal_style" id="container_id">
    <h3>Patient Name: {{patient}}</h3>
        {% if medical =='mva' %}
            <p>Medical Aid: {{medical}}<br>
            Tariff: {{tariff}}<br>
            Case Number: {{case}}<br>
            PO: {{po}}<br>
            Date of invoice: {{date}}</p>    
        {% elif medical =='psemas' %}
            <p>Medical Aid: {{medical}}<br>
            Tariff: {{tariff}}<br>
            Main Member: {{main}}<br>
            Medical Aid Number: {{number}}<br>
            Date of Birth: {{dob}}<br>
            Date of invoice: {{date}}</p>
        {% else %}
            <p>Medical Aid: {{medical}}<br>
            Tariff: {{tariff}}<br>
            Main Member: {{main}}<br>
            Medical Aid Number: {{number}}<br>
            Date of Birth: {{dob}}<br>
            Date of invoice: {{date}}</p>
        {% endif %}
        
    <br>

    <form autocomplete="off" id="NewOrderForm" class="form">   
        {{ form.hidden_tag() }}
        <table class="table table-striped">
            <tbody class="tbodyClone">
                <tr id="clonedInput0" class="clonedInput form-inline col-md-6">
                    <td class= 'col-md-6'>{{  form.treatments(id='treatment-0', class='treatment form-control')  }}</td>
                    <td>{{  form.price(id='value-0', class='value form-control')  }}</td>
		            <td>
                        <input value = "30%" type="button" class="thirty">
                        <input value = "40%" type="button" class="fourty inline"> 
                    </td>
                    <td>{{  form.modifier(id='modifier-0', class='form-control')  }}</td>
                    <td>{{  form.date(id='date-0', class='datepicker form-control', placeholder="DD/MM/YYYY")  }}</td>
                    <td>
                        <input id="btnDel_0" value="Delete" type="button" style="width:100px" class="remove">
                    </td>
                </tr>
            </tbody>
        </table>
        <input id="btnAdd_0" value="Add treatment" type="button" style="widows: 200pxpx" class="clone">
        <br><br>
        <div>{{ form.submit }}</div>
        <span>Result: <span id="result"></span></span><span><input id="download_invoice" value="Download invoice" type="button" style="display:none;"></span>
    </form>  
    <br><br><br><br>
</div>

<script>
$(document).ready(function(){
    var regex = /^(.*)(\d)+$/i; 
    if('{{invoice}}' !== null){
        var treatments = '{{treatments}}'
        var t = treatments.split(",")
        var d = '{{dates}}'.split(",")
        console.log(d)
        var cloneIndex = 0
        $.each(t, function(index, value) {        
            $.ajax({
                url: '/get-value',
                type: "GET",
                cache: false,
                data: { item: t[index] },
            success: function(data) {
                var data = $.parseJSON(data)
                $('#value-' + index).val(data['value'])
                return data;
                }
            });


        // for (var i = 0; i < t.length; i++){
            cloneIndex = index + 1 
            clone()
            $('select#treatment-'+ (cloneIndex -1)).prepend($('<option value="" disabled hidden selected>Choose treatment</option>'));
            $('select#treatment-'+ (cloneIndex -2) + ' option[value='+t[index]+']').attr("selected",true);
           
        })
    }

    // $('.treatment').prepend($('<option value="" disabled hidden selected>Choose treatment</option>')); 

    function addSubmit(ev) {
        ev.preventDefault();   
        if ($('form').data('submitted') === true) {
            console.log("form is submitted ")
            ev.preventDefault();
        } else {
            $.ajax({
            method: 'POST',
            url: '/generate-invoice',
            data: $('form').serialize(),
        }).done(addShow);
      $('form').data('submitted', true);
        }
    }

    $(document).on("click", "#download_invoice", function(){
        $('head').append('<meta http-equiv="refresh" content="1;url=/download-invoice/' + Math.floor(Math.random() * 10000) + '"/>');
        })
    function addShow(data) {
      $('#result').text(data.result);
      if(data.result =='success'){
          $('#download_invoice').css('display', 'block')
      }
    }

    $('#NewOrderForm').on('submit', addSubmit);

    $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
                }
            }
        })

    // var regex = /^(.*)(\d)+$/i; 
    var cloneIndex = $(".clonedInput").length; // count how many rows there are
    // console.log("This cloneIndex is just below the var: " + cloneIndex)
    // if there's only one table row, do not show the 'remove' button
    if ($(".clonedInput").length == 1) {
        $('.remove').hide();
    } else {
        $('.remove').show();
    }
    function clone() {
        $(".clonedInput").last().clone()
            .appendTo(".tbodyClone") // copied table row is added <tbody>
            .attr("id", "clonedInput" + cloneIndex) // for each table row, id is incremented
            .find("*") // return all descendant elements of selected element.
            .each(function () { 
                // console.log("T`his is the clone index of inside each funtin: " + cloneIndex)
                 // execute function for each matched element
                 var id = this.id || ""; // I'm guessing this makes id a string?
                 var match = id.match(regex) || []; // searches a string against a regular,         
                                                //expression and assigns results to var match as 
                                               //list. Example result 
                                              //["clonedInputNN","clonedInput","NN"]
                //  console.log(match)
                 if (match.length == 3) {
                     this.id = match[1] + (cloneIndex);    // match[1] would be the string with the numbers stripped out
                    // console.log(this)
                 }
                 var name = this.name || ""; 
                //  console.log(name)
                 var match2 = name.match(regex) || []; 
                //  console.log(match2)
                 if (match2.length == 3) {
                     this.name = match2[1] + (cloneIndex);
                    //  console.log
                    //  console.log(cloneIndex)   
                 }


                //  if (this.className.includes("treatment")){
                //     this.prepend($('<option value="" disabled hidden selected>Choose treatment</option>'))
                //  }
                 if (this.className.includes("value")){
                    this.value = ''
                 } 
                 if (this.className.includes("datepicker")){
                    this.value = ''
                 } 
                 if (this.className.includes("thirty") || (this.className.includes("fourty"))){
                    this.style.backgroundColor = "white";
                 } 
            }            
            )
            .on('click', 'clone', clone)
            .on('click', 'remove', remove);
            
        cloneIndex++;
        // console.log("And this one is where it counts: " + cloneIndex)
      
        if ($(".clonedInput").length == 1) {
            $('.remove').hide();
        } else {
            $('.remove').show();
        }
        $(document).scrollTop($(document).height());
    }
    function remove() {        
        $(this).parents(".clonedInput").remove();

        if ($(".clonedInput").length == 1) {
            $('.remove').hide();
        } else {
            $('.remove').show();
        }

    }

    function addPremium(object, id, percent){
        var current_value = parseFloat(object.parent().parent().children().children(".value").val());
	   	let plus_premium = current_value.toFixed(3) * percent;
	  	object.parent().parent().children().children(".value").val(plus_premium.toFixed(2));
        object.siblings().css('background-color', 'white');
        object.css('background-color', 'green');
        value_edit[id] = {
            id: id,
            value: current_value,
            edit: true,
            last: percent
            };
        console.log(value_edit);
    }

    function subtractPremium(object, id){
        current_value = value_edit[id].value;
        object.parent().parent().children().children(".value").val(current_value.toFixed(2));
		object.css('background-color', 'white');
        object.siblings().css('background-color', 'white');
 	    value_edit[id]={
            id: id,
            value: current_value,
            edit: false,
        }
        console.log(value_edit);
    }

    function replacePremium(object, id, percent){
        original_value = value_edit[id].value;
        let plus_premium = original_value.toFixed(3) * percent;
	  	object.parent().parent().children().children(".value").val(plus_premium.toFixed(2));
        object.siblings().css('background-color', 'white');
        object.css('background-color', 'green');
        value_edit[id] = {
            id: id,
            value: original_value,
            edit: true,
            last: percent
            };
        console.log(value_edit);
    }

    function checkState(object, id, percent){    
	    if (typeof value_edit[id] !== 'undefined'){
		    if(value_edit[id].edit == false){
                addPremium(object, id, percent)
		    }
		    else if (value_edit[id].last == percent){
                subtractPremium(object, id)  
		    }
            else{
                replacePremium(object, id, percent)          
            }
		}
	    else{
                addPremium(object, id, percent)
	   }
    }

    var value_edit = [];

    $(document).on('click', '.thirty', function(){
        var percent = 1.3;
        var get_id_from_html = $(this).parent().parent().attr('id');
        var id = get_id_from_html.match(regex)[2]
        var object = $(this)
        checkState(object, id, percent)
    })

    

    $(document).on('click', '.fourty', function(){
        var percent = 1.4;
        var get_id_from_html = $(this).parent().parent().attr('id');
        var id = get_id_from_html.match(regex)[2]
        var object = $(this)
        checkState(object, id, percent)
    })


    $('.thirty').hide();
	$('.fourty').hide();
    var sibling_of_value = null; 
    $(document).on('change', '.treatment',function() {
        $('.datepicker' ).datepicker({dateFormat: 'dd.mm.yy'});
	    	$('.thirty').show()
	    	$('.fourty').show()
		    sibling_of_value = $(this);
            if($(this).val()!= 0){
                $.getJSON('/get-value', {
        	        item: $(this).val()			
                }, function(data) {
                        $(sibling_of_value).parent().parent().children().children(".value").val(data.value.toFixed(2));
                    });
            }
            else{
                $(sibling_of_value).parent().parent().children().children(".value").val("");
            }
      		
      return false;
    });


    $(document).on("click", ".clone", clone);
    $(document).on("click", ".remove", remove);
    $(document).on("click", ".datepicker", function() {
        $(this).removeClass('hasDatepicker');
        $(this).datepicker({dateFormat: 'dd.mm.yy'}).datepicker( "show" );
});
   });

</script>

{% endblock %}
