{% extends 'layout.html' %}
{% block content %}
<div class="container personal_style" id="container_id">
    <br>
    <h3>Patient Name: {{patient}}</h3>
        {% if  session['PATIENT']['medical'] =='mva' %}
            <p>Medical Aid: {{ session['PATIENT']['medical'] }}</p>
            <p>Tariff: {{ session['PATIENT']['tariff'] }}</p>
            <p>Case Number: {{ session['PATIENT']['case'] }}</p>
            <p>PO: {{ session['PATIENT']['po'] }}</p>
            <p>Invoice created: {{ session['PATIENT']['date_created'] }}</p>   

            {% if 4 <= layout_code <= 9 %}
            <div style="max-width: 600px;">
                <div style="display: flex;"><div style="display: flex; align-items: center; flex-shrink: 0;">Hopital:<p style = "margin:0 10px 0 10px; align-items: center;">{{ session['PATIENT']['hospital'] }}</p></div><div style="width:100%;display:flex; justify-content:right"><button class="btn unhide_change"><i class="fa fa-edit"></i> Edit</button><input class="mva_input" style="display: none;" type="text" name="hospital" value="{{ session['PATIENT']['hospital'] }}"><input style="display:none;" class="change_session" type="button" value="Change"><input style="display:none;" class="cancel_change" type="button" value="Cancel"></div></div>

                <div style="display: flex; justify-content:space-between"><div style="display: flex; align-items: center;flex-shrink: 0; ">Admission Date:<p style = "margin:0 10px 0 10px; align-items: center;">{{ session['PATIENT']['admission'] }}</p></div><div style="width:100%;display:flex; justify-content:right"><button style="justify-content: flex-end;"class="btn unhide_change"><i class="fa fa-edit"></i> Edit</button><input id="admission" class="mva_input" style="display: none;" type="text" name="admission" value="{{ session['PATIENT']['admission'] }}"><input style="display:none;" class="change_session" type="button" value="Change"><input style="display:none;" class="cancel_change" type="button" value="Cancel"></div></div>

                <div style="display: flex; justify-content:space-between"><div style="display: flex; align-items: center; flex-shrink: 0;">Discharge Date: <p style = "margin:0 10px 0 10px; align-items: center;">{{ session['PATIENT']['discharge'] }}</p></div><div style="width:100%;display:flex; justify-content:right"><button style="float: right;" class="btn unhide_change"><i class="fa fa-edit"></i> Edit</button><input id="discharge" class="mva_input" style="display: none;" type="text" name="discharge" value="{{ session['PATIENT']['discharge'] }}"><input style="display:none;" class="change_session" type="button" value="Change"><input style="display:none;" class="cancel_change" type="button" value="Cancel"></div></div>
            </div>
            {% endif %}

            {% if 7 <= layout_code <= 12  %}
            <div style="max-width: 600px;">
                <div style="display: flex; align-items: center;"><div style="display: flex; align-items: center; flex-shrink: 0;">Diagnosis: <p style = "margin:0 10px 0 10px; align-items: center;">{{ session['PATIENT']['diagnosis'] }}</p></div><div style="width:100%;display:flex; justify-content:right"><button style="float: right;" class="btn unhide_change"><i class="fa fa-edit"></i> Edit</button><input class="mva_input" style="display: none;"  type="text" name="diagnosis" value="{{ session['PATIENT']['diagnosis']}}"><input style="display:none;" class="change_session" type="button" value="Change"><input style="display:none;" class="cancel_change" type="button" value="Cancel"></div></div>

                <div style="display: flex; align-items: center;"><div style="display: flex; align-items: center; flex-shrink: 0;">Diagnosis Date: <p style = "margin:0 10px 0 10px; align-items: center;">{{ session['PATIENT']['diagnosis_date'] }}</p></div><div style="width:100%;display:flex; justify-content:right"><button style="float: right;" class="btn unhide_change"><i class="fa fa-edit"></i> Edit</button><input id="diagnosis_date" class="mva_input" style="display: none;" type="text" name="diagnosis_date" value="{{ session['PATIENT']['diagnosis_date'] }}"><input style="display:none;" class="change_session" type="button" value="Change"><input style="display:none;" class="cancel_change" type="button" value="Cancel"></div></div>

                <div style="display: flex; align-items: center;"><div style="display: flex; align-items: center; flex-shrink: 0;">Procedure: <p style = "margin:0 10px 0 10px; align-items: center;">{{ session['PATIENT']['procedure'] }}</p></div><div style="width:100%;display:flex; justify-content:right"><button style="float: right;" class="btn unhide_change"><i class="fa fa-edit"></i> Edit</button><input class="mva_input" style="display: none;" type="text" name="procedure" value="{{ session['PATIENT']['procedure']}}"><input style="display:none;" class="change_session" type="button" value="Change"><input style="display:none;" class="cancel_change" type="button" value="Cancel"></div></div>

                <div style="display: flex; align-items: center;"><div style="display: flex; align-items: center; flex-shrink: 0;">Procedure Date: <p style = "margin:0 10px 0 10px; align-items: center;">{{ session['PATIENT']['procedure_date'] }}</p></div><div style="width:100%;display:flex; justify-content:right"><button style="float: right;" class="btn unhide_change"><i class="fa fa-edit"></i> Edit</button><input id="procedure_date" class="mva_input" style="display: none;"  type="text" name="procedure_date" value="{{ session['PATIENT']['procedure_date'] }}"><input style="display:none;" class="change_session" type="button" value="Change"><input style="display:none;" class="cancel_change" type="button" value="Cancel"></div></div>

                <div style="display: flex; align-items: center;"><div style="display: flex; align-items: center; flex-shrink: 0;">Implants: <p style = "margin:0 10px 0 10px; align-items: center;">{{ session['PATIENT']['implants'] }}</p></div><div style="width:100%;display:flex; justify-content:right"><button style="float: right;" class="btn unhide_change"><i class="fa fa-edit"></i> Edit</button><input class="mva_input" style="display: none;"  type="text" name="implants" value="{{ session['PATIENT']['implants'] }}"><input style="display:none;" class="change_session" type="button" value="Change"><input style="display:none;" class="cancel_change" type="button" value="Cancel"></div></div>

                <div style="display: flex; align-items: center;"><div style="display: flex; align-items: center; flex-shrink: 0;">Intra-OP Imaging: <p style = "margin:0 10px 0 10px; align-items: center;">{{ session['PATIENT']['intra_op'] }}</p></div><div style="width:100%;display:flex; justify-content:right"><button style="float: right;" class="btn unhide_change"><i class="fa fa-edit"></i> Edit</button><input class="mva_input" style="display: none;" type="text" name="intra_op" value="{{ session['PATIENT']['intra_op'] }}"><input style="display:none;" class="change_session" type="button" value="Change"><input style="display:none;" class="cancel_change" type="button" value="Cancel"></div></div>

                <div style="display: flex; align-items: center;"><div style="display: flex; align-items: center; flex-shrink: 0;">Post-OP Imaging: <p style = "margin:0 10px 0 10px; align-items: center;">{{ session['PATIENT']['post_op'] }}</p></div><div style="width:100%;display:flex; justify-content:right"><button style="float: right;" class="btn unhide_change"><i class="fa fa-edit"></i> Edit</button><input class="mva_input" style="display: none;" type="text" name="post_op" value="{{ session['PATIENT']['post_op'] }}"><input style="display:none;" class="change_session" type="button" value="Change"><input style="display:none;" class="cancel_change" type="button" value="Cancel"></div></div>
            </div>
            {% endif %}

        {% elif session['PATIENT']['medical'] =='psemas' %}
            <p>Medical Aid: {{ session['PATIENT']['medical'] }}<br>
            Tariff: {{ session['PATIENT']['tariff'] }}<br>
            Main Member: {{ session['PATIENT']['main'] }}<br>
            Medical Aid Number: {{ session['PATIENT']['number'] }}<br>
            Date of Birth: {{ session['PATIENT']['dob'] }}<br>
            Invoice created: {{ session['PATIENT']['date_created'] }}</p>

            {% if 4 <= layout_code <= 9 %}
            <div style="max-width: 600px;">
                <div style="display: flex;"><div style="display: flex; align-items: center; flex-shrink: 0;">Hopital:<p style = "margin:0 10px 0 10px; align-items: center;">{{ session['PATIENT']['hospital'] }}</p></div><div style="width:100%;display:flex; justify-content:right"><button class="btn unhide_change"><i class="fa fa-edit"></i> Edit</button><input class="mva_input" style="display: none;" type="text" name="hospital" value="{{ session['PATIENT']['hospital'] }}"><input style="display:none;" class="change_session" type="button" value="Change"><input style="display:none;" class="cancel_change" type="button" value="Cancel"></div></div>

                <div style="display: flex; justify-content:space-between"><div style="display: flex; align-items: center;flex-shrink: 0; ">Admission Date:<p style = "margin:0 10px 0 10px; align-items: center;">{{ session['PATIENT']['admission'] }}</p></div><div style="width:100%;display:flex; justify-content:right"><button style="justify-content: flex-end;"class="btn unhide_change"><i class="fa fa-edit"></i> Edit</button><input id="admission" class="mva_input" style="display: none;" type="text" name="admission" value="{{ session['PATIENT']['admission'] }}"><input style="display:none;" class="change_session" type="button" value="Change"><input style="display:none;" class="cancel_change" type="button" value="Cancel"></div></div>

                <div style="display: flex; justify-content:space-between"><div style="display: flex; align-items: center; flex-shrink: 0;">Discharge Date: <p style = "margin:0 10px 0 10px; align-items: center;">{{ session['PATIENT']['discharge'] }}</p></div><div style="width:100%;display:flex; justify-content:right"><button style="float: right;" class="btn unhide_change"><i class="fa fa-edit"></i> Edit</button><input id="discharge" class="mva_input" style="display: none;" type="text" name="discharge" value="{{ session['PATIENT']['discharge'] }}"><input style="display:none;" class="change_session" type="button" value="Change"><input style="display:none;" class="cancel_change" type="button" value="Cancel"></div></div>
            </div>
            {% endif %}

            {% if 7 <= layout_code <= 12  %}
            <div style="max-width: 600px;">
                <div style="display: flex; align-items: center;"><div style="display: flex; align-items: center; flex-shrink: 0;">Diagnosis: <p style = "margin:0 10px 0 10px; align-items: center;">{{ session['PATIENT']['diagnosis'] }}</p></div><div style="width:100%;display:flex; justify-content:right"><button style="float: right;" class="btn unhide_change"><i class="fa fa-edit"></i> Edit</button><input class="mva_input" style="display: none;"  type="text" name="diagnosis" value="{{ session['PATIENT']['diagnosis']}}"><input style="display:none;" class="change_session" type="button" value="Change"><input style="display:none;" class="cancel_change" type="button" value="Cancel"></div></div>

                <div style="display: flex; align-items: center;"><div style="display: flex; align-items: center; flex-shrink: 0;">Diagnosis Date: <p style = "margin:0 10px 0 10px; align-items: center;">{{ session['PATIENT']['diagnosis_date'] }}</p></div><div style="width:100%;display:flex; justify-content:right"><button style="float: right;" class="btn unhide_change"><i class="fa fa-edit"></i> Edit</button><input id="diagnosis_date" class="mva_input" style="display: none;" type="text" name="diagnosis_date" value="{{ session['PATIENT']['diagnosis_date'] }}"><input style="display:none;" class="change_session" type="button" value="Change"><input style="display:none;" class="cancel_change" type="button" value="Cancel"></div></div>

                <div style="display: flex; align-items: center;"><div style="display: flex; align-items: center; flex-shrink: 0;">Procedure: <p style = "margin:0 10px 0 10px; align-items: center;">{{ session['PATIENT']['procedure'] }}</p></div><div style="width:100%;display:flex; justify-content:right"><button style="float: right;" class="btn unhide_change"><i class="fa fa-edit"></i> Edit</button><input class="mva_input" style="display: none;" type="text" name="procedure" value="{{ session['PATIENT']['procedure']}}"><input style="display:none;" class="change_session" type="button" value="Change"><input style="display:none;" class="cancel_change" type="button" value="Cancel"></div></div>

                <div style="display: flex; align-items: center;"><div style="display: flex; align-items: center; flex-shrink: 0;">Procedure Date: <p style = "margin:0 10px 0 10px; align-items: center;">{{ session['PATIENT']['procedure_date'] }}</p></div><div style="width:100%;display:flex; justify-content:right"><button style="float: right;" class="btn unhide_change"><i class="fa fa-edit"></i> Edit</button><input id="procedure_date" class="mva_input" style="display: none;"  type="text" name="procedure_date" value="{{ session['PATIENT']['procedure_date'] }}"><input style="display:none;" class="change_session" type="button" value="Change"><input style="display:none;" class="cancel_change" type="button" value="Cancel"></div></div>

                <div style="display: flex; align-items: center;"><div style="display: flex; align-items: center; flex-shrink: 0;">Implants: <p style = "margin:0 10px 0 10px; align-items: center;">{{ session['PATIENT']['implants'] }}</p></div><div style="width:100%;display:flex; justify-content:right"><button style="float: right;" class="btn unhide_change"><i class="fa fa-edit"></i> Edit</button><input class="mva_input" style="display: none;"  type="text" name="implants" value="{{ session['PATIENT']['implants'] }}"><input style="display:none;" class="change_session" type="button" value="Change"><input style="display:none;" class="cancel_change" type="button" value="Cancel"></div></div>

                <div style="display: flex; align-items: center;"><div style="display: flex; align-items: center; flex-shrink: 0;">Intra-OP Imaging: <p style = "margin:0 10px 0 10px; align-items: center;">{{ session['PATIENT']['intra_op'] }}</p></div><div style="width:100%;display:flex; justify-content:right"><button style="float: right;" class="btn unhide_change"><i class="fa fa-edit"></i> Edit</button><input class="mva_input" style="display: none;" type="text" name="intra_op" value="{{ session['PATIENT']['intra_op'] }}"><input style="display:none;" class="change_session" type="button" value="Change"><input style="display:none;" class="cancel_change" type="button" value="Cancel"></div></div>

                <div style="display: flex; align-items: center;"><div style="display: flex; align-items: center; flex-shrink: 0;">Post-OP Imaging: <p style = "margin:0 10px 0 10px; align-items: center;">{{ session['PATIENT']['post_op'] }}</p></div><div style="width:100%;display:flex; justify-content:right"><button style="float: right;" class="btn unhide_change"><i class="fa fa-edit"></i> Edit</button><input class="mva_input" style="display: none;" type="text" name="post_op" value="{{ session['PATIENT']['post_op'] }}"><input style="display:none;" class="change_session" type="button" value="Change"><input style="display:none;" class="cancel_change" type="button" value="Cancel"></div></div>
            </div>
            {% endif %}
        
        {% else %}
            <p>Medical Aid:  {{ session['PATIENT']['medical'] }}<br>
            Tariff: {{ session['PATIENT']['tariff'] }}<br>
            Main Member: {{ session['PATIENT']['main'] }}<br>
            Medical Aid Number: {{ session['PATIENT']['number'] }}<br>
            Date of Birth: {{ session['PATIENT']['dob'] }}<br>
            Invoice created: {{ session['PATIENT']['date_created'] }}</p>

            {% if 4 <= layout_code <= 9 %}
            <div style="max-width: 600px;">
                <div style="display: flex;"><div style="display: flex; align-items: center; flex-shrink: 0;">Hopital:<p style = "margin:0 10px 0 10px; align-items: center;">{{ session['PATIENT']['hospital'] }}</p></div><div style="width:100%;display:flex; justify-content:right"><button class="btn unhide_change"><i class="fa fa-edit"></i> Edit</button><input class="mva_input" style="display: none;" type="text" name="hospital" value="{{ session['PATIENT']['hospital'] }}"><input style="display:none;" class="change_session" type="button" value="Change"><input style="display:none;" class="cancel_change" type="button" value="Cancel"></div></div>

                <div style="display: flex; justify-content:space-between"><div style="display: flex; align-items: center;flex-shrink: 0; ">Admission Date:<p style = "margin:0 10px 0 10px; align-items: center;">{{ session['PATIENT']['admission'] }}</p></div><div style="width:100%;display:flex; justify-content:right"><button style="justify-content: flex-end;"class="btn unhide_change"><i class="fa fa-edit"></i> Edit</button><input id="admission" class="mva_input" style="display: none;" type="text" name="admission" value="{{ session['PATIENT']['admission'] }}"><input style="display:none;" class="change_session" type="button" value="Change"><input style="display:none;" class="cancel_change" type="button" value="Cancel"></div></div>

                <div style="display: flex; justify-content:space-between"><div style="display: flex; align-items: center; flex-shrink: 0;">Discharge Date: <p style = "margin:0 10px 0 10px; align-items: center;">{{ session['PATIENT']['discharge'] }}</p></div><div style="width:100%;display:flex; justify-content:right"><button style="float: right;" class="btn unhide_change"><i class="fa fa-edit"></i> Edit</button><input id="discharge" class="mva_input" style="display: none;" type="text" name="discharge" value="{{ session['PATIENT']['discharge'] }}"><input style="display:none;" class="change_session" type="button" value="Change"><input style="display:none;" class="cancel_change" type="button" value="Cancel"></div></div>
            </div>
            {% endif %}

            {% if 7 <= layout_code <= 12  %}
            <div style="max-width: 600px;">
                <div style="display: flex; align-items: center;"><div style="display: flex; align-items: center; flex-shrink: 0;">Diagnosis: <p style = "margin:0 10px 0 10px; align-items: center;">{{ session['PATIENT']['diagnosis'] }}</p></div><div style="width:100%;display:flex; justify-content:right"><button style="float: right;" class="btn unhide_change"><i class="fa fa-edit"></i> Edit</button><input class="mva_input" style="display: none;"  type="text" name="diagnosis" value="{{ session['PATIENT']['diagnosis']}}"><input style="display:none;" class="change_session" type="button" value="Change"><input style="display:none;" class="cancel_change" type="button" value="Cancel"></div></div>

                <div style="display: flex; align-items: center;"><div style="display: flex; align-items: center; flex-shrink: 0;">Diagnosis Date: <p style = "margin:0 10px 0 10px; align-items: center;">{{ session['PATIENT']['diagnosis_date'] }}</p></div><div style="width:100%;display:flex; justify-content:right"><button style="float: right;" class="btn unhide_change"><i class="fa fa-edit"></i> Edit</button><input id="diagnosis_date" class="mva_input" style="display: none;" type="text" name="diagnosis_date" value="{{ session['PATIENT']['diagnosis_date'] }}"><input style="display:none;" class="change_session" type="button" value="Change"><input style="display:none;" class="cancel_change" type="button" value="Cancel"></div></div>

                <div style="display: flex; align-items: center;"><div style="display: flex; align-items: center; flex-shrink: 0;">Procedure: <p style = "margin:0 10px 0 10px; align-items: center;">{{ session['PATIENT']['procedure'] }}</p></div><div style="width:100%;display:flex; justify-content:right"><button style="float: right;" class="btn unhide_change"><i class="fa fa-edit"></i> Edit</button><input class="mva_input" style="display: none;" type="text" name="procedure" value="{{ session['PATIENT']['procedure']}}"><input style="display:none;" class="change_session" type="button" value="Change"><input style="display:none;" class="cancel_change" type="button" value="Cancel"></div></div>

                <div style="display: flex; align-items: center;"><div style="display: flex; align-items: center; flex-shrink: 0;">Procedure Date: <p style = "margin:0 10px 0 10px; align-items: center;">{{ session['PATIENT']['procedure_date'] }}</p></div><div style="width:100%;display:flex; justify-content:right"><button style="float: right;" class="btn unhide_change"><i class="fa fa-edit"></i> Edit</button><input id="procedure_date" class="mva_input" style="display: none;"  type="text" name="procedure_date" value="{{ session['PATIENT']['procedure_date'] }}"><input style="display:none;" class="change_session" type="button" value="Change"><input style="display:none;" class="cancel_change" type="button" value="Cancel"></div></div>

                <div style="display: flex; align-items: center;"><div style="display: flex; align-items: center; flex-shrink: 0;">Implants: <p style = "margin:0 10px 0 10px; align-items: center;">{{ session['PATIENT']['implants'] }}</p></div><div style="width:100%;display:flex; justify-content:right"><button style="float: right;" class="btn unhide_change"><i class="fa fa-edit"></i> Edit</button><input class="mva_input" style="display: none;"  type="text" name="implants" value="{{ session['PATIENT']['implants'] }}"><input style="display:none;" class="change_session" type="button" value="Change"><input style="display:none;" class="cancel_change" type="button" value="Cancel"></div></div>

                <div style="display: flex; align-items: center;"><div style="display: flex; align-items: center; flex-shrink: 0;">Intra-OP Imaging: <p style = "margin:0 10px 0 10px; align-items: center;">{{ session['PATIENT']['intra_op'] }}</p></div><div style="width:100%;display:flex; justify-content:right"><button style="float: right;" class="btn unhide_change"><i class="fa fa-edit"></i> Edit</button><input class="mva_input" style="display: none;" type="text" name="intra_op" value="{{ session['PATIENT']['intra_op'] }}"><input style="display:none;" class="change_session" type="button" value="Change"><input style="display:none;" class="cancel_change" type="button" value="Cancel"></div></div>

                <div style="display: flex; align-items: center;"><div style="display: flex; align-items: center; flex-shrink: 0;">Post-OP Imaging: <p style = "margin:0 10px 0 10px; align-items: center;">{{ session['PATIENT']['post_op'] }}</p></div><div style="width:100%;display:flex; justify-content:right"><button style="float: right;" class="btn unhide_change"><i class="fa fa-edit"></i> Edit</button><input class="mva_input" style="display: none;" type="text" name="post_op" value="{{ session['PATIENT']['post_op'] }}"><input style="display:none;" class="change_session" type="button" value="Change"><input style="display:none;" class="cancel_change" type="button" value="Cancel"></div></div>
            </div>
            {% endif %}
        {% endif %}    
    <br>
   
    {% if 'namaf_orthopaedic_surgeons' in session['PATIENT']['tariff'] %}
        <form autocomplete="off" class="treatmentsearch">
            <input id="treatmentsearch" class="form-control mr-sm-2" name="treatment" type="search" placeholder="Search treatments">
        </form>
    <form autocomplete="off" id="namaf_orthopaedic_surgoens" >   
        {{ form.hidden_tag() }}
        <div class="form-group float-right">
        {{ form.date_invoice.label(for="date_invoice") }}
        {{ form.date_invoice(class_="form-control") }}
        </div>
          <br><br>
            <table style="width:100%">
                <colgroup>
                    <col span="1" style="width: 5%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 65%;">
                    <col span="1" style="width: 5%;">
                    <col span="1" style="width: 20%;">
                    <col span="1" style="width: 10%;">
                 </colgroup>
                 <thead>
                    <tr>
                      <th>ID</th>
                      <th>Item</th>
                      <th>Description</th>
                      <th>Price</th>
                      <th>Date</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                <tbody class="tbodyClone" id="tbodyClone">
                    <tr id="clonedInput0" class="clonedInput">
                        <th id="row-0" scope="row"><span class="num">1</span></th>
                        <td>{{  form.treatments(id='treatment-0', class='treatment_orthopaedic_surgeons')  }}</td>
                        <td>{{  form.description(id='description-0', class='description')  }}</td>
                        <td>{{  form.price(id='value-0', class='value')  }}</td>
                        <td>{{  form.date(id='date-0', class='date datepicker', placeholder="DD/MM/YYYY")  }}</td>
                        <td>
                            <input id="delete-0" value="Delete" type="button" style="width:100px" class="remove">
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
        <input id="btnAdd_0" value="Add treatment" type="button" style="widows: 200pxpx" class="clone btn btn-success">
        <br><br>
        {% if session['PATIENT']['treatments'] == None %}
        <div style="display:flex; justify-content: right;">{{ form.submit(class='btn btn-primary', value='Create Invoice') }}</div>
        {% else %}
        <div style="display:flex; justify-content: right;">{{ form.submit(class='btn btn-primary', value='Update Invoice') }}</div>
        {% endif %}
        <div style="display:flex; flex-direction: column; align-items: flex-end;"><span id="result"></span><span><input class="btn btn-secondary" id="download_invoice" value="Download invoice" type="button" style="display:none;"></span></div>
    </form> 
    {% else %}
    <form autocomplete="off" id="NewOrderForm" class="form">   
        {{ form.hidden_tag() }}
        <div class="form-group float-right">
        {{ form.date_invoice.label(for="date_invoice") }}
        {{ form.date_invoice(class_="form-control") }}
        </div>
            <table class="table table-striped">
                <tbody class="tbodyClone">
                    <tr id="clonedInput0" class="clonedInput form-inline col-md-6">
                        <th id="row-0" scope="row"><span class="num">1</span></th>
                        <td class= 'col-md-6'>{{  form.treatments(id='treatment-0', class='treatment form-control')  }}</td>
                        <td>{{  form.price(id='value-0', class='value form-control w-75')  }}</td>
                        <td>
                            <input id="thirty-0" value = "30%" type="button" class="thirty">
                            <input id="fourty-0" value = "40%" type="button" class="fourty inline"> 
                        </td>
                        <td>{{  form.modifier(id='modifier-0', class='modifier form-control w-75')  }}</td>
                        <td>{{  form.date(id='date-0', class='date datepicker form-control', placeholder="DD/MM/YYYY")  }}</td>
                        <td>
                            <input id="delete-0" value="Delete" type="button" style="width:100px" class="remove">
                            <input id="clone-0" value="Clone" type="button" style="width:100px" class="clone">
                            <input id="below-0" value="Add below" type="button" style="width:100px" class="below">
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
        <input id="btnAdd_0" value="Add treatment" type="button" style="widows: 200pxpx" class="clone btn btn-success">
        <br><br>
        {% if session['PATIENT']['treatments'] == None %}
        <div style="display:flex; justify-content: right;">{{ form.submit(class='btn btn-primary', value='Create Invoice') }}</div>
        {% else %}
        <div style="display:flex; justify-content: right;">{{ form.submit(class='btn btn-primary', value='Update Invoice') }}</div>
        {% endif %}
        <div style="display:flex; flex-direction: column; align-items: flex-end;"><span id="result"></span><span><input class="btn btn-secondary" id="download_invoice" value="Download invoice" type="button" style="display:none;"></span></div>
    </form> 
    {% endif%} 
    <br><br><br><br>
</div>
<script>
$(document).ready(function(){
    

    function removeActive(x) {
            for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
            }
        }       
        
        function addActive(x) {
            if (!x) return false;
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            x[currentFocus].classList.add("autocomplete-active");
        }

         function uniq_fast(a) {
            var seen = {};
            var out = [];
            var len = a.length;
            var j = 0;
            for(var i = 0; i < len; i++) {
                var item = a[i];
                if(seen[item] !== 1) {
                    seen[item] = 1;
                    out[j++] = item;
                    }
                }
            return out;
        }


    $(document).on("keyup", ".treatmentsearch", function (e) {
            e.preventDefault();
            var currentFocus;
            var input_element = document.getElementById("treatmentsearch")
            var url = "{{ url_for('liveSearchTreatment') }}";
            var a, b, i, val = input_element.value;
            var search_item = input_element.value
                $.ajax({
                type: "GET",
                url: url,
                data: {treatment: search_item}, 
                dataType: 'json',
                success: function (returnData) {
                    // console.log(returnData)
                    if (returnData.treatments.length <= 20){
                      var names = [], range = returnData.treatments.length;
                    }
                    else{
                     var names = [], range = 10
                    }
                    for (i = 0; i < range; i++) {
                        names[i] = returnData.treatments[i]['description']
                    }
                    closeAllLists();
                    if (!val) { return false;}
                    currentFocus = -1;
                    var a = document.createElement("DIV");
                    a.setAttribute("id", "autocomplete-list2");
                    a.setAttribute("class", "autocomplete-items2");
                    input_element.parentNode.insertBefore(a, input_element.nextSibling);
                    procedures_length = returnData.procedures.length;
                    if(procedures_length > 0){
                        var middle_div = document.createElement("DIV");
                        var treatments_from_procedures = [], range = procedures_length;
                        var procedures_from_procedures = [], range = procedures_length;
                        var arr_unique = [];
                        for(i = 0; i < procedures_length; i++){
                            procedures_from_procedures[i] = returnData.procedures[i]['procedure']
                            arr_unique = uniq_fast(procedures_from_procedures)
                        }
                        var found = [], range = arr_unique.length;
                        for(i = 0; i < arr_unique.length; i++){
                            found[i] = returnData.procedures.filter(function(single) {
	                            return single.procedure == arr_unique[i];})
                            }
                        let index_treatment_procedure = 0;
                        for (i = 0; i < arr_unique.length; i++){
                            var y = document.createElement("DIV");
                            y.style.cursor = "default";
                            var category = returnData.procedures[i]['category'];
                            var sub_category = returnData.procedures[i]['sub_category'];
                            var sub_sub_category = returnData.procedures[i]['sub_sub_category']
                            var sub_sub_sub_category = returnData.procedures[i]['sub_sub_sub_category']
                            var procedure = returnData.procedures[i]['procedure']
                            var item = returnData.procedures[i]['item']
                            if(sub_category) {
                                if(sub_sub_category) {
                                    if(sub_sub_sub_category) {
                                        y.innerHTML = category + "<ul><li>" + sub_category + "<ul><li>" + sub_sub_category + "<ul><li>" + sub_sub_category + "</li></ul></li></ul></li></ul>";
                                    }
                                    else {
                                    y.innerHTML = category + "<ul><li>" + sub_category + "<ul><li>" + sub_sub_category + "</li></ul></li></ul>";
                                    }
                                }
                                else {
                                    y.innerHTML = category + "<ul><li>" + sub_category + "</li></ul>";
                                }
                            }
                            else {
                                y.innerHTML = category + "<br>";
                            }

                            y.innerHTML += "<strong>" + arr_unique[i].substr(0, val.length) + "</strong>";
                            y.innerHTML += arr_unique[i].substr(val.length) + "<br>";
                            for(x=0; x < found[i].length; x++){
                                var flex_wrapper = document.createElement("DIV");
                                var input_field = document.createElement("INPUT");
                                var paragraph_field = document.createElement("P");
                                index_treatment_procedure++;
                                paragraph_field.setAttribute("id", "procedure-list-description" + index_treatment_procedure)
                                input_field.setAttribute("id", "treatment-list-input-procedure" + index_treatment_procedure)
                                input_field.readOnly = true;
                                input_field.style.cursor = "default";
                                flex_wrapper.style.display = "flex";
                                flex_wrapper.style.justifyContent = "flex-start";
                                flex_wrapper.style.alignItems = "center";
                                paragraph_field.style.margin = "0";
                                input_field.style.backgroundColor = 'white';
                                input_field.value = found[i][x]['item']
                                paragraph_field.textContent = found[i][x]['description']
                                paragraph_field.setAttribute('class','input-fields-procedures')
                                cloneIndex_orthopaedic_surgeon2 = cloneIndex - 1 ;

                                (function(index){
                                        paragraph_field.addEventListener("click", function() {
                                            var value_of_value = document.getElementById("value-0").value
                                            if(value_of_value){
                                                clone()
                                            } 
                                            next_empty_treatment_input = document.getElementById("tbodyClone").lastElementChild.childNodes[3].firstChild
                                            item_num = document.getElementById("treatment-list-input-procedure" + index).value
                                            next_empty_treatment_input.value = item_num
                                            description_procedures = document.getElementById("procedure-list-description" + index).textContent;
                                            next_empty_treatment_input.parentNode.parentNode.childNodes[5].childNodes[0].value = description_procedures
                                            newTreatmentLiveSearch(next_empty_treatment_input)
                                            closeAllLists();
                                        })
                                    })(index_treatment_procedure)

                                y.appendChild(flex_wrapper)
                                flex_wrapper.appendChild(paragraph_field)
                                flex_wrapper.appendChild(input_field)
                            }
                            middle_div.appendChild(y);
                        }
                        a.appendChild(middle_div);    
                    }
                    for (i = 0; i < names.length; i++) {
                        if (names[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                            var b = document.createElement("DIV");
                            var wrapper_b = document.createElement("DIV");
                            b.setAttribute('class','treatment-divs')
                            wrapper_b.style.display = "flex";
                            wrapper_b.style.justifyContent = "flex-start";
                            wrapper_b.style.alignItems = "center";
                            var category = returnData.treatments[i]['category'];
                            var sub_category = returnData.treatments[i]['sub_category'];
                            var sub_sub_category = returnData.treatments[i]['sub_sub_category']
                            var sub_sub_sub_category = returnData.treatments[i]['sub_sub_sub_category']
                            var procedure = returnData.treatments[i]['procedure']
                            var item = returnData.treatments[i]['item']
                            if(sub_category) {
                                if(sub_sub_category) {
                                    if(sub_sub_sub_category) {
                                        b.innerHTML = category + "<ul><li>" + sub_category + "<ul><li>" + sub_sub_category + "<ul><li>" + sub_sub_category + "</li></ul></li></ul></li></ul>";
                                    }
                                    else {
                                    b.innerHTML = category + "<ul><li>" + sub_category + "<ul><li>" + sub_sub_category + "</li></ul></li></ul>";
                                    }
                                }
                                else {
                                    b.innerHTML = category + "<ul><li>" + sub_category + "</li></ul>";
                                }
                            }
                            else {
                                b.innerHTML = category + "<br>";
                            }
                            if (procedure){
                                b.innerHTML += "<p style='font-style: italic;'>" + procedure + "</p>";
                            }
                            wrapper_b.innerHTML += "<p style='margin:0;'id='treatment-list-description"+ i +"'><strong>" + names[i].substr(0, val.length) + "</strong>" + names[i].substr(val.length) + "</p>";
                            wrapper_b.innerHTML += "<input style='background-color:white; cursor:pointer;'id='treatment-list-input" + i + "'  value='" + item + "'>";
                            b.appendChild(wrapper_b);
                            (function(index){
                                b.addEventListener("click", function() {
                                    var value_of_value = document.getElementById("value-0").value
                                    if(value_of_value){
                                        clone()
                                    }      
                                    next_empty_treatment_input = document.getElementById("tbodyClone").lastElementChild.childNodes[3].firstChild
                                    description_text = document.getElementById("treatment-list-description"+ index).textContent;
                                    next_empty_treatment_input.value = this.getElementsByTagName("input")[0].value;
                                    next_empty_treatment_input.parentNode.parentNode.childNodes[5].childNodes[0].value = description_text
                                    newTreatmentLiveSearch(next_empty_treatment_input)
                                    closeAllLists();
                                })
                            })(i)
                            a.appendChild(b);
                        }
                    }


            function closeAllLists(elmnt) {
                var x = document.getElementsByClassName("autocomplete-items2");
                for (var i = 0; i < x.length; i++) {
                    if (elmnt != x[i] && elmnt != input_element) {
                    x[i].parentNode.removeChild(x[i]);
                    }
                }
                
            }
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
                $('#treatmentsearch').val('');
            });

                }
            });
        });


    $('.treatment').prepend($('<option value="" disabled hidden selected>Choose treatment</option>'));
    
    function addSubmit(ev) {
        ev.preventDefault();   
        if ($('form').data('submitted') === true) {
            ev.preventDefault();
            $(this).find('#submit').prop('disabled', true);
            $(this).find('#submit').css('cursor', 'default');
            $('#btnAdd_0').css('cursor', 'default');
            $('#btnAdd_0').prop('disabled', true);
            $('#treatmentsearch').attr('disabled', true);
        } else {
            $.ajax({
            method: 'POST',
            url: '/generate-invoice',
            data: $('form').serialize(),
        }).done(addShow);
            $('form').data('submitted', true);
            $(this).find('#submit').prop('disabled', true);
            $(this).find('#submit').css('cursor', 'default');
            $('#btnAdd_0').css('cursor', 'default');
            $('#btnAdd_0').prop('disabled', true);
            $('#treatmentsearch').attr('disabled', true);
        }
    }

    $(document).on("click", "#download_invoice", function(){
        $('head').append('<meta http-equiv="refresh" content="1;url=/download-invoice/' + Math.floor(Math.random() * 10000) + '"/>');
        })


    function addShow(data) {
      $('#result').text(data.result);
      if(data.result =='success'){
          $('#download_invoice').css('display', 'block')
      }
    }


    $('#NewOrderForm').on('submit', addSubmit);
    $('#namaf_orthopaedic_surgoens').on('submit', addSubmit);


    $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
                }
            }
        })


    var regex = /^((?=\S*['-])([a-zA-Z'-]+))([0-9][0-9]?)+$/i;
    var regex_2 = /^(.*)(\d)+$/i;
    var cloneIndex = $(".clonedInput").length;
    if ($(".clonedInput").length == 1) {
        $('.remove').hide();
    } else {
        $('.remove').show();
    }

    function clone_insert_below(){

        $(this).parents(".clonedInput").clone()
            .insertAfter($(this).parents(".clonedInput"))
            .attr("id", "clonedInput" + cloneIndex)
            .find("*")
            .each(function () { 
                 var id = this.id || "";
                 var match = id.match(regex) || [];    
                 if (match.length == 4) {
                     this.id = match[1] + (cloneIndex);
                 }
                 if (this.className.includes("treatment")){
                    this.value = ''
                 } 
                 if (this.className.includes("description")){
                    this.value = ''
                 } 
                 if (this.className.includes("datepicker")){
                    this.value = ''
                 }  
                 if (this.className.includes("value")){
                    this.value = ''
                 } 
                 if (this.className.includes("thirty")){
                    this.style.backgroundColor = "white";
                 } 
                 if (this.className.includes("fourty")){
                    this.style.backgroundColor = "white";
                 } 
            }            
            )
            cloneIndex++;
            re_number()

    }
    function clone() {
        if ($(this).parents(".clonedInput").length == 1){
            $(this).parents(".clonedInput").clone()
            .appendTo(".tbodyClone")
            .attr("id", "clonedInput" + cloneIndex)
            .find("*")
            .each(function () { 
                 var id = this.id || "";
                 var match = id.match(regex) || [];    
                 if (match.length == 4) {
                     this.id = match[1] + (cloneIndex);
                 }
                 
                 if (this.className.includes("datepicker")){
                    this.value = ''
                 }  
                 if (this.className.includes("value")){
                    this.value = ''
                 } 
                 if (this.className.includes("thirty")){
                    this.style.backgroundColor = "white";
                 } 
                 if (this.className.includes("fourty")){
                    this.style.backgroundColor = "white";
                 } 
            }            
            )
            var select_value = $(this).parent().parent().find('.treatment').children().children("option:selected").val()
            $('#treatment-' + cloneIndex).val(select_value);  

            $.getJSON('/get-value', {
                item: select_value			
            }, function(data) {
                cloneIndex2 = cloneIndex - 1 
                $('#value-' + cloneIndex2).val(data.value.toFixed(2));
                });
        }
        else{
        $(".clonedInput").last().clone()
            .appendTo(".tbodyClone")
            .attr("id", "clonedInput" + cloneIndex)
            .find("*")
            .each(function () { 
                 var id = this.id || "";
                 var match = id.match(regex) || [];  
                 if (match.length == 4) {
                     this.id = match[1] + (cloneIndex);
                 }
                 if (this.className.includes("treatment")){
                    this.value = ''
                 } 
                 if (this.className.includes("description")){
                    this.value = ''
                 } 
                 if (this.className.includes("value")){
                    this.value = ''
                 } 
                 if (this.className.includes("datepicker")){
                    this.value = ''
                 } 
                 if (this.className.includes("thirty") || (this.className.includes("fourty"))){
                    this.style.backgroundColor = "white";
                    this.style.display = "none";
                 } 
                 if (this.className.includes("modifier")){
                    this.style.display = "none";
                 } 
                 if (this.className.includes("value")){
                    this.style.display = "none";
                 } 
                 if (this.className.includes("date")){
                    this.style.display = "none";
                 } 
                 if (this.className.includes("clone")){
                    this.style.display = "none";
                 } 
                 if (this.className.includes("row")){
                    this.remove();
                 } 
            }            
            )
        }
        
        cloneIndex++;

        if ($(".clonedInput").length == 1) {
            $('.remove').hide();
        } else {
            $('.remove').show();
        }
        $(document).scrollTop($(document).height());
        re_number()
    }


    function re_number(){
        $('table').find('tr').each(function(i, v) {
            '{% if "namaf_orthopaedic_surgeons" in session["PATIENT"]["tariff"] %}'
            $(v).find('span.num').text(i);
            '{% else %}'
            $(v).find('span.num').text(i + 1);
            '{% endif %}'
        });
    }

    function remove() {        
        $(this).parents(".clonedInput").remove();
        re_number()

        if ($(".clonedInput").length == 1) {
            $('.remove').hide();
        } else {
            $('.remove').show();
        }
    }


    function addPremium(object, id, percent){
        var current_value = parseFloat(object.parent().parent().children().children(".value").val());
	   	let plus_premium = current_value.toFixed(3) * percent;
	  	object.parent().parent().children().children(".value").val(plus_premium.toFixed(2));
        object.siblings().css('background-color', 'white');
        object.css('background-color', 'green');
        value_edit[id] = {
            id: id,
            value: current_value,
            edit: true,
            last: percent
            };
    }


    function subtractPremium(object, id){
        current_value = value_edit[id].value;
        object.parent().parent().children().children(".value").val(current_value.toFixed(2));
		object.css('background-color', 'white');
        object.siblings().css('background-color', 'white');
 	    value_edit[id]={
            id: id,
            value: current_value,
            edit: false,
        }
    }


    function replacePremium(object, id, percent){
        original_value = value_edit[id].value;
        let plus_premium = original_value.toFixed(3) * percent;
	  	object.parent().parent().children().children(".value").val(plus_premium.toFixed(2));
        object.siblings().css('background-color', 'white');
        object.css('background-color', 'green');
        value_edit[id] = {
            id: id,
            value: original_value,
            edit: true,
            last: percent
            };
    }


    function setPremium(id, percent, original_value){
        original_value = parseFloat(original_value)
        if (percent == 1.4){
            $('#fourty-' + id).css('background-color', 'green');
        }
        else{
            $('#thirty-' + id).css('background-color', 'green');
        }
        value_edit[id] = {
            id: id,
            value: original_value,
            edit: true,
            last: percent
        };
    }


    function checkState(object, id, percent){    
	    if (typeof value_edit[id] !== 'undefined'){
		    if(value_edit[id].edit == false){
                addPremium(object, id, percent)
		    }
		    else if (value_edit[id].last == percent){
                subtractPremium(object, id)  
		    }
            else{
                replacePremium(object, id, percent)          
            }
		}
	    else{
            addPremium(object, id, percent)
	   }
    }

    var value_edit = [];

    $(document).on('click', '.thirty', function(){
        var percent = 1.3;
        var get_id_from_html = $(this).parent().parent().attr('id');
        var id = get_id_from_html.match(regex_2)[2]
        id = parseInt(id)
        var object = $(this)
        checkState(object, id, percent)
    })


    $(document).on('click', '.fourty', function(){
        var percent = 1.4;
        var get_id_from_html = $(this).parent().parent().attr('id');
        var id = get_id_from_html.match(regex_2)[2]
        id = parseInt(id)
        var object = $(this)
        checkState(object, id, percent)
    })


     
    function newTreatmentLiveSearch(element){
        element.parentNode.parentNode.childNodes[5].childNodes[0].style.display = "block";
        element.parentNode.parentNode.childNodes[7].childNodes[0].style.display = "block";
        element.parentNode.parentNode.childNodes[9].childNodes[0].style.display = "block";
        if(element.value!= 0){
            $.getJSON('/get-value', {
                item: element.value			
            }, function(data) {
                element.parentNode.parentNode.childNodes[7].childNodes[0].value = data.value.toFixed(2)    
                });
        }
    }

    var sibling_of_value = null;
    $(document).on('change', '.treatment', newTreatment);
    function newTreatment(event){
        var id_ = this.id || "";
        var match_ = id_.match(regex) || [];
        match_ = parseInt(match_[3])  
        value_edit.splice(match_, 1);
        $('.datepicker' ).datepicker({dateFormat: 'dd.mm.yy'});
        $(this).parent().siblings().find('.value').show()
        $(this).parent().siblings().find('.thirty').show()
        $(this).parent().siblings().find('.fourty').show()
        $(this).parent().siblings().find('.date').show()
        $(this).parent().siblings().find('.modifier').show()
        $(this).parent().siblings().find('.clone').show()
        $(this).parent().siblings().find('.thirty').css('background-color', 'white');
        $(this).parent().siblings().find('.fourty').css('background-color', 'white');
		sibling_of_value = $(this);
        if($(this).val()!= 0){
            $.getJSON('/get-value', {
                item: $(this).val()			
            }, function(data) {
                $(sibling_of_value).parent().parent().children().children(".value").val(data.value.toFixed(2));
                });
            }
            else{
                $(sibling_of_value).parent().parent().children().children(".value").val("");
            }
        return false;
    };
    $('#date-0').hide();
    $('#value-0').hide();
    $('#modifier-0').hide();
    $('#clone-0').hide();
    $('#thirty-0').hide();
    $('#fourty-0').hide();
    $('#admission').datepicker({dateFormat: 'dd.mm.yy'})
    $('#discharge').datepicker({dateFormat: 'dd.mm.yy'})
    $('#procedure_date').datepicker({dateFormat: 'dd.mm.yy'})
    $('#diagnosis_date').datepicker({dateFormat: 'dd.mm.yy'})
    $('#date_invoice').datepicker({dateFormat: 'dd.mm.yy'})
    $('#date_invoice').datepicker("setDate", new Date());
    $(document).on("click", ".clone", clone);
    $(document).on("click", ".below", clone_insert_below);
    $(document).on("click", ".remove", remove);
    $(document).on("click", ".datepicker", function() {
        $(this).removeClass('hasDatepicker');
        $(this).datepicker({dateFormat: 'dd.mm.yy'}).datepicker( "show" );
    });
    
    $(document).on("click", ".unhide_change", function(event) {
        event.preventDefault();
        $(this).hide()
        $(this).next().next().next().css("display", "inline-block");
        $(this).next().next().css("display", "inline-block");
        $(this).next().css("display", "inline-block")
        $(this).prev().css("margin", "0")
    });
    $(document).on("click", ".change_session", function(e) {
        e.preventDefault();
        var change_session_button = $(this);
        var description = $(this).prev().attr("name")
        var item = $(this).prev().val()
        $.ajax({
                type: "GET",
                url: '/update-session',
                data: {description: description, item: item}, 
                dataType: 'json',
                success: function (returnData) {
                    alert(returnData);
                    change_session_button.parent().prev().children('p').text(item);
                    change_session_button.hide();
                    change_session_button.next().hide();
                    change_session_button.prev().hide();
                    change_session_button.prev().prev().show()
                    
                }
        })
 
    });
    $(document).on("click", ".cancel_change", function(event) {
        event.preventDefault();
        $(this).hide()
        $(this).prev().hide();
        $(this).prev().prev().hide();
        $(this).prev().prev().prev().show()
    });

    if("{{ session['PATIENT']['treatments'] }}" !== 'None'){
        var prices = "{{ session['PATIENT']['values'] }}";
        var modifiers = "{{ session['PATIENT']['modifiers'] }}";
        var treatments = "{{ session['PATIENT']['treatments'] }}";
        var mo = modifiers.split(",");
        var t = treatments.split(",");
        var p = prices.split(",");
        var d = "{{ session['PATIENT']['dates'] }}".split(",");
        $.ajax({
                url: '/get-values',
                type: "GET",
            success: function(data) {
                data = $.parseJSON(data)
                $.each(t, function(index, value) {  
                     var t_ = t.length - 1
                     if(index !== t_){
                        clone()
                     }  
                    db_value = (parseFloat(p[index])).toFixed(2)
                    value = (parseFloat(data[index]['value'])).toFixed(2)
                    if (db_value !== value){
                        percent = (db_value / value).toFixed(1)
                        object =  '#clonedInput' + index 
                        setPremium(index, percent, value)
                    }
                    var date = parseDate(d[index])
                    function parseDate(str) {
                        var m = str.match(/^(\d{1,2}).(\d{1,2}).(\d{4})$/);
                        return (m) ? new Date(m[3], m[2]-1, m[1]) : null;
                    }
                    $('#value-' + index).val(db_value)
                    $('#date-' + index).datepicker({dateFormat: 'dd.mm.yy'})
                    $('#date-' + index).datepicker("setDate", date);
                    '{% if "namaf_orthopaedic_surgeons" in session["PATIENT"]["tariff"] %}'
                        treatment_input = document.getElementById("treatment-" + index);
                        description_input = document.getElementById("description-" + index);
                        treatment_input.value = t[index]
                        description_input.value = data[index]['description']
                    '{% else %}'
                        $('select#treatment-'+ index + ' option[value='+t[index]+']').attr("selected",true);
                        $('#thirty-' + index).show()
                        $('#fourty-' + index).show()
                        $('#modifier-' + index).show()
                        $('#modifier-'+ index).val(mo[index]);
                    '{% endif %}'
                    $('#value-' + index).show()
                    $('#clone-' + index).show()
                    $('#date-' + index).show()

                })
            }
        })
    }
});

</script>
{% endblock %}