{% extends 'layout.html' %}
{% block content %}
<div class="container personal_style" id="container_id">
    <br>
    <h3>Patient Name: {{patient}}</h3>
        {% if medical =='mva' %}
            <p>Medical Aid: {{medical}}<br>
            Tariff: {{tariff}}<br>
            Case Number: {{case}}<br>
            PO: {{po}}<br>
            Invoice created: {{date}}</p>    
        {% elif medical =='psemas' %}
            <p>Medical Aid: {{medical}}<br>
            Tariff: {{tariff}}<br>
            Main Member: {{main}}<br>
            Medical Aid Number: {{number}}<br>
            Date of Birth: {{dob}}<br>
            Invoice created: {{date}}</p>
        {% else %}
            <p>Medical Aid: {{medical}}<br>
            Tariff: {{tariff}}<br>
            Main Member: {{main}}<br>
            Medical Aid Number: {{number}}<br>
            Date of Birth: {{dob}}<br>
            Invoice created: {{date}}</p>
        {% endif %}    
    <br>
   
    {% if 'namaf_orthopaedic_surgeons' in tariff %}
        <form autocomplete="off" class="treatmentsearch">
            <input id="treatmentsearch" class="form-control mr-sm-2" name="treatment" type="search" placeholder="Search treatments">
        </form>
    <form autocomplete="off" id="namaf_orthopaedic_surgoens" class="form ">   
        {{ form.hidden_tag() }}
        <div class="form-group float-right">
        {{ form.date_invoice.label(for="date_invoice") }}
        {{ form.date_invoice(class_="form-control") }}
        </div>
          <br><br>
            <table class="table table-striped">
                <tbody class="tbodyClone">
                    <tr id="clonedInput0" class="clonedInput form-inline col-md-6">
                        <th id="row-0" scope="row"><span class="num">1</span></th>
                        <td class= 'col-md-6'>{{  form.treatments(id='treatment-0', class='treatment_orthopaedic_surgeons form-control')  }}</td>
                        <td>{{  form.price(id='value-0', class='value form-control w-75')  }}</td>
                        <td>{{  form.date(id='date-0', class='date datepicker form-control', placeholder="DD/MM/YYYY")  }}</td>
                        <td>
                            <input id="delete-0" value="Delete" type="button" style="width:100px" class="remove">
                            <input id="clone-0" value="Clone" type="button" style="width:100px" class="clone">
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
        <input id="btnAdd_0" value="Add treatment" type="button" style="widows: 200pxpx" class="clone">
        <br><br>
        <div>{{ form.submit }}</div>
        <span>Result: <span id="result"></span></span><span><input id="download_invoice" value="Download invoice" type="button" style="display:none;"></span>
    </form> 
    {% else %}
    {{ tariff }}
    <form autocomplete="off" id="NewOrderForm" class="form">   
        {{ form.hidden_tag() }}
        <div class="form-group float-right">
        {{ form.date_invoice.label(for="date_invoice") }}
        {{ form.date_invoice(class_="form-control") }}
        </div>
            <table class="table table-striped">
                <tbody class="tbodyClone">
                    <tr id="clonedInput0" class="clonedInput form-inline col-md-6">
                        <th id="row-0" scope="row"><span class="num">1</span></th>
                        <td class= 'col-md-6'>{{  form.treatments(id='treatment-0', class='treatment form-control')  }}</td>
                        <td>{{  form.price(id='value-0', class='value form-control w-75')  }}</td>
                        <td>
                            <input id="thirty-0" value = "30%" type="button" class="thirty">
                            <input id="fourty-0" value = "40%" type="button" class="fourty inline"> 
                        </td>
                        <td>{{  form.modifier(id='modifier-0', class='modifier form-control w-75')  }}</td>
                        <td>{{  form.date(id='date-0', class='date datepicker form-control', placeholder="DD/MM/YYYY")  }}</td>
                        <td>
                            <input id="delete-0" value="Delete" type="button" style="width:100px" class="remove">
                            <input id="clone-0" value="Clone" type="button" style="width:100px" class="clone">
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
        <input id="btnAdd_0" value="Add treatment" type="button" style="widows: 200pxpx" class="clone">
        <br><br>
        <div>{{ form.submit }}</div>
        <span>Result: <span id="result"></span></span><span><input id="download_invoice" value="Download invoice" type="button" style="display:none;"></span>
    </form> 
    {% endif%} 
    <br><br><br><br>
</div>

<script>
$(document).ready(function(){

    function removeActive(x) {
            for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
            }
        }       
        
        function addActive(x) {
            if (!x) return false;
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            x[currentFocus].classList.add("autocomplete-active");
        }


    $(document).on("keyup", ".treatmentsearch", function (e) {
            e.preventDefault();
            var currentFocus;
            var input_element = document.getElementById("treatmentsearch")
            var url = "{{ url_for('liveSearchTreatment') }}";
            var a, b, i, val = input_element.value;
            var search_item = input_element.value
                $.ajax({
                type: "GET",
                url: url,
                data: {treatment: search_item}, 
                dataType: 'json',
                success: function (returnData) {
                    console.log(returnData)
                    if (returnData.length <= 20){
                      var names = [], range = returnData.length;
                    }
                    else{
                     var names = [], range = 5
                    }
                    for (i = 0; i < range; i++) {
                        names[i] = returnData[i]['description']
                    }
                    closeAllLists();
                    if (!val) { return false;}
                    currentFocus = -1;
                    var a = document.createElement("DIV");
                    a.setAttribute("id", "autocomplete-list2");
                    a.setAttribute("class", "autocomplete-items2");
                    input_element.parentNode.insertBefore(a, input_element.nextSibling);
                    for (i = 0; i < names.length; i++) {
                        if (names[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                            var b = document.createElement("DIV");
                            var category = returnData[i]['category'];
                            var sub_category = returnData[i]['sub_category'];
                            var sub_sub_category = returnData[i]['sub_sub_category']
                            var sub_sub_sub_category = returnData[i]['sub_sub_sub_category']
                            var procedure = returnData[i]['procedure']
                            if(sub_category) {
                                if(sub_sub_category) {
                                    if(sub_sub_sub_category) {
                                        b.innerHTML = category + "<ul><li>" + sub_category + "<ul><li>" + sub_sub_category + "<ul><li>" + sub_sub_category + "</li></ul></li></ul></li></ul>";
                                    }
                                    else {
                                    b.innerHTML = category + "<ul><li>" + sub_category + "<ul><li>" + sub_sub_category + "</li></ul></li></ul>";
                                    }
                                }
                                else {
                                    b.innerHTML = category + "<ul><li>" + sub_category + "</li></ul>";
                                }
                            }
                            else {
                                b.innerHTML = category + "<br>";
                            }
                            if (procedure){
                                b.innerHTML += "<p style='font-style: italic;'>" + procedure + "</p>";
                            }
                            b.innerHTML += "<strong>" + names[i].substr(0, val.length) + "</strong>";
                            b.innerHTML += names[i].substr(val.length);
                            b.innerHTML += "<input id='treatment-list-input" + i + "' type='hidden' value='" + names[i] + "'>";
                            b.addEventListener("click", function(e) {
                                cloneIndex_orthopaedic_surgeon = cloneIndex - 1 ;
                                next_empty_treatment_input = document.getElementById("treatment-" + cloneIndex_orthopaedic_surgeon)
                                input_element.value = '';
                                next_empty_treatment_input.value = this.getElementsByTagName("input")[0].value;
                                newTreatmentLiveSearch(next_empty_treatment_input)
                                closeAllLists();
                                clone()
                            });
                            a.appendChild(b);
                        }
                    }


            function closeAllLists(elmnt) {
                var x = document.getElementsByClassName("autocomplete-items2");
                for (var i = 0; i < x.length; i++) {
                    if (elmnt != x[i] && elmnt != input_element) {
                    x[i].parentNode.removeChild(x[i]);
                    }
                }
            }
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });

                }
            });
        });


















    $('.treatment').prepend($('<option value="" disabled hidden selected>Choose treatment</option>'));
    function addSubmit(ev) {
        ev.preventDefault();   
        if ($('form').data('submitted') === true) {
            ev.preventDefault();
        } else {
            $.ajax({
            method: 'POST',
            url: '/generate-invoice',
            data: $('form').serialize(),
        }).done(addShow);
      $('form').data('submitted', true);
        }
    }

    $(document).on("click", "#download_invoice", function(){
        $('head').append('<meta http-equiv="refresh" content="1;url=/download-invoice/' + Math.floor(Math.random() * 10000) + '"/>');
        })


    function addShow(data) {
      $('#result').text(data.result);
      if(data.result =='success'){
          $('#download_invoice').css('display', 'block')
      }
    }


    $('#NewOrderForm').on('submit', addSubmit);


    $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
                }
            }
        })


    var regex = /^((?=\S*['-])([a-zA-Z'-]+))([0-9][0-9]?)+$/i;
    var regex_2 = /^(.*)(\d)+$/i;
    var cloneIndex = $(".clonedInput").length;
    if ($(".clonedInput").length == 1) {
        $('.remove').hide();
    } else {
        $('.remove').show();
    }


    function clone() {
        if ($(this).parents(".clonedInput").length == 1){
            $(this).parents(".clonedInput").clone()
            .appendTo(".tbodyClone")
            .attr("id", "clonedInput" + cloneIndex)
            .find("*")
            .each(function () { 
                 var id = this.id || "";
                 var match = id.match(regex) || [];    
                 if (match.length == 4) {
                     this.id = match[1] + (cloneIndex);
                 }
                 if (this.className.includes("datepicker")){
                    this.value = ''
                 }  
                 if (this.className.includes("value")){
                    this.value = ''
                 } 
                 if (this.className.includes("thirty")){
                    this.style.backgroundColor = "white";
                 } 
                 if (this.className.includes("fourty")){
                    this.style.backgroundColor = "white";
                 } 
            }            
            )
            var select_value = $(this).parent().parent().find('.treatment').children().children("option:selected").val()
            $('#treatment-' + cloneIndex).val(select_value);  

            $.getJSON('/get-value', {
                item: select_value			
            }, function(data) {
                cloneIndex2 = cloneIndex - 1 
                $('#value-' + cloneIndex2).val(data.value.toFixed(2));
                });
        }
        else{
        $(".clonedInput").last().clone()
            .appendTo(".tbodyClone")
            .attr("id", "clonedInput" + cloneIndex)
            .find("*")
            .each(function () { 
                 var id = this.id || "";
                 var match = id.match(regex) || [];    
                 if (match.length == 4) {
                     this.id = match[1] + (cloneIndex);
                 }
                 if (this.className.includes("treatment")){
                    this.value = ''
                 } 
                 if (this.className.includes("value")){
                    this.value = ''
                 } 
                 if (this.className.includes("datepicker")){
                    this.value = ''
                 } 
                 if (this.className.includes("thirty") || (this.className.includes("fourty"))){
                    this.style.backgroundColor = "white";
                    this.style.display = "none";
                 } 
                 if (this.className.includes("modifier")){
                    this.style.display = "none";
                 } 
                 if (this.className.includes("value")){
                    this.style.display = "none";
                 } 
                 if (this.className.includes("date")){
                    this.style.display = "none";
                 } 
                 if (this.className.includes("clone")){
                    this.style.display = "none";
                 } 
                 if (this.className.includes("row")){
                    this.remove();
                 } 
            }            
            )
        }
        
        cloneIndex++;

        if ($(".clonedInput").length == 1) {
            $('.remove').hide();
        } else {
            $('.remove').show();
        }
        $(document).scrollTop($(document).height());
        re_number()
    }


    function re_number(){
        $('table').find('tr').each(function(i, v) {
            $(v).find('span.num').text(i + 1);
        });
    }

    function remove() {        
        $(this).parents(".clonedInput").remove();
        re_number()

        if ($(".clonedInput").length == 1) {
            $('.remove').hide();
        } else {
            $('.remove').show();
        }
    }


    function addPremium(object, id, percent){
        var current_value = parseFloat(object.parent().parent().children().children(".value").val());
	   	let plus_premium = current_value.toFixed(3) * percent;
	  	object.parent().parent().children().children(".value").val(plus_premium.toFixed(2));
        object.siblings().css('background-color', 'white');
        object.css('background-color', 'green');
        value_edit[id] = {
            id: id,
            value: current_value,
            edit: true,
            last: percent
            };
    }


    function subtractPremium(object, id){
        current_value = value_edit[id].value;
        object.parent().parent().children().children(".value").val(current_value.toFixed(2));
		object.css('background-color', 'white');
        object.siblings().css('background-color', 'white');
 	    value_edit[id]={
            id: id,
            value: current_value,
            edit: false,
        }
    }


    function replacePremium(object, id, percent){
        original_value = value_edit[id].value;
        let plus_premium = original_value.toFixed(3) * percent;
	  	object.parent().parent().children().children(".value").val(plus_premium.toFixed(2));
        object.siblings().css('background-color', 'white');
        object.css('background-color', 'green');
        value_edit[id] = {
            id: id,
            value: original_value,
            edit: true,
            last: percent
            };
    }


    function checkState(object, id, percent){    
	    if (typeof value_edit[id] !== 'undefined'){
		    if(value_edit[id].edit == false){
                addPremium(object, id, percent)
		    }
		    else if (value_edit[id].last == percent){
                subtractPremium(object, id)  
		    }
            else{
                replacePremium(object, id, percent)          
            }
		}
	    else{
                addPremium(object, id, percent)
	   }
    }

    var value_edit = [];

    $(document).on('click', '.thirty', function(){
        var percent = 1.3;
        var get_id_from_html = $(this).parent().parent().attr('id');
        var id = get_id_from_html.match(regex_2)[2]
        var object = $(this)
        checkState(object, id, percent)
    })


    $(document).on('click', '.fourty', function(){
        var percent = 1.4;
        var get_id_from_html = $(this).parent().parent().attr('id');
        var id = get_id_from_html.match(regex_2)[2]
        var object = $(this)
        checkState(object, id, percent)
    })


     
    function newTreatmentLiveSearch(element){
        console.log(element.parentNode.parentNode.childNodes)
        element.parentNode.parentNode.childNodes[5].childNodes[0].style.display = "block";
        element.parentNode.parentNode.childNodes[7].childNodes[0].style.display = "block";
        element.parentNode.parentNode.childNodes[9].childNodes[1].style.display = "block";
        console.log(element.value)
        if(element.value!= 0){
            $.getJSON('/get-value', {
                item: element.value			
            }, function(data) {
                console.log(data)
                element.parentNode.parentNode.childNodes[5].childNodes[0].value = data.value.toFixed(2)
                // $(sibling_of_value).parent().parent().children().children(".value").val(data.value.toFixed(2));    
                });
             }
            // else{
            //     $(sibling_of_value).parent().parent().children().children(".value").val("");
            // }
        
    }

    var sibling_of_value = null;
    $(document).on('change', '.treatment', newTreatment);
    function newTreatment(event){
        $('.datepicker' ).datepicker({dateFormat: 'dd.mm.yy'});
        $(this).parent().siblings().find('.value').show()
        $(this).parent().siblings().find('.thirty').show()
        $(this).parent().siblings().find('.fourty').show()
        $(this).parent().siblings().find('.date').show()
        $(this).parent().siblings().find('.modifier').show()
        $(this).parent().siblings().find('.clone').show()
		sibling_of_value = $(this);
        if($(this).val()!= 0){
            $.getJSON('/get-value', {
                item: $(this).val()			
            }, function(data) {
                $(sibling_of_value).parent().parent().children().children(".value").val(data.value.toFixed(2));
                });
            }
            else{
                $(sibling_of_value).parent().parent().children().children(".value").val("");
            }
        return false;
    };
    $('#date-0').hide();
    $('#value-0').hide();
    $('#modifier-0').hide();
    $('#clone-0').hide();
    $('#thirty-0').hide();
    $('#fourty-0').hide();
    $('#date_invoice').datepicker({dateFormat: 'dd.mm.yy'})
    $('#date_invoice').datepicker("setDate", new Date());
    $(document).on("click", ".clone", clone);
    $(document).on("click", ".remove", remove);
    $(document).on("click", ".datepicker", function() {
        $(this).removeClass('hasDatepicker');
        $(this).datepicker({dateFormat: 'dd.mm.yy'}).datepicker( "show" );
    });

    if('{{treatments}}' !== 'None'){
        var treatments = '{{treatments}}'
        var t = treatments.split(",")
        var d = '{{dates}}'.split(",")
        var cloneIndex = 0
        $.each(t, function(index, value) {       
            $.ajax({
                url: '/get-value',
                type: "GET",
                cache: false,
                data: { item: t[index] },
            success: function(data) {
                var data = $.parseJSON(data)
                $('#value-' + index).val(data['value'].toFixed(2))
                return data;
                }
            });
            cloneIndex = index + 1
            clone()
            var date = parseDate(d[index])
            function parseDate(str) {
                var m = str.match(/^(\d{1,2}).(\d{1,2}).(\d{4})$/);
                return (m) ? new Date(m[3], m[2]-1, m[1]) : null;
                }
            $('#date-' + index).datepicker({dateFormat: 'dd.mm.yy'})
            $('#date-' + index).datepicker("setDate", date);
            $('select#treatment-'+ (cloneIndex -1)).prepend($('<option value="" disabled hidden selected>Choose treatment</option>'));
            $('select#treatment-'+ (cloneIndex -2) + ' option[value='+t[index]+']').attr("selected",true);
            $('#thirty-' + index).show()
	    	$('#fourty-' + index).show()
            $('#modifier-' + index).show()
            $('#value-' + index).show()
            $('#clone-' + index).show()
            $('#date-' + index).show()

        })
    }
   });

</script>
{% endblock %}