<!doctype html>
<html>
  <head>
    <title>{{page_title}}</title>
    <meta charset="utf-8">
    <meta name="description" content={{page_description}}>
    <meta http-equiv="cache-control" content="no-store" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.2/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/combine/npm/fullcalendar@5.3.2,npm/fullcalendar@5.3.2/locales-all.min.js"></script>
    <script src="{{ url_for('static', filename='js/notify.js') }}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.2/main.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hover-menu.css') }}">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='img/favicon/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='img/favicon/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='img/favicon/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='img/favicon/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='img/favicon/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='img/favicon/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='img/favicon/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='img/favicon/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/favicon/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename='img/favicon/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='img/favicon/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='img/favicon/manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='img/favicon/ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">  
  </head>
  
  <body style="background-color: #e9ecef">
    <div id="backdrop">
      <div id="calendar"></div>
    </div>
    
    {% include 'navigation.html' %}
    {% block content %}
    {% endblock %}
    

    <!-- class="overlay"> -->
      <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeCalendarWindow()">&times;</a> -->
    <!-- </div> -->
    
    <i id=opencal onclick="openCalendarWindow()" class="fas fa-clock fa-4x" style="position:absolute;bottom:25px;left:25px;z-index: 9999;color:#888888;cursor: pointer;"></i>
    
    <script>

        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          aspectRatio: 2,
          // expandRows: true,
          editable: true,
          eventDrop: function(arg) {
            var start = arg.event.start.toDateString()+' '+arg.event.start.getHours()+':'+arg.event.start.getMinutes()+':'+arg.event.start.getSeconds();
            if (arg.event.end == null) {
                end = start;
            } else {
                var end = arg.event.end.toDateString()+' '+arg.event.end.getHours()+':'+arg.event.end.getMinutes()+':'+arg.event.end.getSeconds();
            }

            $.ajax({
              url: "/calendar-events/update",
              type:"GET",
              data:{id:arg.event.id, start:start, end:end},
            });
          },
          selectable: true,
          // selectHelper: true,
          eventClick: function (info) {
            if (info) {
              console.log(info)
              var id = info.event.id;
              console.log(id)
                // var start = calendar.formatDate(start, "Y-MM-DD HH:mm:ss");
                // var end = calendar.formatDate(end, "Y-MM-DD HH:mm:ss");

                // $.ajax({
                //     url: '/calendar-event/add',
                //     data: 'title=' + title + '&start=' + start + '&end=' + end,
                //     type: "POST",
                //     success: function (data) {
                //         displayMessage("Added Successfully");
                //     }
                // });
            }
            calendar.unselect()
        },
        //   eventAdd: function(arg) {
        //     var start = arg.event.start.toDateString()+' '+arg.event.start.getHours()+':'+arg.event.start.getMinutes()+':'+arg.event.start.getSeconds();
        //     var end = arg.event.end.toDateString()+' '+arg.event.end.getHours()+':'+arg.event.end.getMinutes()+':'+arg.event.end.getSeconds();

        //     $.ajax({
        //       url:url+"/calendar-event/add",
        //       type:"GET",
        //       data:{id:arg.event.id, start:start, end:end},
        //     });
        // },
          // events: 'https://fullcalendar.io/demo-events.json',
         // plugins: ['interaction', 'dayGrid', 'timeGrid', 'list'],
          events: '/calendar-events/retrieve',
          initialView: 'dayGridMonth'
        });
        $.ajax({
                            type: "GET",
                            url: '/calendar-events/retrieve', 
                            data:{start:"2020-11-01T00:00:00+02:00", end:"2020-12-13T00:00:00+02:00"},
                            success: function (patient) {
                              console.log(patient)
                                //patient = JSON.parse(patient);
                                
                            },
                            error: function(xhr, status, error){
                                var errorMessage = xhr.status + ': ' + xhr.statusText;
                                alert('Error - ' + errorMessage);
                            }
                        })





      var LHC_API = LHC_API||{};
      LHC_API.args = {mode:'widget',lhc_base_url:'//chat.voigts.cloud/',wheight:450,wwidth:350,pheight:520,pwidth:500,domain:'{{ PASCLEPIUS_DOMAIN }}',leaveamessage:true,check_messages:false};
      (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.setAttribute('crossorigin','anonymous'); po.async = true;
      var date = new Date();po.src = 'https://chat.voigts.cloud/design/defaulttheme/js/widgetv2/index.js?'+(""+date.getFullYear() + date.getMonth() + date.getDate());
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
      function openCalendarWindow() {
        var favion_open_cal_button = document.getElementById("opencal");
        if (favion_open_cal_button.classList.contains("active")){
          calendar.destroy()
          favion_open_cal_button.classList.remove("active")
          document.getElementById("backdrop").style.display= "none";

        }
        else{
          document.getElementById("backdrop").style.display= "block";
          calendar.render()
          calendar.updateSize()
          // height: $(window).height(),
          // calendar.setOption('height', $(window).height());
          favion_open_cal_button.classList += " active"
        }
        // document.getElementById("calendar").style.visibility = "visible";
        
        // //  $('#calendar').fullCalendar('render');
        // // console.log($(window).height())
        // calendar.render()
      }  
      </script>
  </body>
</html>
