<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default">
    <a class="navbar-brand" href="/">PANAM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item home">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        {% if current_user.is_authenticated %}
        <li class="nav-item patient">
          <a class="nav-link" href="/patient">Patient</a>
        </li>
        <li class="nav-item files">
          <a class="nav-link" href="/files">Files</a>
        </li>
        <li class="nav-item account">
          <a class="nav-link" href="/account">Account</a>
        </li>
        <li class="nav-item profile">
          <a class="nav-link" href="/profile/reset-personal">{{ current_user.first_name }}</a>
        </li>
        <li class="nav-item logout">
          <a class="nav-link" href="/auth/logout">Logout</a>
        </li>
        {% else %}
        <li class="nav-item login">
          <a class="nav-link" href="/auth/login">Login</a>
        </li>
        {% endif %}
      </ul>
      {% if current_user.is_authenticated %}
      <form class="search form-inline my-2 my-lg-0" autocomplete="off">
        <input id="patient_name" class="form-control mr-sm-2" name="patient_name" type="search" placeholder="Search patients">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      {% endif %}
    </div>
  </nav>
  <script>
    $(document).ready(function(){
      if(window.location.href.match('patient')){
        $('.patient').addClass('active');
      }
      else if (window.location.href.match('account')){
        $('.account').addClass('active');
      }
      else if (window.location.href.match('files')){
        $('.files').addClass('active');
      }
      else if (window.location.href.match('profile')){
        $('.profile').addClass('active');   
      }
      else if (window.location.href.match('login')){
        $('.login').addClass('active');
      }
      else if(window.location.href.match('home')) {
        $('.home').addClass('active');
      }
      else if(window.location.href.match('profile/reset-personal')){
        $('.profile').addClass('active');
      }
      else if (window.location.href.match('profile/reset-password')){
        $('.profile').addClass('active');
      }
      else if (window.location.href.match('profile/reset-practice')){
        $('.profile').addClass('active');
      }
      else if (window.location.href.match('profile/reset-layout')){
        $('.profile').addClass('active');
      }
      else if (window.location.href.match('profile/reset-banking')){
        $('.profile').addClass('active');
      }
      else{
        $('.home').addClass('active');
      }


      $('.search').on("submit", function(e) {
        e.preventDefault()
        var data = $(".search :input").serializeArray();
        var patient_name = data[0]['value']
         window.location.href = "/patient/" + patient_name
        });


        function removeActive(x) {
            for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
            }
        }
        
        
        function addActive(x) {
            if (!x) return false;
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            x[currentFocus].classList.add("autocomplete-active");
        }


        $(document).on("keyup", ".search", function (e) {
            e.preventDefault();
            var currentFocus;
            var input_element = document.getElementById("patient_name")
            var url = "{{ url_for('api_bp.liveSearchPatient') }}";
            var a, b, i, val = input_element.value;
            var name = input_element.value
                $.ajax({
                type: "GET",
                url: url,
                data: {patient_name: name}, 
                dataType: 'json',
                success: function (returnData) {
                    if (returnData.length <= 5){
                      var names = [], range = returnData.length;
                    }
                    else{
                     var names = [], range = 5
                    }
                    for (i = 0; i < range; i++) {
                        names[i] = returnData[i]['patient_name']
                    }
                    closeAllLists();
                    if (!val) { return false;}
                    currentFocus = -1;
                    var a = document.createElement("DIV");
                    a.setAttribute("id", "autocomplete-list");
                    a.setAttribute("class", "autocomplete-items");
                    input_element.parentNode.appendChild(a);
                    for (i = 0; i < names.length; i++) {
                        if (names[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                            var b = document.createElement("DIV");
                            b.style.display = "flex";
                            b.style.justifyContent = "flex-end";
                            b.style.alignItems = "center";
                            b.innerHTML = "<strong>" + names[i].substr(0, val.length) + "</strong>";
                            b.innerHTML += names[i].substr(val.length);
                            b.innerHTML += "<input type='hidden' value='" + names[i] + "'>";
                            b.addEventListener("click", function(e) {
                                input_element.value = this.getElementsByTagName("input")[0].value;
                                closeAllLists();
                                $('.search').submit();
                            });
                            a.appendChild(b);
                        }
                    }


            function closeAllLists(elmnt) {
                var x = document.getElementsByClassName("autocomplete-items");
                for (var i = 0; i < x.length; i++) {
                    if (elmnt != x[i] && elmnt != input_element) {
                    x[i].parentNode.removeChild(x[i]);
                    }
                }
            }
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });

                }
            });
        });
    })

  </script>
</header>