{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <h2>{{patient}}</h2>
    <br><br>

    <h2>Patients</h2>  
    <div class="list-group">
        {% for i in patient_data %} 
        <a href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{i['name']}}</h5>
                <small>
                    <span style="text-transform: uppercase;">{{i['medical']}}</span>
                    
                    {% if i['medical'] == 'mva'%}
                </small>
            </div>
            <form autocomplete="off" id="continue_mva_{{loop.index}}" class="mva" >  
                    {{ form_mva.hidden_tag() }}
                    {{ form_mva.medical(style='display:none', value=i['medical']) }}
                    {{ form_mva.tariff(style="display: none;", id='tariff_' ~ loop.index) }}
                    {{ form_mva.name(value=i['name'], style="display: none") }}
                    {{ form_mva.case(style="display: none;", value=i['case']) }}
                    {{ form_mva.po.label }} {{ form_mva.po }}
                    <br>
                    {{ form_mva.date.label }} {{ form_mva.date(id='date_mva_' ~ loop.index) }}
                    <br>
                    {{ form_mva.submit }}
            </form>  
            <small>Tariff: {{i['tariff']}} <br> Case Number: {{i['case']}}</small>
        </a>
    <script>
         $('#continue_mva_{{loop.index}}').submit(function (e) {
            e.preventDefault(); 
            var url = "{{ url_for('selectPatient') }}";
            // console.log($('.mva').serialize()) 
            $.ajax({
                type: "POST",
                url: url,
                data: $('#continue_mva_{{loop.index}}').serialize(), 
                success: function (refData) {window.location.href = "/patient/" + refData.data.name.toString() +"/new-invoice";
                }
            });
        });
    </script>

    {% elif i['medical'] == 'psemas'%}
            </small>
        </div>
        <form autocomplete="off" id="continue_psemas_{{loop.index}}" class="psemas" >  
            {{ form_psemas.hidden_tag() }}
            {{ form_psemas.medical(value=i['medical'], style="display: none;") }}
            {{ form_psemas.tariff(id='tariff_' ~ loop.index, style="display: none;") }}
            {{ form_psemas.name(value=i['name'], style="display: none")  }}
            {{ form_psemas.main(value=i['main'], style="display: none") }}
            {{ form_psemas.dob(value=i['dob'], style="display: none") }}
            {{ form_psemas.number(value=i['number'], style="display: none") }}
            {{ form_psemas.date.label }} {{ form_psemas.date(id='date_psemas_' ~ loop.index) }}
        <br>
        {{ form_mva.submit }}
        </form>
        <small>Tariff: {{i['tariff']}} <br> Medical Number: {{i['number']}} <br>Main Member: {{i['main']}} <br>Date of Birth: {{i['dob']}}</small>
    </a>
    <script>
         $('#continue_psemas_{{loop.index}}').submit(function (e) {
            e.preventDefault();
            var url = "{{ url_for('selectPatient') }}";
                $.ajax({
                type: "POST",
                url: url,
                data: $('#continue_psemas_{{loop.index}}').serialize(), 
                success: function (refData) {window.location.href = "/patient/" + refData.data.name.toString() +"/new-invoice";
                }
            });
        })
    </script>

        {% else %}
            </small>
        </div>
        <form  autocomplete="off" id="continue_other_{{loop.index}}" class="other" >  
            {{ form_other.hidden_tag() }}
            {{ form_other.medical(value=i['medical'], style="display: none") }}  
            {{ form_other.tariff(id='tariff_' ~ loop.index, style="display: none") }}
            {{ form_other.name(value=i['name'], style="display: none")  }}
            {{ form_other.main(value=i['main'], style="display: none") }}
            {{ form_other.dob(value=i['dob'], style="display: none") }}
            {{ form_other.number(value=i['number'], style="display: none") }}
            {{ form_other.date.label }} {{ form_other.date(id='date_other_' ~ loop.index) }}
        <br>
        {{ form_other.submit }}
        </form>  
        <small>Tariff: {{i['tariff']}} <br> Medical Number: {{i['number']}} <br>Main Member: {{i['main']}} <br>Date of Birth: {{i['dob']}}</small>
    </a>
    <script>
        $('#continue_other_{{loop.index}}').submit(function (e) {
            e.preventDefault();
            var url = "{{ url_for('selectPatient') }}";
            $.ajax({
                type: "POST",
                url: url,
                data: $('#continue_other_{{loop.index}}').serialize(), 
                success: function (refData) {window.location.href = "/patient/" + refData.data.name.toString() +"/new-invoice";
                }
            });
        })
    </script>

        {% endif %}
        <script>
            selectElement('tariff_{{ loop.index }}', '{{ i["tariff"] }}')
            function selectElement(id, valueToSelect) {    
            let element = document.getElementById(id);
            element.value = valueToSelect;
            $('.other').children('#date_other_{{loop.index}}').datepicker({dateFormat: 'dd.mm.yy'})
            $('.mva').children('#date_mva_{{loop.index}}').datepicker({dateFormat: 'dd.mm.yy'})
            $('.psemas').children('#date_psemas_{{loop.index}}').datepicker({dateFormat: 'dd.mm.yy'})
            }
        </script>
    {% endfor %}
    </div>    
    <br><br>
    <h2>Past invoice</h2>  
    <ul class="list-group">
        {% for i in data %} 
        <li class="invoice_list list-group-item" ><span id="patient_name-{{loop.index}}">{{i['name']}}</span> {{i['medical']}} {{i['date'].strftime('%d.%m.%Y')}} <span style="display:none;" id="patient_date-{{loop.index}}">{{ i['date'] }}</span></li>
        <ul class="treatment_list list-group-item" id="treatment-list-{{loop.index}}" style="display:none;">
                <script>
                    $.getJSON('/get-treatment-name', {
                        items: '{{ i["treatments"] }}',
                        tariff: '{{ i["tariff"] }}'		
                    }, function(data) {
                        var button = document.createElement("button");
                        var el = document.getElementById('treatment-list-{{loop.index}}')
                        for (i = 0; i < data.treatments.length; i++) {
                            var node = document.createElement("li");
                            node.classList.add('list-group-item');
                            node.innerText = data.treatments[i]['description'];
                            el.appendChild(node);
                        }
                        button.innerHTML = "Continue Invoice";
                        button.classList.add("continue" + '{{loop.index}}')
                        el.appendChild(button);
                        $('.continue' + '{{loop.index}}').click(function(){
                            var patient_name = $('#patient_name-{{loop.index}}').text();
                            var patient_date = $('#patient_date-{{loop.index}}').text();
                            $.getJSON('/set-known-invoice', {
                                patient: patient_name,
                                date: patient_date		
                            }, function(data) {
                                window.location.href = "/patient/" + patient_name.toString() +"/continue-invoice";
                                })
                        })
                        
                    });
            </script>
        </ul>
        {% endfor %}
    </ul>
    <br><br><br>    
</div>


<script>

    $(document).ready(function() {
        $('.continue').click(function(){
            console.log("this runns")
            console.log($(this).parent().siblings('li'));
        })
        $('.invoice_list').click(function() {
            $(this).next().css("display", "block");
        });
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ form_mva.csrf_token._value() }}")
                }
            }
        })
    });

</script>




 {% endblock %}
