{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <form action="/patient/" method="get">
            <label for="name">Name:</label>
            <input type="text" id="name" name="user_name">
            <button type="submit">Continue</button>
        </form>
    </div>



<script>
$(document).ready(function() {
    $('form').submit(function() {
        event.preventDefault()
        window.location.href = "/patient/" + $('#name').val()
    });
})
</script>

 {% endblock %}
