<form id="invoice_form">
    <div class="form-group row">
        <div class="col-sm-2">Choose Invoice Layout</div>
        <div class="col-sm-10">
            <div class="form-check">
                <input name="phone" id="phone" type="checkbox" class="form-check-input">
                <label for="phone" class="form-check-label">Landline</label>
            </div>
            <div class="form-check">
                <input name="fax" id="fax" type="checkbox" class="form-check-input">
                <label for="fax" class="form-check-label">Fax</label>
            </div>
            <div class="form-check">
                <input name="hospital" id="hospital" type="checkbox" class="form-check-input">
                <label for="hospital" class="form-check-label">Hospital</label>
            </div>
            <div class="form-check">
                <input name="diagnosis" id="diagnosis" type="checkbox" class="form-check-input">
                <label for="diagnosis" class="form-check-label">Diangosis</label>
            </div>
        </div>
    </div>
    <input type="submit" value="Update Invoice">
</form>


<script>
    $(document).ready(function(){
        if ('{{layout_code}}' == 1){
        }
        else if ('{{layout_code}}' == 2){
            $("#phone").prop("checked", true);
        }
        else if ('{{layout_code}}' == 3){
            $("#phone").prop("checked", true);
            $("#fax").prop("checked", true);
        }
        else if ('{{layout_code}}' == 4){
            $("#hospital").prop("checked", true);
        }
        else if ('{{layout_code}}' == 5){
            $("#phone").prop("checked", true);
            $("#hospital").prop("checked", true);
        }
        else if ('{{layout_code}}' == 6){
            $("#phone").prop("checked", true);
            $("#fax").prop("checked", true);
            $("#hospital").prop("checked", true);
        }
        else if ('{{layout_code}}' == 7){
            $("#diagnosis").prop("checked", true);
            $("#hospital").prop("checked", true);
        }
        else if ('{{layout_code}}' == 8){
            $("#phone").prop("checked", true);
            $("#diagnosis").prop("checked", true);
            $("#hospital").prop("checked", true);
        }
        else if ('{{layout_code}}' == 9){
            $("#phone").prop("checked", true);
            $("#fax").prop("checked", true);
            $("#diagnosis").prop("checked", true);
            $("#hospital").prop("checked", true);
        }
        else if ('{{layout_code}}' == 10){
            $("#diagnosis").prop("checked", true);
        }
        else if ('{{layout_code}}' == 11){
            $("#phone").prop("checked", true);
            $("#diagnosis").prop("checked", true);
        }
        else if ('{{layout_code}}' == 12){
            $("#phone").prop("checked", true);
            $("#fax").prop("checked", true);
            $("#diagnosis").prop("checked", true);
        }

        $("body").on("submit", "#invoice_form", function(e){
            e.preventDefault();
            var form = $(this);
            $.ajax({
                type: "POST",
                url: '/profile/invoice', 
                data: form.serialize(),
                success: function (returnData) {
                    $('.modal-body').text(returnData)
                    $("#profile_modal").modal();
                },
                error: function(xhr, status, error){
                    var errorMessage = xhr.status + ': ' + xhr.statusText;
                    alert('Error - ' + errorMessage);
                }
            })
        })

    });
    </script>


