<div class="container-fluid p-5">
    <h3 class="pb-2">Personal Information</h3>
            <p class="required">Required Fields</p>
    <form id=personal_form>
        <div class="border p-5 my-3">
            </h5>
            <div class="form-group">
                <label for="first_name" class="required">First Name</label>
                <input name="first_name" id="first_name" value='{{ user["first_name"]}}' class="form-control" type="text">
            </div>
            <div class="form-group">
                <label for="second_name" class="required">Second Name</label>
                <input name="second_name" id="second_name" value='{{ user["second_name"]}}' class="form-control" type="text">
            </div>
        <input type="submit" class="btn btn-primary" value="Update Personal">
        </div>
    </form> 
</div>


<script>
$("body").on("submit", "#personal_form", function(e){
    e.preventDefault();
    var form = $(this);
    $.ajax({
        type: "POST",
        url: '/profile/personal', 
        data: form.serialize(),
        success: function (returnData) { 
            returnData = JSON.parse(returnData.replace(/&#34;/g,'"'));
            if (returnData["status"] =="Success"){  
                $.notify({
                                    icon:"glyphicon glyphicon-warning-sign",
                                    title: "<strong> Status: " + returnData["status"] + "</strong>",
                                    message: returnData["description"]
                                },{
                                    placement: {
                                        from: "top",
                                        align: "center"
                                    },
                                    type: 'success',
                                    delay: 2000,
                                    animate: {
                                        enter: 'animated fadeInDown',
                                        exit: 'animated fadeOutUp'
                                    }
                                });  

                            }
            else{
                                $.notify({
                                    icon:"glyphicon glyphicon-warning-sign",
                                    title: "<strong> Status: " + returnData["status"] + "</strong>",
                                    message: returnData["description"]
                                },{
                                    placement: {
                                        from: "top",
                                        align: "center"
                                    },
                                    type: 'danger',
                                    delay: 2000,
                                    animate: {
                                        enter: 'animated fadeInDown',
                                        exit: 'animated fadeOutUp'
                                    }
                                });
                            }
        },
        error: function(xhr, status, error){
            var errorMessage = xhr.status + ': ' + xhr.statusText;
            alert('Error - ' + errorMessage);
        }
    })
})
</script>

