<div class="jumbotron jumbotron-fluid" style="margin-bottom: 0; height: 100vh;">
    <div class="container">
<form id=personal_form>
    <div class="form-row">
        <div class="form-group col-md-5">
            <label for="first_name">First Name</label>
            <input name="first_name" id="first_name" value='{{ user["first_name"]}}' class="form-control" type="text">
        </div>
        <div class="form-group col-md-5">
            <label for="second_name">Second Name</label>
            <input name="second_name" id="second_name" value='{{ user["second_name"]}}' class="form-control" type="text">
        </div>
    </div>
    <input type="submit"  value="Update Personal">
</form> 
</div>
</div>

<script>
$("body").on("submit", "#personal_form", function(e){
    e.preventDefault();
    var form = $(this);
    $.ajax({
        type: "POST",
        url: '/profile/personal', 
        data: form.serialize(),
        success: function (returnData) {     
            returnData = JSON.parse(returnData.replace(/&#34;/g,'"'));
            $('.modal-title').text(returnData["status"])    
            $('.modal-body').text(returnData["description"])
            $("#profile_modal").modal();
        },
        error: function(xhr, status, error){
            var errorMessage = xhr.status + ': ' + xhr.statusText;
            alert('Error - ' + errorMessage);
        }
    })
})
</script>

