{% if current_user.practice_role == 'assistant' %}

<p>Choose practice:</p>

{% for i in practice %}
<ul>
    <li> <button class="select_practice btn btn-secondary" value='{{ i["practice_uuid"] }}'>{{ i['practice_name'] }}</button></li>  
</ul>
{% endfor %}

<script>
$(document).ready(function() {
    var current_practice = $("#practice_name_navbar").text()

    var aTags = document.getElementsByTagName("BUTTON");
    var searchText = current_practice;
    var found;

    for (var i = 0; i < aTags.length; i++) {
        if (aTags[i].textContent == searchText) {
            found = aTags[i];
            break;
        }
    }
    found.classList.add("active");

    

    $("body").on("click", ".select_practice", function(e){
        e.preventDefault();
        var this_button = $(this);
        var this_text = this_button.text();
        var practice_uuid = this_button.val();
        $.ajax({
            type: "POST",
            url: '/profile/practice', 
            data: {practice_uuid: practice_uuid},
            success: function (returnData) {
                $(".select_practice").removeClass("active")
                $('.modal-body').text(returnData)
                $("#profile_modal").modal();
                $("#practice_name_navbar").text(this_text)
                this_button.addClass("active")
            },
            error: function(xhr, status, error){
                var errorMessage = xhr.status + ': ' + xhr.statusText;
                alert('Error - ' + errorMessage);
            }
        })
    })
})
</script>


    

{% elif current_user.practice_role == 'admin' %}
<form id="practice_form">
    <div class="form-group">
        <label for="practice_name" class="required">Practice Name</label>
        <input name="practice_name" id="practice_name" class="form-control w-25 p-3" value='{{practice["practice_name"]}}' type="text">  
    </div>   
    <div class="form-group">
        <label for="practice_number" class="required">Practice Number</label>
                        <input name="practice_number"  id="practice_number" value='{{practice["practice_number"]}}' class="form-control w-25 p-3" type="text" required>
                    </div>
                    <div class="form-group">
                        <label for="hpcna_number">HPCNA Number</label>
                        <input name="hpcna_number" id="hpcna_number" value='{{practice["hpcna_number"]}}' class="form-control w-25 p-3" type="text">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="practice_email">Practice Email</label>
                            <input name="practice_email" id="practice_email" value='{{practice["practice_email"]}}' class="form-control" type="text">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="phone">Landline Number</label>
                            <input name="phone" id="phone" value='{{practice["phone"]}}' class="form-control" type="text">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="cell">Cell Phone Number</label>
                            <input name="cell" id="cell" value='{{practice["cell"]}}' class="form-control" type="text">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="fax">Fax Number</label>
                            <input name="fax" id="fax" value='{{practice["fax"]}}' class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="pob">PO Box</label>
                            <input name="pob" id="pob" value='{{practice["pob"]}}' class="form-control" type="text">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="city">City</label>
                            <input name="city" id="city" value='{{practice["city"]}}' class="form-control" type="text">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="country">Country</label>
                            <input name="country" id="country" value='{{practice["country"]}}' class="form-control" type="text">
                        </div>
                    </div>
                        <div class="form-group">
                            <label for="qualification">Qualification</label>
                            <input name="qualification" id="qualification" value='{{practice["qualification"]}}' class="form-control" type="text">
                        </div>
                        <div class="form-group">
                            <label for="specialisation">Specialisation</label>
                            <input name="specialisation" id="specialisation" value='{{practice["specialisation"]}}' class="form-control" type="text">
                        </div>
                        <div class="form-group">
                            <label for="bank_holder">Bank Holder</label>
                            <input name="bank_holder" id="bank_holder" value='{{practice["bank_holder"]}}' class="form-control w-25 p-3" type="text">
                        </div>
                        <div class="form-group">
                            <label for="bank_account">Bank Account</label>
                            <input name="bank_account" id="bank_account" value='{{practice["bank_account"]}}' class="form-control w-25 p-3" type="text">
                        </div>
                        <div class="form-group">
                            <label for="bank_branch">Bank Branch</label>
                            <input name="bank_branch" id="bank_branch" value='{{practice["bank_branch"]}}' class="form-control w-25 p-3" type="text">
                        </div>
                        <div class="form-group">
                            <label for="bank">Bank</label> 
                            <input name="bank" id="bank" value='{{practice["bank"]}}' class="form-control w-25 p-3" type="text">   
                        </div>
    <input type="submit" value="Update Practice">
</form> 
<script>
$("body").on("submit", "#practice_form", function(e){
    e.preventDefault();
    var form = $(this);
    $.ajax({
        type: "POST",
        url: '/profile/practice', 
        data: form.serialize(),
        success: function (returnData) {
            $('.modal-body').text(returnData)
            $("#profile_modal").modal();
            // console.log(returnData);
        },
        error: function(xhr, status, error){
            var errorMessage = xhr.status + ': ' + xhr.statusText;
            alert('Error - ' + errorMessage);
        }
    })
})
</script>
{% endif %}

