{% include 'profile/profile.html' %}
{% block content %}
    {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
            <div class="tab-pane" id="layout">
                <form method="post">
                    <div class="form-group row">
                        <div class="col-sm-2">Choose Invoice Layout</div>
                        <div class="col-sm-10">
                            {{ form_layout.hidden_tag() }}
                            <div class="form-check">
                                {{ form_layout.phone(class="form-check-input") }}
                                {{ form_layout.phone.label(class_="form-check-label") }}
                                
                            </div>
                            <div class="form-check">
                                {{ form_layout.fax( class="form-check-input") }}
                                {{ form_layout.fax.label(class_="form-check-label") }}
                                
                            </div>
                            <div class="form-check">
                                {{ form_layout.hospital(class="form-check-input") }}
                                {{ form_layout.hospital.label(class_="form-check-label") }}
                                
                            </div>
                            <div class="form-check">
                                {{ form_layout.diagnosis(class="form-check-input") }}
                                {{ form_layout.diagnosis.label(class_="form-check-label") }}
                            
                            </div>
                        </div>
                    </div>
                    {{ form_layout.submit }}
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        if ('{{layout_code}}' == 1){
        }
        else if ('{{layout_code}}' == 2){
            $("#phone").prop("checked", true);
        }
        else if ('{{layout_code}}' == 3){
            $("#phone").prop("checked", true);
            $("#fax").prop("checked", true);
        }
        else if ('{{layout_code}}' == 4){
            $("#hospital").prop("checked", true);
        }
        else if ('{{layout_code}}' == 5){
            $("#phone").prop("checked", true);
            $("#hospital").prop("checked", true);
        }
        else if ('{{layout_code}}' == 6){
            $("#phone").prop("checked", true);
            $("#fax").prop("checked", true);
            $("#hospital").prop("checked", true);
        }
        else if ('{{layout_code}}' == 7){
            $("#diagnosis").prop("checked", true);
            $("#hospital").prop("checked", true);
        }
        else if ('{{layout_code}}' == 8){
            $("#phone").prop("checked", true);
            $("#diagnosis").prop("checked", true);
            $("#hospital").prop("checked", true);
        }
        else if ('{{layout_code}}' == 9){
            $("#phone").prop("checked", true);
            $("#fax").prop("checked", true);
            $("#diagnosis").prop("checked", true);
            $("#hospital").prop("checked", true);
        }
        else if ('{{layout_code}}' == 10){
            $("#diagnosis").prop("checked", true);
        }
        else if ('{{layout_code}}' == 11){
            $("#phone").prop("checked", true);
            $("#diagnosis").prop("checked", true);
        }
        else if ('{{layout_code}}' == 12){
            $("#phone").prop("checked", true);
            $("#fax").prop("checked", true);
            $("#diagnosis").prop("checked", true);
        }
    });
    </script>

 {% endblock %}
