{{ available_practices }}


<!-- <form id="add_assistant">
    <div class="form-row">
        <div class="form-group col-md-5">
            <label for="first_name">First Name</label>
            <input name="first_name" id="first_name" class="form-control" type="text">
        </div>
        <div class="form-group col-md-5">
            <label for="second_name">Second Name</label>
            <input name="second_name" id="second_name" class="form-control" type="text">
        </div>
        <div class="form-group col-md-5">
            <label for="email">Email Address</label>
            <input name="email" id="email" class="form-control" type="text">
        </div>
    </div>
    <input value="Add Assistant" type="submit">
</form>  -->

<script>
// $("body").on("submit", "#add_assistant", function(e){
//     e.preventDefault();
//     var form = $(this);
//     $.ajax({
//         type: "POST",
//         url: '/profile/assistant', 
//         data: form.serialize(),
//         success: function (returnData) {
//             console.log(returnData);
//         },
//         error: function(xhr, status, error){
//             var errorMessage = xhr.status + ': ' + xhr.statusText;
//             alert('Error - ' + errorMessage);
//         }
//     })
// })
</script>

