{% extends 'layout.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div id="inside_container" class="align-middle">
            {% if current_user.is_authenticated %}
                Hi {{ current_user.first_name }},<br>
                 And welcome to your initial setup. Keep in mind that this setup will create a new practice. 
                 If you want to be part of an already existing practice you need to ask for access by the practice admin. 
            {% endif %}
        </div>

        <form autocomplete="off" method=post>
            {{ form.hidden_tag() }}
            <div class="border border-dark px-5">
                <br>
                <h4>Credentials:</h4>
                <div class="form-group">
                {{ form.qualification.label(for="formGroupExampleInput3", class_="required") }}
                {{ form.qualification(id_="formGroupExampleInput3", class_="required form-control w-75 p-3", placeholder="Example: Dr. Med. (Germany), FCRS (Edingburgh)", onfocus="this.placeholder = ''", onblur="this.placeholder = 'Example: Dr. Med. (Germany), FCRS (Edingburgh)'") }}
                </div>
                <div class="form-group">
                {{ form.specialisation.label(for="specialisation") }}
                {{ form.specialisation(id_="specialisation", class_="required form-control w-75 p-3", placeholder="Example: Specialist Orthopaedic and Spinal Surgoen", onfocus="this.placeholder = ''", onblur="this.placeholder = 'Example: Specialist Orthopaedic and Spinal Surgoen'") }}
                </div>
                <div class="form-group">
                  {{ form.practice_name.label(for="practice_name", class_="required") }}  
                  {{ form.practice_name(id_="", class_="required form-control w-75 p-3", placeholder="Example: Practice Dr. Voigt", onfocus="this.placeholder = ''", onblur="this.placeholder = 'Example: Practice Dr. Voigt'") }}
                  </div>
                  <div class="form-group">
                  {{ form.practice_number.label(for="practice_number", class_="required") }}
                  {{ form.practice_number(class_="required form-control w-25 p-3", placeholder="Example: 0280000524972", onfocus="this.placeholder = ''", onblur="this.placeholder = 'Example: 0280000524972'") }}
                  </div>
                  <div class="form-group">
                  {{ form.hpcna_number.label(for="hpcna_number", class_="required") }}
                  {{ form.hpcna_number(class_="required form-control w-25 p-3", placeholder="Example: MPR 00663", onfocus="this.placeholder = ''", onblur="this.placeholder = 'Example: MPR 00663'") }}
                  </div>
                  <div class="form-group">
                  {{ form.practice_email.label(for="formGroupExampleInput2", class_="required") }}
                  {{ form.practice_email(class_="required form-control w-50 p-3", id_="formGroupExampleInput2", placeholder="Example: andreas.voigt@gmail.com", onfocus="this.placeholder = ''", onblur="this.placeholder = 'Example: andreas.voigt@gmail.com'") }}
                  </div>

                <div class="form-group">
                  {{ form.cell.label(for="cell", class_="required") }}
                  {{ form.cell(class_="required form-control w-25 p-3", placeholder="Example: +264814952057", onfocus="this.placeholder = ''", onblur="this.placeholder = 'Example: +264814952057'") }}
                  </div>
                <div class="form-group">
                {{ form.phone.label(for="phone") }}
                {{ form.phone(class_="form-control w-25 p-3", placeholder="Example: +26465220154", onfocus="this.placeholder = ''", onblur="this.placeholder = 'Example: +26465220154'")}}
                </div>
                <div class="form-group">
                  {{ form.fax.label(for="fax") }}
                  {{ form.fax(class_="form-control w-25 p-3", placeholder="Example: +26465220154", onfocus="this.placeholder = ''", onblur="this.placeholder = 'Example: +26465220154'")}}
                  </div>
                <br>
              </div>  
              <br>
              <div class="border border-dark px-5">
                <br>
                <h4>Postal address:</h4>
                <div class="form-group">
                  {{ form.pob.label(for="pob", class_="required") }}
                  {{ form.pob(class_="form-control w-75 p-3", cols="10", rows="5", placeholder="Example: PO Box 3737", onfocus="this.placeholder = ''", onblur="this.placeholder = 'Example: PO Box 3737'") }}
                </div>
                <div class="form-group">
                  {{ form.city.label(for="city", class_="required") }}
                  {{ form.city(class_="form-control w-75 p-3", cols="10", rows="5", placeholder="Example: Oshakati", onfocus="this.placeholder = ''", onblur="this.placeholder = 'Example: Oshakati'") }}
                </div>
                <div class="form-group">
                  {{ form.country.label(for="country", class_="required") }}
                  {{ form.country(class_="form-control w-75 p-3", cols="10", rows="5", placeholder="Example: Namibia", onfocus="this.placeholder = ''", onblur="this.placeholder = 'Example: Namibia'") }}
                </div> 
                <br>   
              </div>
              <div class="border border-dark px-5">
                <br>
                <h4>Banking details:</h4>
                <div class="form-group">
                {{ form.bank_holder.label(for="bank_holder", class_="required") }}
                {{ form.bank_holder(class_="required form-control w-50 p-3", placeholder="Example: Dr. A Voigt", onfocus="this.placeholder = ''", onblur="this.placeholder = 'Example: Dr. A Voigt'") }}
                </div>
                <div class="form-group">
                {{ form.bank_account.label(for="bank_account", class_="required") }}
                {{ form.bank_account(class_="form-control w-50 p-3", placeholder="Example: 64768767882", onfocus="this.placeholder = ''", onblur="this.placeholder = 'Example: 64768767882'") }}
                </div>
                <div class="form-group">
                {{ form.bank_branch.label(for="bank_branch", class_="required") }}
                {{ form.bank_branch(class_="form-control w-50 p-3", placeholder="Example: 60022", onfocus="this.placeholder = ''", onblur="this.placeholder = 'Example: 60022'") }}
                </div>
                <div class="form-group">
                {{ form.bank.label(for="bank", class_="required") }}
                {{ form.bank(class_="form-control w-50 p-3", placeholder="Example: TrustMeBank Oshakati", onfocus="this.placeholder = ''", onblur="this.placeholder = 'Example: TrustMeBank Oshakati'") }}
                </div>
                <br>
            </div>
            <input type=submit value="Finalise Setup">

        </form>
    </div>
</div>
 {% endblock %}
