{% extends 'layout.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div id="inside_container" class="align-middle">
            {% if current_user.is_authenticated %}
                Hi {{ current_user.first_name }},<br>
                 And welcome to your initial setup. Keep in mind that this setup will create a new practice. 
                 If you want to be part of an already existing practice you need to ask for access by the practice admin. 
            {% endif %}
        </div>

<!-- TODO add js form validation -->

        <form autocomplete="off" method=post>
          <br>
          <p class="required">Required Fields</p>
          <div class="border border-dark px-5">
            <br>
            <h4>Professional Credentials:</h4>
            <div class="form-group">
              <label class="required" for="namaf_profession">Namaf Profession</label>
              <select name="namaf_profession" id="namaf_profession" class="form-control col-md-4" required>
                <option value="">Select Profession</option>
                <option value="orthopaedic_surgeons">Orthopaedic Surgeons</option>
                <option value="physiotherapy">Physiotherapy</option>
              </select>
            </div>
            <div class="form-group">
              <label for="qualification">Qualification</label>
              <input name=qualification class="form-control col-sm-12" type="text">
            </div>
            <div class="form-group">
              <label for="specialisation">Specialisation</label>
              <input name=specialisation class="form-control col-sm-12" type="text">
            </div>
          </div>
            <br>
            <div class="border border-dark px-5">
            <br>
            <h4>Practice Details:</h4>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label class="required" for="practice_name">Practice Name</label>
                <input name=practice_name class="form-control" type="text" required>
              </div>
              <div class="form-group col-md-4">
                <label class="required" for="practice_number">Practice Number</label>
                <input name=practice_number class="form-control" type="text" required>
              </div>
              <div class="form-group col-md-4">
                <label class="required" for="hpcna_number">HPCNA Number</label>
                <input name=hpcna_number class="form-control" type="text" required>
              </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                  <label class="required" for="practice_email">Email</label>
                  <input name=practice_email class="form-control" type="text" required>
                </div>
                <div class="form-group col-md-4">
                  <label class="required" for="cell">Cellphone</label>
                  <input name=cell class="form-control" type="text" required>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="phone">Landline</label>
                  <input name=phone class="form-control" type="text">
                </div>
                <div class="form-group col-md-4">
                  <label for="fax">Fax</label>
                  <input name=fax class="form-control" type="text">
                </div>
              </div>
                <br>
              </div>  
              <br>
              <div class="border border-dark px-5">
                <br>
                <h4>Postal address:</h4>
                <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="pob">PO Box</label>
                  <input name=pob class="form-control" type="text">
                </div>
                <div class="form-group col-md-4">
                  <label for="city">City</label>
                  <input name=city class="form-control" type="text">
                </div>
                <div class="form-group col-md-4">
                  <label for="country">Country</label>
                  <input name=country class="form-control" type="text">
                </div>
              </div>
                <br>   
              </div>
              <br>
              <div class="border border-dark px-5">
                <br>
                <h4>Banking Details:</h4>
                <div class="form-row ">
                <div class="form-group col-md-4">
                  <label  for="bank_holder">Bank Holder</label>
                  <input name=bank_holder class="form-control" type="text">
                </div>
                <div class="form-group col-md-4">
                  <label for="bank_account">Bank Account</label>
                  <input name=bank_account class="form-control" type="text">
                </div>
              </div>
              <div class="form-row ">
                <div class="form-group col-md-4">
                  <label for="bank_branch">Bank Branch</label>
                  <input name=bank_branch class="form-control" type="text">
                </div>
                <div class="form-group col-md-4">
                  <label for="bank">Bank</label>
                  <input name=bank class="form-control" type="text">
                </div>
              </div>
                <br>
            </div>
            <input type=submit value="Finalise Setup">
        </form>
    </div>
</div>
 {% endblock %}
