{% block content %}
    <h3 lass="pb-2">Create new patient</h3> 
    <!-- <div class="border p-5 my-3"> -->
        <div class="form-row">
            <div class="form-group col-md-6">
    <select class="medical_aid custom-select">
        <option value="">Select medical aid</option>
        <option value="psemas">PSEMAS</option>
        <option value="mva">MVA</option>
        <option value="other">OTHER</option>
    </select>
</div>
    </div>
    <br>
    <br>
    <form method=post autocomplete="off" id="newInvoice_mva" name="mva" class="mva" style="display:none">  
        {% for field, errors in form_mva.errors.items() %}
        <div class="alert alert-error">
            {{ form_mva[field].label }}: {{ ', '.join(errors) }}
        </div>
        {% endfor %}  
        <div class="form-row">
            {{ form_mva.hidden_tag() }}
            {{ form_mva.medical_aid(value='mva', style='display:none') }}
            
            <div class="form-group col-md-6">
                {{ form_mva.patient_name.label(class="required",  for="patient_name") }} {{ form_mva.patient_name(class_="form-control") }}
            </div>
            <div class="form-group col-md-6">
                {{ form_mva.case_number.label(class="required",  for="case_number") }} {{ form_mva.case_number(class_="form-control") }}
            </div>
        </div>  
        <div class="form-row">
            
            <div class="form-group col-md-6">
                {{ form_mva.tariff.label(id="tariff_label", class="tariff_label required") }} {{ form_mva.tariff(class_="tariff form-control") }}
            </div>
            <div class="form-group col-md-6">
                {{ form_mva.po_number.label(class="required", id="po_label") }} {{ form_mva.po_number(class_="form-control",type="number") }}
            </div>
        </div>

        {% if 4 <= layout_code <= 9 %}
            <div class="form-row hospital_mva">
                <div class="form-group col-md-4">
                    {{ form_mva.hospital_name.label(id="hospital_name_label") }} {{ form_mva.hospital_name(class_="form-control") }}
                </div>
                <div class="form-group col-md-4">
                    {{ form_mva.admission_date.label(id="admission_date_label") }} {{ form_mva.admission_date(class_="form-control") }}
                </div>
                <div class="form-group col-md-4">
                    {{ form_mva.discharge_date.label(id="discharge_date_label") }} {{ form_mva.discharge_date(class_="form-control") }}
                </div>
            </div>
            {% endif %}
            {% if 7 <= layout_code <= 12 %}
            <div class="form-row procedure_other">
                <div class="form-group col-md-8">
                    {{ form_mva.diagnosis.label(id="diagnosis_label") }} {{ form_mva.diagnosis(class_="form-control") }}
                </div>
                <div class="form-group col-md-4">
                    {{ form_mva.diagnosis_date.label(id="diagnosis_date_label") }} {{ form_mva.diagnosis_date(class_="form-control") }}
                </div>
            </div>
            <div class="form-row procedure_other">
                <div class="form-group col-md-8">
                    {{ form_mva.procedure.label(id="procedure_label") }} {{ form_mva.procedure(class_="form-control") }}
                </div>
                <div class="form-group col-md-4">
                    {{ form_mva.procedure_date.label(id="procedure_date_label") }} {{ form_mva.procedure_date(class_="form-control") }}
                </div>
            </div>
            <div class="form-row procedure_other">
                <div class="form-group col-md-4">
                    {{ form_mva.implants.label(id="implants_label") }} {{ form_mva.implants(class_="form-control") }}
                </div>
                <div class="form-group col-md-4">
                    {{ form_mva.intra_op.label(id="intra_op_label") }} {{ form_mva.intra_op(class_="form-control") }}
                </div>
                <div class="form-group col-md-4">
                    {{ form_mva.post_op.label(id="post_op_label") }} {{ form_mva.post_op(class_="form-control") }}
                </div>
            </div>
        {% endif %}
        {{ form_mva.status(type="hidden", value="draft") }}
            <br>
            <input class="save_patient" id="save_patient" name="save_patient" value="save_patient" type="checkbox" onclick="toggleOptions()">       
            <label for="save_patient">Only save patient</label>
            <br>
        {{ form_mva.submit(class_="btn btn-success") }}
    </form>  
    <form  method=post autocomplete="off" id="newInvoice_other" class="other" name="other" style="display:none">  
        {% for field, errors in form_other.errors.items() %}
        <div class="alert alert-error">
            {{ form_other[field].label }}: {{ ', '.join(errors) }}
        </div>
        {% endfor %}
        {{ form_other.hidden_tag() }}
        <div class="form-row">
            <div class="form-group col-md-6">
                {{form_other.medical_aid.label(class="required")}}  {{ form_other.medical_aid(class_="form-control other_medical_aid") }}
            </div>
            <div class="form-group col-md-6">
                {{ form_other.tariff.label( id="tariff_label", class="tariff_label required") }} {{ form_other.tariff(class_="tariff form-control") }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form_other.patient_name.label(class="required") }} {{ form_other.patient_name(class_="form-control") }}
            </div>
            <div class="form-group col-md-6">
                {{ form_other.main_member.label(class="required") }} {{ form_other.main_member(class_="form-control") }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form_other.patient_birth_date.label(class="required") }} {{ form_other.patient_birth_date(class_="form-control") }}
            </div>
            <div class="form-group col-md-6">
                {{ form_other.medical_number.label(class="required") }} {{ form_other.medical_number(class_="form-control") }}
            </div>
        </div>
        {% if 4 <= layout_code <= 9 %}
<div class="form-row hospital_other">
    <div class="form-group col-md-4">
        {{ form_other.hospital_name.label(id="hospital_name_label") }} {{ form_mva.hospital_name(class_="form-control") }}
    </div>
    <div class="form-group col-md-4">
        {{ form_other.admission_date.label(id="admission_date_label") }} {{ form_mva.admission_date(class_="form-control") }}
    </div>
    <div class="form-group col-md-4">
        {{ form_other.discharge_date.label(id="discharge_date_label") }} {{ form_mva.discharge_date(class_="form-control") }}
    </div>
</div>
{% endif %}
{% if 7 <= layout_code <= 12 %}
<div class="form-row procedure_other">
    <div class="form-group col-md-8">
        {{ form_other.diagnosis.label(id="diagnosis_label") }} {{ form_mva.diagnosis(class_="form-control") }}
    </div>
    <div class="form-group col-md-4">
        {{ form_other.diagnosis_date.label(id="diagnosis_date_label") }} {{ form_mva.diagnosis_date(class_="form-control") }}
    </div>
</div>
<div class="form-row procedure_other">
    <div class="form-group col-md-8">
        {{ form_other.procedure.label(id="procedure_label") }} {{ form_mva.procedure(class_="form-control") }}
    </div>
    <div class="form-group col-md-4">
        {{ form_other.procedure_date.label(id="procedure_date_label") }} {{ form_mva.procedure_date(class_="form-control") }}
    </div>
</div>
<div class="form-row procedure_other">
    <div class="form-group col-md-4">
        {{ form_other.implants.label(id="implants_label") }} {{ form_mva.implants(class_="form-control") }}
    </div>
    <div class="form-group col-md-4">
        {{ form_other.intra_op.label(id="intra_op_label") }} {{ form_mva.intra_op(class_="form-control") }}
    </div>
    <div class="form-group col-md-4">
        {{ form_other.post_op.label(id="post_op_label") }} {{ form_mva.post_op(class_="form-control") }}
    </div>
</div>
{% endif %}
{{ form_other.status(type="hidden", value="draft") }}
<br>
    <input class="save_patient" id="save_patient" name="save_patient" value="save_patient" type="checkbox" onclick="toggleOptions()">       
    <label for="save_patient">Only save patient</label>
    <br>
    {{ form_other.submit(class_="btn btn-success") }}
</form>  
</div>

<script>
function toggleOptions(){
    
    if ($(".save_patient").is(":checked")) {
        $(".hospital_mva").hide()
        $(".hospital_other").hide()
        $(".tariff").hide()
        $(".tariff_label").hide()
        $(".procedure_mva").hide()
        $(".procedure_other").hide()
        $("#po_number").hide()
        $("#po_number").prop('disabled', true);
        $("#po_label").hide()

    } else {
        $(".tariff").show()
        $(".tariff_label").show()
        $(".hospital_mva").show()
        $(".hospital_other").show()
        $(".procedure_mva").show()
        $(".procedure_other").show()
        $("#po_number").show()
        $("#po_label").show()
        $("#po_number").prop('disabled', false);
    }
}

$(document).ready(function() {

    function isValidDate(dateString){
            if(!/^\d{4}\-\d{1,2}\-\d{1,2}$/.test(dateString))
                return false;
            var parts = dateString.split("-");
            var day = parseInt(parts[2], 10);
            var month = parseInt(parts[1], 10);
            var year = parseInt(parts[0], 10);
            if(year < 1000 || year > 3000 || month == 0 || month > 12)
                return false;
            var monthLength = [ 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31 ];
            if(year % 400 == 0 || (year % 100 != 0 && year % 4 == 0))
                monthLength[1] = 29;
            return day > 0 && day <= monthLength[month - 1];
    };

    
        $('#procedure_date').datepicker({dateFormat: 'yy-mm-dd'})
        $('#diagnosis_date').datepicker({dateFormat: 'yy-mm-dd'})
        $('#admission_date').datepicker({dateFormat: 'yy-mm-dd'})
        $('#discharge_date').datepicker({dateFormat: 'yy-mm-dd'})
        $(document).on('change', '.medical_aid',function() {
            var selection = $(this).val()
            if(selection == 'mva'){
                $('.other').css("display","none")
                $('.mva').css("display","block")

            }
            else if(selection == "other"){
                $('.other_medical_aid').val('')
                $('.mva').css("display","none")
                $('.other').css("display","block")
            }
            else{
                $('.other_medical_aid').val(selection.toUpperCase())
                $('.mva').css("display","none")
                $('.other').css("display","block")
            }
        })

        $('.mva').submit(function (e) {
            if (!$(".save_patient").is(":checked")){
                var x = document.forms["mva"]["tariff"].value; 
                if (x == "") {
                    e.preventDefault();
                    alert("Tariff must be chosen.");
                    return
                }
            }
            e.preventDefault();
            $.post( "/patient/invoice/new", $('.mva').serialize(), function( data ) {
                    $( "#invoice-tab" ).html( data );
                    var lower_navbar = document.getElementById("navbarTogglerDemo01")
                    var draft_button = document.createElement("BUTTON");  
                    // draft_button.setAttribute("id", "tab-draft");
                    // draft_button.className += " btn";
                    // draft_button.className += " btn-secondary "
                    // draft_button.className += " btn-sm "
                    draft_button.setAttribute("id", "tab-draft-button")
                    draft_button.setAttribute("class", "btn btn-secondary my-2 my-lg-0 tab-draft-button")
                    // draft_button.style.marginLeft = "2em";
                    draft_button.textContent = "Draft";
                    draft_button.addEventListener("click", function(e){ 
                        e.preventDefault();
                        var tabs = lower_navbar.getElementsByTagName('BUTTON');
                        for (var i = 0; i < tabs.length; i++) {
                            tabs[i].classList.remove("active");
                        }
                        $('.invoices').removeClass('active');
                        $('.new-patient').removeClass('active'); 
                        $(this).addClass('active'); 

                        $.ajax({
                            type: "GET",
                            url: '/patient/last-five', 
                            data: {work_type: "invoice_draft"},
                            success: function (patient) {
                                patient = JSON.parse(patient);
                                patient = JSON.parse(patient[0]["work_quality"].replace(/\\"/g, '"'));
                                $.get( "/patient/invoice/new", {"tariff": patient["tariff"], "status": "continue_draft"}, function( data ) {
                                    $( "#invoice-tab" ).html( data );
                                });
                            },
                            error: function(xhr, status, error){
                                var errorMessage = xhr.status + ': ' + xhr.statusText;
                                alert('Error - ' + errorMessage);
                            }
                        })
                    }, false);

                    var favi = document.createElement("I");
                    favi.setAttribute("class" , "fa fa-remove")
                    favi.setAttribute("id" , "draft_delete_favi")
                    favi.style.paddingLeft ="5px";
                    favi.style.paddingRight ="5px";
                    favi.addEventListener("click", function(e){
                        e.preventDefault();
                        $.ajax({
                            type: "GET",
                            url: '/remove-job', 
                            data: {work_type: "invoice_draft", work_quality: "any"},
                            success: function (status) {
                                // favi_to_be_removed = document.getElementById("draft_delete_favi");
                                // favi_to_be_removed.remove();
                                tab_to_be_removed = document.getElementById("tab-draft");
                                tab_to_be_removed.remove();
                            },
                            error: function(xhr, status, error){
                                var errorMessage = xhr.status + ': ' + xhr.statusText;
                                alert('Error - ' + errorMessage);
                            }
                        }) 
                    });

                    var draft_tab_wrapper = document.createElement("FORM");
                    draft_tab_wrapper.setAttribute("id", "tab-draft");
                    draft_tab_wrapper.setAttribute("class", "form-inline");           
                    draft_tab_wrapper.appendChild(draft_button);
                    draft_tab_wrapper.appendChild(favi);

                    if(document.getElementById("tab-draft")){
                        lower_navbar.replaceChild(draft_tab_wrapper, document.getElementById("tab-draft"));
                    }
                    else{
                        var referenceNode = document.getElementById("tab-0")
                        lower_navbar.insertBefore(draft_tab_wrapper, referenceNode)
                        // lower_navbar.insertBefore(favi, referenceNode)
                    }         
                })
                .fail(function(xhr, status, error) {
                    var errorMessage = xhr.status + ': ' + xhr.statusText;
                    alert('Error - ' + errorMessage);
                })
        });


        $('.other').submit(function (e) {
            if (!$(".save_patient").is(":checked")){
                var x = document.forms["other"]["tariff"].value; 
                if (x == "") {
                    e.preventDefault();
                    alert("Tariff must be chosen.");
                    return
                }
            }

            var y = document.forms["other"]["patient_birth_date"].value;
            if(isValidDate(y)){
                e.preventDefault();
                $.post( "/patient/invoice/new", $('.other').serialize(), function( data ) {
                    $( "#invoice-tab" ).html( data );
                    var lower_navbar = document.getElementById("navbarTogglerDemo01")
                    var draft_button = document.createElement("BUTTON");  
                    // draft_button.setAttribute("id", "tab-draft");
                    draft_button.setAttribute("class", "btn btn-secondary btn-sm tab-draft-button")
                    
                    // draft_button.className += " btn";
                    // draft_button.className += " btn-secondary "
                    // draft_button.className += " btn-sm "
                    // draft_button.style.marginLeft = "2em";
                    draft_button.textContent = "Draft";
                    draft_button.addEventListener("click", function(e){ 
                        e.preventDefault();
                        var tabs = lower_navbar.getElementsByTagName('BUTTON');
                        for (var i = 0; i < tabs.length; i++) {
                            tabs[i].classList.remove("active");
                        }
                        $('.invoices').removeClass('active');
                        $('.new-patient').removeClass('active'); 
                        $(this).addClass('active'); 

                        $.ajax({
                            type: "GET",
                            url: '/patient/last-five', 
                            data: {work_type: "invoice_draft"},
                            success: function (patient) {
                                patient = JSON.parse(patient);
                                patient = JSON.parse(patient[0]["work_quality"].replace(/\\"/g, '"'));
                                $.get( "/patient/invoice/new", {"tariff": patient["tariff"], "status": "continue_draft"}, function( data ) {
                                    $( "#invoice-tab" ).html( data );
                                });
                            },
                            error: function(xhr, status, error){
                                var errorMessage = xhr.status + ': ' + xhr.statusText;
                                alert('Error - ' + errorMessage);
                            }
                        })
                    }, false);

                    var favi = document.createElement("I");
                    favi.setAttribute("class" , "fa fa-remove")
                    favi.setAttribute("id" , "draft_delete_favi")
                    favi.style.paddingLeft ="5px";
                    favi.style.paddingRight ="5px";
                    favi.addEventListener("click", function(e){
                        e.preventDefault();
                        $.ajax({
                            type: "GET",
                            url: '/remove-job', 
                            data: {work_type: "invoice_draft", work_quality: "any"},
                            success: function (status) {
                                favi_to_be_removed = document.getElementById("draft_delete_favi");
                                favi_to_be_removed.remove();
                                tab_to_be_removed = document.getElementById("tab-draft");
                                tab_to_be_removed.remove();
                            },
                            error: function(xhr, status, error){
                                var errorMessage = xhr.status + ': ' + xhr.statusText;
                                alert('Error - ' + errorMessage);
                            }
                        }) 
                    });

                    var draft_tab_wrapper = document.createElement("FORM");
                    draft_tab_wrapper.setAttribute("id", "tab-draft");
                    draft_tab_wrapper.setAttribute("class", "form-inline");           
                    draft_tab_wrapper.appendChild(draft_button);
                    draft_tab_wrapper.appendChild(favi);

                    if(document.getElementById("tab-draft")){
                        lower_navbar.replaceChild(draft_tab_wrapper, document.getElementById("tab-draft"));
                    }
                    else{
                        var referenceNode = document.getElementById("tab-0")
                        lower_navbar.insertBefore(draft_tab_wrapper, referenceNode)
                        // lower_navbar.insertBefore(favi, referenceNode)
                    }
                })
                .fail(function(xhr, status, error) {
                    var errorMessage = xhr.status + ': ' + xhr.statusText;
                    alert('Error - ' + errorMessage);
                })
            } 
            else{
                e.preventDefault();
                alert("Incorrect format for patient birth date. Please use the following format: yyyy-mm-dd");
            } 
        });


        var other_medical_aid_field = document.querySelector('.other_medical_aid');
        other_medical_aid_field.addEventListener('keypress', function ( e ) {  
            var key = e.keyCode;
            if (key === 32) {
                e.preventDefault();
                alert("No whitespace please :)");
            }
        });
        
        
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ form_mva.csrf_token._value() }}")
                }
            }
        })


        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ form_other.csrf_token._value() }}")
                }
            }
        })
    });

</script>
 {% endblock %}