{% extends 'patient/layout.html' %}
{% block content %}
<nav class="navbar navbar-expand-sm navbar-dark" style="background-color:#017B25;">
    <ul class="navbar-nav" id="myTab">
        <a class="new-patient nav-link nav-item" href="/patient/">New patient</a>
        <a class="continue nav-link nav-item" href="/patient/">Continue</a>
    </ul>
</nav>
<script>
$(document).ready(function(){
    
    function dynamic(load_content){
      $( "#invoice-tab" ).load( load_content, function(){})
    }


    $.ajax({
        type: "GET",
        url: '/patient/last-five', 
        data: {work_type: "patient_draft"},
        success: function (patient) {
          if(patient){
            var lower_navbar = document.getElementById("myTab")
                var tab = document.createElement("BUTTON");  
                tab.setAttribute("id", "tab-draft");
                tab.textContent = "Draft";
                tab.addEventListener("click", function(e){ 
                    e.preventDefault();
                    $.ajax({
                        type: "GET",
                        url: '/patient/last-five', 
                        data: {work_type: "patient_draft"},
                        success: function (patient) {
                            patient = JSON.parse(patient);
                            patient = JSON.parse(patient[0]["work_quality"].replace(/\\"/g, '"'));
                            let criteria = ["/patient/invoice/new/" + patient["tariff"] + "/continue_draft"];
                            dynamic.apply(this, criteria);
                        }
                    })
                }, false);
                if(document.getElementById("tab-draft")){
                    lower_navbar.replaceChild(tab, document.getElementById("tab-draft"));
                }
                else{
                    var referenceNode = document.getElementById("tab-0")
                    lower_navbar.insertBefore(tab, referenceNode)
                }
          }
        }
      })


     $.ajax({
        type: "GET",
        url: '/patient/last-five', 
        data: {work_type: "invoice_tab"},
        success: function (returnData) {
          const obj = JSON.parse(returnData)
          var lower_navbar = document.getElementById("myTab")

          for (let i = 0; i < obj.length; i++) {
            const element = obj[i];

            // var tab_wrapper = document.createElement("DIV");
            // tab_wrapper.style.padding = "0.3em";
            

            var tab = document.createElement("BUTTON");
            
            
            
            // button.style.float = "right";
            // button.style.width = "20%";
            
            // tab.appendChild(button);

            tab.setAttribute("id", "tab-" + i);
            tab.setAttribute("class", "tab");
            // tab.style.border = "solid";
            tab.style.marginRight = "0.5em";
            tab.style.marginLeft = "0.5em";
            // tab.style.padding = "0.3em";
            // tab.style.backgroundColor = "grey";
            tab.style.cursor = "pointer";
            tab.textContent = element["work_quality"];
            // tab_wrapper.appendChild(tab);
            lower_navbar.appendChild(tab);

            var button = document.createElement("BUTTON");
            button.setAttribute("id", "button-" + i);
            button.addEventListener("click", function(e){
                e.preventDefault();
                $.ajax({
                        type: "GET",
                        url: '/remove-job', 
                        data: {work_type: "invoice_tab", work_quality: element["work_quality"]},
                        success: function (status) {
                          button_to_be_removed = document.getElementById("button-" + i)
                          button_to_be_removed.remove();

                          tab_to_be_removed = document.getElementById("tab-" + i)
                          tab_to_be_removed.remove();
                          
                          console.log(status)
                          // console.log("item has been removed")
                            // patient = JSON.parse(patient);
                            // patient = JSON.parse(patient[0]["work_quality"].replace(/\\"/g, '"'));
                            // let criteria = ["/patient/invoice/new/" + patient["tariff"] + "/continue_draft"];
                            // dynamic.apply(this, criteria);
                        }
                    })
            // let criteria = ["/patient/invoice/" + element['invoice_id']]; 
            // $('.new-patient').removeClass('active'); 
            // $('.continue').removeClass('active');
            // dynamic.apply(this, criteria);  
            });
            // button.value = "x";
            lower_navbar.appendChild(button);
            
            
            
          }
        }
      })
   })

</script>
{% endblock %}