{% extends 'patient/layout.html' %}
{% block content %}
<nav class="navbar navbar-expand-sm navbar-dark" style="background-color:#017B25;">
    <ul class="navbar-nav" id="myTab">
        <a class="new-patient nav-link nav-item" href="/patient/">New patient</a>
        <a class="continue nav-link nav-item" href="/patient/">Continue</a>
    </ul>
</nav>
<script>
    $(document).ready(function(){

     $.ajax({
        type: "GET",
        url: '/patient/last-five', 
        data: {work_type: "invoice_tab"},
        success: function (returnData) {
          const obj = JSON.parse(returnData)
          var lower_navbar = document.getElementById("myTab")

          for (let i = 0; i < obj.length; i++) {
            const element = obj[i];
            var tab = document.createElement("BUTTON");
            tab.setAttribute("id", "tab-" + i);
            tab.setAttribute("class", "tab");
            tab.textContent = element["work_quality"];
            lower_navbar.appendChild(tab);
            
          }
        }
      })
   })
</script>
{% endblock %}