{% include 'patient/index.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid" style="height:88%; margin:0">
    <div class="container">
        <div id="invoice-tab" class="d-flex flex-column"></div>
    </div>
</div>

<script>   

$(document).ready(function(){

    $(document).on("click", ".new-patient", function (e) {
        e.preventDefault();
        criteria[0] = "/patient/invoice/create";
        dynamic.apply(this, criteria); 
        $('.continue').removeClass('active');
        $('.new-patient').addClass('active');         
    })


    $(document).on("click", ".continue", function (e) {
        e.preventDefault();
        criteria[0] = "/patient/invoice/continue";
        dynamic.apply(this, criteria); 
        $('.new-patient').removeClass('active');  
        $('.continue').addClass('active');     
    })

    
    $(document).on("click", ".tab", function (e) {
        var invoice_id = $(this).text();
        criteria[0] = "/patient/invoice/" + invoice_id;
        $('.new-patient').removeClass('active'); 
        $('.continue').removeClass('active');
        dynamic.apply(this, criteria);     
    })


    function dynamic(load_content){
        $( "#invoice-tab" ).load( load_content, function(){
        });
    }

    
    let criteria = ["/patient/invoice/create"];
    $('.new-patient').addClass('active');
    dynamic.apply(this, criteria);

})

</script>
{% endblock %}
