{% include 'patient/invoice_draft.html' %}
{% block content %}
<form autocomplete="off" class="treatmentsearch-draft">
    <input id="treatmentsearch-draft" class="form-control mr-sm-2" name="treatment" type="search" placeholder="Search treatments">
</form>
<form autocomplete="off" class="invoice_form invoice_draft" id="namaf_orthopaedic_surgoens" >   
        {{ form.hidden_tag() }}
        <div class="form-group float-right">
        {{ form.date_invoice.label(for="date_invoice") }}
        {{ form.date_invoice(class_="form-control") }}
        </div>
          <br><br>
            <table style="width:100%">
                <colgroup>
                    <col span="1" style="width: 5%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 45%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 15%;">
                    <col span="1" style="width: 15%;">
                    <col span="1" style="width: 10%;">
                 </colgroup>
                 <thead>
                    <tr>
                      <th>ID</th>
                      <th>Item</th>
                      <th>Description</th>
                      <th>Units</th>
                      <th>Value</th>
                      <th>Date</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                <tbody class="tbodyClone" id="tbodyClone">
                    <tr id="clonedInput0" class="clonedInput">
                        <th id="row-0" scope="row"><span class="num">1</span></th>
                        <td>{{  form.treatments(style='width:100%',id='treatment-0', class='treatment_orthopaedic_surgeons')  }}</td>
                        <td>{{  form.description(style='width:100%',id='description-0', class='description')  }}</td>
                        <td>{{  form.units(style='width:100%',id='units-0', class='units')  }}</td>
                        <td>{{  form.post_value(style='width:100%',id='postvalue-0', class='postvalue')  }}</td>
                        <td style="display:none">{{  form.value(style='width:100%',id='value-0', class='value')  }}</td>
                        <td>{{  form.date(style='width:100%',id='date-0', class='date datepicker', placeholder="DD/MM/YYYY")  }}</td>
                        <td>
                            <input id="delete-0" value="Delete" type="button" style="width:100px" class="remove">
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
        <br><br>
            <div style="display:flex; justify-content: right;">{{ form.submit(class='btn btn-primary',style='background-color:#017B25;', value='Create Invoice') }}</div>
        <div style="display:flex; flex-direction: column; align-items: flex-end;"><span id="result"></span><span><input class="btn btn-secondary" id="download_invoice" value="Download invoice" type="button" style="display:none;"></span></div>
    </form> 

<script>
$(document).ready(function(){
    function removeActive(x) {
    for (var i = 0; i < x.length; i++) {
        x[i].classList.remove("autocomplete-active");
        }
    }       

    function addActive(x) {
        if (!x) return false;
        removeActive(x);
        if (currentFocus >= x.length) currentFocus = 0;
        if (currentFocus < 0) currentFocus = (x.length - 1);
        x[currentFocus].classList.add("autocomplete-active");
    }

    function uniq_fast(a) {
        var seen = {};
        var out = [];
        var len = a.length;
        var j = 0;
        for(var i = 0; i < len; i++) {
            var item = a[i];
            if(seen[item] !== 1) {
                seen[item] = 1;
                out[j++] = item;
                }
            }
        return out;
    }



    $(document).on("keyup", ".treatmentsearch-draft", function (e) {
        e.preventDefault();
        var currentFocus;
        var input_element = document.getElementById("treatmentsearch-draft")
        var url = "/live-search-treatment";
        var a, b, i, val = input_element.value;
        var search_item = input_element.value

        $.ajax({
            type: "GET",
            url: url,
            data: {treatment: search_item}, 
            dataType: 'json',
            success: function (returnData) {
                if (returnData.treatments.length <= 20){
                var names = [], range = returnData.treatments.length;
                }
                else{
                var names = [], range = 10
                }
                for (i = 0; i < range; i++) {
                    names[i] = returnData.treatments[i]['description']
                }


                if (returnData.items.length <= 9){
                var items = [], range = returnData.items.length;
                }
                else{
                var items = [], range = 10
                }
                for (i = 0; i < range; i++) {
                    items[i] = returnData.items[i]['item'].toString()
                }
                
                closeAllLists();
                if (!val) { return false;}
                currentFocus = -1;
                var a = document.createElement("DIV");
                a.setAttribute("id", "autocomplete-list2");
                a.setAttribute("class", "autocomplete-items2");
                input_element.parentNode.insertBefore(a, input_element.nextSibling);
                for (i = 0; i < items.length; i++) {
                    if (items[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                        var b = document.createElement("DIV");
                        var wrapper_b = document.createElement("DIV");
                        b.setAttribute('class','treatment-divs')
                        b.style.cursor = "pointer";
                        wrapper_b.style.display = "flex";
                        wrapper_b.style.justifyContent = "flex-start";
                        wrapper_b.style.alignItems = "center";
                        var category = returnData.items[i]['category'];
                        var sub_category = returnData.items[i]['sub_category'];
                        var sub_sub_category = returnData.items[i]['sub_sub_category']
                        var sub_sub_sub_category = returnData.items[i]['sub_sub_sub_category']
                        var procedure = returnData.items[i]['procedure']
                        var item = returnData.items[i]['item']
                        var description = returnData.items[i]['description'];
                        var units = returnData.items[i]['units'];
                        if(sub_category) {
                            if(sub_sub_category) {
                                if(sub_sub_sub_category) {
                                    b.innerHTML = category + "<ul><li>" + sub_category + "<ul><li>" + sub_sub_category + "<ul><li>" + sub_sub_category + "</li></ul></li></ul></li></ul>";
                                }
                                else {
                                b.innerHTML = category + "<ul><li>" + sub_category + "<ul><li>" + sub_sub_category + "</li></ul></li></ul>";
                                }
                            }
                            else {
                                b.innerHTML = category + "<ul><li>" + sub_category + "</li></ul>";
                            }
                        }
                        else {
                            b.innerHTML = category + "<br>";
                        }
                        if (procedure){
                            b.innerHTML += "<p style='font-style: italic;'>" + procedure + "</p>";
                        }
                        wrapper_b.innerHTML += "<p style='margin:0;'id='items-list-item"+ i +"'><strong>" + items[i].substr(0, val.length) + "</strong>" + items[i].substr(val.length) + "</p>";
                        wrapper_b.innerHTML += "<p style='margin:0;'id='items-list-description"+ i +"'>&nbsp;" + description + "</p>";
                        wrapper_b.innerHTML += "<input type='hidden';'id='treatment-list-input" + i + "'  value='" + item + "'>";
                        b.appendChild(wrapper_b);
                        (function(index){
                            b.addEventListener("click", function() {
                                var value_of_value = document.getElementById("value-0").value
                                if(value_of_value){
                                    clone()
                                }      
                                next_empty_treatment_input = document.getElementById("tbodyClone").lastElementChild.childNodes[3].firstChild
                                description_text = document.getElementById("items-list-description"+ index).textContent;
                                next_empty_treatment_input.value = this.getElementsByTagName("input")[0].value;
                                next_empty_treatment_input.parentNode.parentNode.childNodes[5].childNodes[0].value = description_text
                                newTreatmentLiveSearch(next_empty_treatment_input)
                                closeAllLists();
                            })
                        })(i)
                        a.appendChild(b);
                    }
                }


                procedures_length = returnData.procedures.length;
                if(procedures_length > 0){
                    var middle_div = document.createElement("DIV");
                    var treatments_from_procedures = [], range = procedures_length;
                    var procedures_from_procedures = [], range = procedures_length;
                    var arr_unique = [];
                    for(i = 0; i < procedures_length; i++){
                        procedures_from_procedures[i] = returnData.procedures[i]['procedure']
                        arr_unique = uniq_fast(procedures_from_procedures)
                    }
                    var found = [], range = arr_unique.length;
                    for(i = 0; i < arr_unique.length; i++){
                        found[i] = returnData.procedures.filter(function(single) {
                            return single.procedure == arr_unique[i];})
                        }
                    let index_treatment_procedure = 0;
                    for (i = 0; i < arr_unique.length; i++){
                        var y = document.createElement("DIV");
                        y.style.cursor = "default";
                        var category = returnData.procedures[i]['category'];
                        var sub_category = returnData.procedures[i]['sub_category'];
                        var sub_sub_category = returnData.procedures[i]['sub_sub_category']
                        var sub_sub_sub_category = returnData.procedures[i]['sub_sub_sub_category']
                        var procedure = returnData.procedures[i]['procedure']
                        var item = returnData.procedures[i]['item']
                        if(sub_category) {
                            if(sub_sub_category) {
                                if(sub_sub_sub_category) {
                                    y.innerHTML = category + "<ul><li>" + sub_category + "<ul><li>" + sub_sub_category + "<ul><li>" + sub_sub_category + "</li></ul></li></ul></li></ul>";
                                }
                                else {
                                y.innerHTML = category + "<ul><li>" + sub_category + "<ul><li>" + sub_sub_category + "</li></ul></li></ul>";
                                }
                            }
                            else {
                                y.innerHTML = category + "<ul><li>" + sub_category + "</li></ul>";
                            }
                        }
                        else {
                            y.innerHTML = category + "<br>";
                        }

                        y.innerHTML += "<strong>" + arr_unique[i].substr(0, val.length) + "</strong>";
                        y.innerHTML += arr_unique[i].substr(val.length) + "<br>";

                        for(x=0; x < found[i].length; x++){
                            index_treatment_procedure++;

                            var flex_wrapper = document.createElement("DIV");
                            flex_wrapper.style.display = "flex";
                            flex_wrapper.style.justifyContent = "flex-start";
                            flex_wrapper.style.alignItems = "center";
                            
                            
                            var paragraph_field = document.createElement("P");     
                            paragraph_field.setAttribute("id", "procedure-list-description" + index_treatment_procedure)
                            paragraph_field.style.margin = "0";      
                            paragraph_field.textContent = found[i][x]['description']
                            paragraph_field.setAttribute('class','input-fields-procedures')
                            flex_wrapper.appendChild(paragraph_field)

                            var input_field = document.createElement("INPUT");
                            input_field.setAttribute("id", "treatment-list-input-procedure" + index_treatment_procedure)
                            input_field.readOnly = true;
                            input_field.style.cursor = "default";
                            input_field.style.border =  "none";
                            input_field.style.backgroundColor = 'white';
                            input_field.value = found[i][x]['item']
                            flex_wrapper.appendChild(input_field)

                            var value_input_field = document.createElement("INPUT");
                            value_input_field.setAttribute("id", "treatment-list-value-input-procedure" + index_treatment_procedure)
                            value_input_field.style.display = "none";
                            value_input_field.value = found[i][x]['value_cent'];
                            flex_wrapper.appendChild(value_input_field);

                            var units_input_field = document.createElement("INPUT");
                            units_input_field.setAttribute("id", "treatment-list-units-input-procedure" + index_treatment_procedure)
                            units_input_field.style.display = "none";
                            units_input_field.value = found[i][x]['units'];
                            flex_wrapper.appendChild(units_input_field);

                            (function(index){
                                    paragraph_field.addEventListener("click", function() {

                                        //TODO this needs a better solution
                                        var value_of_value = document.getElementById("value-0").value
                                        if(value_of_value){
                                            clone()
                                        } 

                                        next_empty_treatment_input = document.getElementById("tbodyClone").lastElementChild.childNodes[3].firstChild

                                        item_num = document.getElementById("treatment-list-input-procedure" + index).value
                                        next_empty_treatment_input.value = item_num

                                        description_procedures = document.getElementById("procedure-list-description" + index).textContent;
                                        next_empty_treatment_input.parentNode.parentNode.childNodes[5].childNodes[0].value = description_procedures

                                        units_procedures = document.getElementById("treatment-list-units-input-procedure" + index).value;
                                        next_empty_treatment_input.parentNode.parentNode.childNodes[7].childNodes[0].value = units_procedures

                                        value_procedures = document.getElementById("treatment-list-value-input-procedure" + index).value;
                                        next_empty_treatment_input.parentNode.parentNode.childNodes[9].childNodes[0].value = value_procedures / 100
                                        next_empty_treatment_input.parentNode.parentNode.childNodes[11].childNodes[0].value = value_procedures / 100

                                        next_empty_treatment_input.parentNode.parentNode.childNodes[5].childNodes[0].style.display = "block";
                                        next_empty_treatment_input.parentNode.parentNode.childNodes[7].childNodes[0].style.display = "block";
                                        next_empty_treatment_input.parentNode.parentNode.childNodes[9].childNodes[0].style.display = "block";

                                        closeAllLists();
                                    })
                                })(index_treatment_procedure)     
                                y.appendChild(flex_wrapper)       
                        }
                        middle_div.appendChild(y);
                    }
                    a.appendChild(middle_div);    
                }

                for (i = 0; i < names.length; i++) {
                    if (names[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                        var b = document.createElement("DIV");
                        var wrapper_b = document.createElement("DIV");
                        b.setAttribute('class','treatment-divs')
                        wrapper_b.style.display = "flex";
                        wrapper_b.style.justifyContent = "flex-start";
                        wrapper_b.style.alignItems = "center";
                        var category = returnData.treatments[i]['category'];
                        var sub_category = returnData.treatments[i]['sub_category'];
                        var sub_sub_category = returnData.treatments[i]['sub_sub_category']
                        var sub_sub_sub_category = returnData.treatments[i]['sub_sub_sub_category']
                        var procedure = returnData.treatments[i]['procedure']
                        var item = returnData.treatments[i]['item']
                        var value_cent = returnData.treatments[i]['value_cent']
                        var units = returnData.treatments[i]['units']
                        if(sub_category) {
                            if(sub_sub_category) {
                                if(sub_sub_sub_category) {
                                    b.innerHTML = category + "<ul><li>" + sub_category + "<ul><li>" + sub_sub_category + "<ul><li>" + sub_sub_category + "</li></ul></li></ul></li></ul>";
                                }
                                else {
                                b.innerHTML = category + "<ul><li>" + sub_category + "<ul><li>" + sub_sub_category + "</li></ul></li></ul>";
                                }
                            }
                            else {
                                b.innerHTML = category + "<ul><li>" + sub_category + "</li></ul>";
                            }
                        }
                        else {
                            b.innerHTML = category + "<br>";
                        }
                        if (procedure){
                            b.innerHTML += "<p style='font-style: italic;'>" + procedure + "</p>";
                        }
                        wrapper_b.innerHTML += "<p style='margin:0;'id='treatment-list-description"+ i +"'><strong>" + names[i].substr(0, val.length) + "</strong>" + names[i].substr(val.length) + "</p>";
                        wrapper_b.innerHTML += "<input style='background-color:white; cursor:pointer;'id='treatment-list-input" + i + "'  value='" + item + "'>";
                        wrapper_b.innerHTML += "<input style='display: none' id='treatment-list-value-input" + i + "'  value='" + value_cent + "'>";
                        wrapper_b.innerHTML += "<input style='display: none' id='treatment-list-units-input" + i + "'  value='" + units + "'>";
                        b.appendChild(wrapper_b);

                        (function(index){
                            b.addEventListener("click", function() {
                                var value_of_value = document.getElementById("value-0").value
                                if(value_of_value){
                                    clone()
                                }      
                                next_empty_treatment_input = document.getElementById("tbodyClone").lastElementChild.childNodes[3].firstChild

                                description_text = document.getElementById("treatment-list-description"+ index).textContent;
                                next_empty_treatment_input.parentNode.parentNode.childNodes[5].childNodes[0].value = description_text

                                // next_empty_treatment_input.value = this.getElementsByTagName("input")[0].value;
                                item_num = document.getElementById("treatment-list-input" + index).value
                                next_empty_treatment_input.value = item_num


                                var units_procedures = document.getElementById("treatment-list-units-input"+ index).value;
                                next_empty_treatment_input.parentNode.parentNode.childNodes[7].childNodes[0].value = units_procedures

                                value_procedures = document.getElementById("treatment-list-value-input-procedure" + index).value;
                                next_empty_treatment_input.parentNode.parentNode.childNodes[9].childNodes[0].value = value_procedures / 100
                                next_empty_treatment_input.parentNode.parentNode.childNodes[11].childNodes[0].value = value_procedures / 100
                                
                                next_empty_treatment_input.parentNode.parentNode.childNodes[5].childNodes[0].style.display = "block";
                                next_empty_treatment_input.parentNode.parentNode.childNodes[7].childNodes[0].style.display = "block";
                                next_empty_treatment_input.parentNode.parentNode.childNodes[9].childNodes[0].style.display = "block";
                                

                                closeAllLists();
                            })
                        })(i)
                        a.appendChild(b);
                    }
                }

                var categories_length = returnData.categories.length;
                if(categories_length > 0){
                    var categories_div = document.createElement("DIV");
                    var treatments_from_category = [], range = categories_length;
                    var category_from_categories = [], range = categories_length;
                    var category_unique = [];
                    for(i = 0; i < categories_length; i++){
                        category_from_categories[i] = returnData.categories[i]['category']
                        category_unique = uniq_fast(category_from_categories)
                    }
                    var found_items_from_category = [], range = category_unique.length;
                    if(category_unique){
                        for(i = 0; i < category_unique.length; i++){
                            found_items_from_category[i] = returnData.categories.filter(function(single) {
                            return single.category == category_unique[i];})

                            var category_div = document.createElement("DIV");
                            var category = returnData.categories[i]['category'];
                            var sub_category = returnData.categories[i]['sub_category'];
                            var sub_sub_category = returnData.categories[i]['sub_sub_category']
                            var sub_sub_sub_category = returnData.categories[i]['sub_sub_sub_category']
                            var procedure = returnData.categories[i]['procedure']
                            var item = returnData.categories[i]['item']
                            if(sub_category) {
                                if(sub_sub_category) {
                                    if(sub_sub_sub_category) {
                                        category_div.innerHTML = category + "<ul><li>" + sub_category + "<ul><li>" + sub_sub_category + "<ul><li>" + sub_sub_category + "</li></ul></li></ul></li></ul>";
                                    }
                                    else {
                                        category_div.innerHTML = category + "<ul><li>" + sub_category + "<ul><li>" + sub_sub_category + "</li></ul></li></ul>";
                                    }
                                }
                                else {
                                    category_div.innerHTML = category + "<ul><li>" + sub_category + "</li></ul>";
                                }
                            }
                            else {
                                category_div.innerHTML = category + "<br>";
                            }
                            for(x=0; x < found_items_from_category[i].length; x++){
                                var flex_wrapper = document.createElement("DIV");
                                flex_wrapper.style.display = "flex";
                                flex_wrapper.style.justifyContent = "flex-start";
                                flex_wrapper.style.alignItems = "center";
                                category_div.appendChild(flex_wrapper);
                                
                                var paragraph_field = document.createElement("P"); 
                                paragraph_field.setAttribute("id", "category-list-description" + x)
                                paragraph_field.style.margin = "0";
                                paragraph_field.style.cursor = "pointer";
                                paragraph_field.textContent = found_items_from_category[i][x]['description'];
                                paragraph_field.setAttribute('class','input-fields-category');
                                flex_wrapper.appendChild(paragraph_field);

                                var input_field = document.createElement("INPUT");
                                input_field.setAttribute("id", "category-list-input-items" + x)
                                input_field.readOnly = true;
                                input_field.style.cursor = "default";  
                                input_field.style.backgroundColor = 'white';
                                input_field.value = found_items_from_category[i][x]['item'];
                                flex_wrapper.appendChild(input_field);

                                var value_input_field = document.createElement("INPUT");
                                value_input_field.setAttribute("id", "category-list-input-value" + x)
                                value_input_field.value = found_items_from_category[i][x]['value_cent'];
                                value_input_field.style.display = "none"; 
                                flex_wrapper.appendChild(value_input_field);
                                
                                (function(index){
                                        paragraph_field.addEventListener("click", function() {
                                            var value_of_value = document.getElementById("value-0").value
                                            if(value_of_value){
                                                clone()
                                            } 
                                            next_empty_treatment_input = document.getElementById("tbodyClone").lastElementChild.childNodes[3].firstChild
                                            item_num = document.getElementById("category-list-input-items" + index).value
                                            next_empty_treatment_input.value = item_num
                                            description_procedures = document.getElementById("category-list-description" + index).textContent;
                                            next_empty_treatment_input.parentNode.parentNode.childNodes[5].childNodes[0].value = description_procedures

                                            var value_item = document.getElementById("category-list-input-value" + index).value;
                                            next_empty_treatment_input.parentNode.parentNode.childNodes[7].childNodes[0].value = value_item / 100
                                            next_empty_treatment_input.parentNode.parentNode.childNodes[5].childNodes[0].style.display = "block";
                                            next_empty_treatment_input.parentNode.parentNode.childNodes[7].childNodes[0].style.display = "block";
                                            next_empty_treatment_inputparentNode.parentNode.childNodes[9].childNodes[0].style.display = "block";
                                            closeAllLists();
                                        })
                                    })(x);     
                            }
                            categories_div.appendChild(category_div);
                        }
                    }
                    a.appendChild(categories_div);
                }
                function closeAllLists(elmnt) {
                    var x = document.getElementsByClassName("autocomplete-items2");
                    for (var i = 0; i < x.length; i++) {
                        if (elmnt != x[i] && elmnt != input_element) {
                        x[i].parentNode.removeChild(x[i]);
                        }
                    }     
                }
                document.addEventListener("click", function (e) {
                    closeAllLists(e.target);
                    $('#treatmentsearch-draft').val('');
                })
            }
        })
    })


    var regex = /^((?=\S*['-])([a-zA-Z'-]+))([0-9][0-9]?)+$/i;
    var regex_2 = /^(.*)(\d)+$/i;
    var cloneIndex = $(".clonedInput").length;
    if ($(".clonedInput").length == 1) {
        $('.remove').hide();
    } else {
        $('.remove').show();
    }


    function clone() {
        $(".clonedInput").last().clone()
            .appendTo(".tbodyClone")
            .attr("id", "clonedInput" + cloneIndex)
            .find("*")
            .each(function () { 
                 var id = this.id || "";
                 var match = id.match(regex) || [];  
                 if (match.length == 4) {
                     this.id = match[1] + (cloneIndex);
                 }
                 if (this.className.includes("treatment")){
                    this.value = ''
                 } 
                 if (this.className.includes("description")){
                    this.value = ''
                 } 
                 if (this.className.includes("value")){
                    this.value = ''
                 } 
                 if (this.className.includes("postvalue")){
                    this.value = ''
                 } 
                 if (this.className.includes("date")){
                    this.value = ''
                 } 
                //  if (this.className.includes("clone")){
                //     this.style.display = "none";
                //  } 
                 if (this.className.includes("row")){
                    this.remove();
                 } 
            })

        cloneIndex++;

        if ($(".clonedInput").length == 1) {
            $('.remove').hide();
        } else {
            $('.remove').show();
        }
        $(document).scrollTop($(document).height());
        re_number()
    }


  function re_number(){
        $('table').find('tr').each(function(i, v) {
            '{% if "namaf_orthopaedic_surgeons" in session["PATIENT"]["tariff"] %}'
            $(v).find('span.num').text(i);
            '{% else %}'
            $(v).find('span.num').text(i + 1);
            '{% endif %}'
        });
    }


    function remove() {        
        $(this).parents(".clonedInput").remove();
        re_number()

        if ($(".clonedInput").length == 1) {
            $('.remove').hide();
        } else {
            $('.remove').show();
        }
    }


    $('#admission_date').datepicker({dateFormat: 'dd.mm.yy'})
    $('#discharge_date').datepicker({dateFormat: 'dd.mm.yy'})
    $('#procedure_date').datepicker({dateFormat: 'dd.mm.yy'})
    $('#diagnosis_date').datepicker({dateFormat: 'dd.mm.yy'})
    $('#date_invoice').datepicker({dateFormat: 'dd.mm.yy'})
    $('#date_invoice').datepicker("setDate", new Date());
    $(document).on("click", ".date", function() {
        $(this).removeClass('hasDatepicker');
        $(this).datepicker({dateFormat: 'dd.mm.yy'}).datepicker( "show" )
    });

  
    '{% if status == "continue_draft" %}'
            $.ajax({
                type: "GET",
                url: '/patient/last-five', 
                data: {work_type: "invoice_draft"},
                success: function (invoice) {
                    if(invoice){
                        invoice = JSON.parse(invoice);
                        invoice = JSON.parse(invoice[0]["work_quality"].replace(/\\"/g, '"'));
                        for (let i = 0; i < invoice.treatments.length; i++) {
                            const element = invoice.treatments[i];
                            var item_number = element["treatments"]
                            var item_description = element["description"]
                            var item_units = element["units"]
                            var item_date = element["date"]
                            var post_item_value = element["post_value"]
                            var item_value = element["value"]
                            if(i !== 0){
                                clone()
                            }   
                            $('#postvalue-' + i).val(post_item_value)
                            $('#value-' + i).val(item_value)
                            $('#units-' + i).val(item_units)
                            $('#date-' + i).removeClass('hasDatepicker');
                            $('#date-' + i).datepicker({dateFormat: 'dd.mm.yy'})
                            $('#date-' + i).datepicker("setDate", item_date);
            
                            treatment_input = document.getElementById("treatment-" + i);
                            description_input = document.getElementById("description-" + i);
                            treatment_input.value = item_number
                            description_input.value = item_description
                            
                            keepState()              
                        }
                    }
                }
            })
    '{% else %}'
        keepState();
    '{% endif %}'


    function keepState(){
        var data = $('.invoice_draft').serializeArray();
        var invoice = {};
        var treatments = [];
        var obj = {};
        var counter = 0; 
        if(data != 'undefined' && data.length !== 0){

            if(data[2]["value"] != ""){

                $.each(data, function(){
                    if(this.name == "treatments" || this.name == "description" || this.name == "date" || this.name == "value" || this.name == "post_value" || this.name == "units"){
                    obj[this.name] = this.value
                    console.log(this)
                    counter++;
                        if(counter == 6){
                            treatments.push(obj);
                            obj = {};
                            counter = 0;
                        }      
                    }
                    else{
                    invoice[this.name] = this.value;
                    }
                })

                invoice["treatments"] = treatments;
                var invoice_json_string = JSON.stringify(invoice);
                var url = "{{ url_for('api_bp.newJob') }}";
                console.log(invoice);
                $.ajax({
                    type: "GET",
                    url: url,
                    data: {work_quality: invoice_json_string, work_type: 'invoice_draft'},
                    success: function () {
                    }
                });
            }   
        }  
        setTimeout(keepState,5000);
    }
            
    
});

</script>
</div>
{% endblock %}