{% block content %}
<form name="patient_info" id="patient_info" class="patient_info"></form>
<form id="live_search" style="margin-top: 4em;" autocomplete="off" class="treatmentsearch">
    <input id="treatmentsearch" class="form-control mr-sm-2" name="treatment" type="search" placeholder="Search treatments">
</form>
<form autocomplete="off" class="invoice_form" id="namaf_orthopaedic_surgoens" >   
        {{ form.hidden_tag() }}
        <div class="form-group float-right">
        {{ form.date_invoice.label(for="date_invoice") }}
        {{ form.date_invoice(class_="form-control") }}
        </div>
          <br><br>
            <table style="width:100%">
                <colgroup>
                    <col span="1" style="width: 3%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 40%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 15%;">
                    <col span="1" style="width: 15%;">
                    <col span="1" style="width: 10%;">
                 </colgroup>
                 <thead>
                    <tr>
                      <th>ID</th>
                      <th>Item</th>
                      <th>Description</th>
                      <th>Units</th>
                      <th>Value</th>
                      <th>Date</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                <tbody class="tbodyClone" id="tbodyClone">
                    <tr id="clonedInput0" class="clonedInput">
                        <th id="row-0" scope="row"><span class="num">1</span></th>
                        <td>{{  form.treatments(style='width:100%',id='treatment-0', class='treatment_orthopaedic_surgeons form-control')  }}</td>
                        <td>
                            <div class="input-group">{{  form.description(style='width:100%',id='description-0', class='description form-control')  }}
                                <div class="input-group-prepend">    
                                    <span class="input-group-text"><i class="fa fa-info-circle info_treatment" id="infofavi-0" aria-hidden="true"></i></span>   
                                </div>
                            </div>
                        </td>
                        <td>{{  form.units(style='width:100%',id='units-0', class='units form-control')  }}</td>
                        <td>{{  form.post_value(style='width:100%',id='postvalue-0', class='postvalue form-control')  }}</td>
                        <td style="display:none">{{  form.value(style='width:100%',id='value-0', class='value')  }}</td>
                        <td>{{  form.date(style='width:100%',id='date-0', class='form-control date datepicker', placeholder="DD/MM/YYYY")  }}</td>
                        <td style="display:none">{{  form.modifier(id='modifier-0', class='modifier', value='0')  }}</td>
                        <td>
                            <input id="delete-0" value="Delete" type="button" class="remove btn btn-danger">
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
        <br><br>
        <input id="method" name="method" value="write" type="checkbox">       
        <label for="method">Create Invoice File</label>
        <br>
        <button id="submit" type="submit" class="btn btn-primary save_invoice" style="background-color:#017B25;">Save</button>
        <a class="btn btn-secondary mt-2 w-25" id="show_invoice" role="button" style="display:none;">Show invoice in Nextcloud</a>
        <div style="display:flex; flex-direction: column; align-items: flex-end;"><span id="result"></span><span></span></div>      
    </form> 

<script>

var current_patient_form;
var current_search_form;
var current_form;
var current_invoice;
var cloneIndex = 1;
var regex = /^((?=\S*['-])([a-zA-Z'-]+))([0-9][0-9]?)+$/i;
var regex_2 = /^(.*)(\d)+$/i;



function addAmount(event){
    var index = event.target.id;
    var original_value = document.getElementById("value-" + index);
    var post_value = document.getElementById("postvalue-" + index);
    var new_post_value;
    if(original_value.value == post_value.value){
        new_post_value = (original_value.value * 2.25).toFixed(2);
    }
    else{
        new_post_value = original_value.value
    }
    
    post_value.value = new_post_value;
}



function popOver() {
    $('.postvalue').popover({
                trigger: "manual",
                html: true, 
                animation: false,
                sanitize: false,
                title:'Add markup:',
                content: function(){ 
                    var id = $(this).attr('id');
                    var match = id.match(regex) || [];
                    var index = match[3]
                    var value = document.getElementById("value-" + index).value;
                    var post_value = document.getElementById("postvalue-" + index).value;
                    var end_string;
                    if(value != post_value){
                        end_string = ' class="btn btn-success active" >125%</a></div>'
                    }
                    else{
                        end_string = ' class="btn btn-success">125%</a></div>'
                    }
                    var html_string = '<div><a id="' + index + '" onclick="addAmount(event);return false;" href="#" role="button" ' + end_string;
                    return html_string
                }
            })
            .on("mouseenter", function() {
            var _this = this;
            $(this).popover("show");
            $(".popover").on("mouseleave", function() {
            $(_this).popover('hide');
            });
            }).on("mouseleave", function() {
                var _this = this;
                setTimeout(function() {
                if (!$(".popover:hover").length) {
                    $(_this).popover("hide");
                }
                }, 50);
            }); 
    }


function details_in_popup(item_number, div_id){
    $.ajax({
            type: "GET",
            url: '/get-value', 
            data: {item: item_number, tariff: current_invoice["tariff"]},
            success: function (info) {
                var info = JSON.parse(info.replace(/\\"/g, '"'));
                var form = document.createElement("FORM");
                for (const [key, value] of Object.entries(info)) {
                    if(value && key != "id" && key != "item" && key != "description" && key != "value_cent" && key != "tariff" && key != "units" ){
                        var div = document.createElement("DIV");
                div.className += "form-group ";
                div.className += "row";
                div.style.marginBottom = "0";
                form.appendChild(div);
                var label = document.createElement("Label");
                label.htmlFor = key;
                label.innerHTML= firstLetterCapitalise(key);  
                label.className = "col-sm-5" 
                label.className += " col-form-label";
                label.style.paddingBottom = "0";
                label.style.paddingTop = "0";
                div.appendChild(label);

                var input_div = document.createElement("DIV");
                input_div.className = "col-sm-10"
                div.appendChild(input_div);

                var input = document.createElement("INPUT"); 
                input.value = value;
                input.name = key;
                input.id = key;
                input.disabled = true;
                input.className = "form-control-plaintext";
                input.style.paddingBottom = "0";
                input.style.paddingTop = "0";
                input.className = "form-control";
                input.setAttribute("type", "text")
                input_div.appendChild(input); 
                    }                  
            }          
            $('#'+div_id).html(form);
        }
    })
    return '<div style="min-height: 450px" id="'+ div_id +'">Loading...</div>';
}

$(document).ready(function(){

    popOver();

    $("body").popover({ 
        selector: '.info_treatment',
        trigger: 'hover focus',   
        html: true, 
        sanitize: false, 
        content: function(){          
            var id = $(this).attr('id');
            var match = id.match(regex) || [];
            var index = match[3]
            var item_number = document.getElementById("treatment-" + index).value;
            var div_id =  "tmp-id-" + $.now();
            return details_in_popup(item_number, div_id);     
        }})


    function remove() {        
        $(this).parents(".clonedInput").remove();
        $('table').find('tr').each(function(i, v) {
            $(v).find('span.num').text(i);
         
        });
    }

    $(document).on("click", ".remove", remove);
    $('#date_invoice').datepicker({dateFormat: 'yy-mm-dd'})
    $('#date_invoice').datepicker("setDate", new Date());
    $(document).on("click", ".date", function() {
        $(this).removeClass('hasDatepicker');
        $(this).datepicker({dateFormat: 'yy-mm-dd'}).datepicker( "show" )
    });


    '{% if status == "new_draft" %}'
        $.ajax({
            type: "GET",
            url: '/patient/last-five', 
            data: {work_type: "invoice_draft"},
            success: function (new_invoice) {
                current_invoice = JSON.parse(new_invoice);
                current_invoice = JSON.parse(current_invoice[0]["work_quality"].replace(/\\"/g, '"'));
                var patient_info = document.querySelectorAll("#patient_info");
                var treatment_search = document.querySelectorAll("#treatmentsearch");
                var invoice_form = document.querySelectorAll("#namaf_orthopaedic_surgoens");
                addUniqueClasses(patient_info[0],invoice_form[0], treatment_search[0])
                populatePatient()       
            }
        })

    '{% elif status == "continue_draft" %}'
        $.ajax({
            type: "GET",
                url: '/patient/last-five', 
                data: {work_type: "invoice_draft"},
                success: function (invoice) {
                    current_invoice = JSON.parse(invoice);
                    current_invoice = JSON.parse(current_invoice[0]["work_quality"].replace(/\\"/g, '"'));
                    var patient_info = document.querySelectorAll("#patient_info");
                    var treatment_search = document.querySelectorAll("#treatmentsearch");
                    var invoice_form = document.querySelectorAll("#namaf_orthopaedic_surgoens");
                    addUniqueClasses(patient_info[0],invoice_form[0], treatment_search[0])
                    populatePatient()
                    if(current_invoice.treatments){
                        for (let i = 0; i < current_invoice.treatments.length; i++) {
                            const element = current_invoice.treatments[i];
                            var item_number = element["treatments"]
                            var item_description = element["description"]
                            var item_units = element["units"]
                            var item_date = element["date"]
                            var post_item_value = element["post_value"]
                            var item_value = element["value"]
                            if(i !== 0){
                                clone()
                            }   
                            $('#postvalue-' + i).val(post_item_value)
                            $('#value-' + i).val(item_value)
                            $('#units-' + i).val(item_units)
                            $('#date-' + i).removeClass('hasDatepicker');
                            $('#date-' + i).datepicker({dateFormat: 'yy-mm-dd'})
                            $('#date-' + i).datepicker("setDate", item_date);
            
                            treatment_input = document.getElementById("treatment-" + i);
                            description_input = document.getElementById("description-" + i);
                            treatment_input.value = item_number
                            description_input.value = item_description  
                            
                        }
                    }
                }
            })
            
    
    '{% else %}'
        current_invoice = '{{ invoice }}';
        current_invoice = JSON.parse(current_invoice.replace(/&#34;/g,'"'));
        var patient_info = document.querySelectorAll("#patient_info");
        var treatment_search = document.querySelectorAll("#treatmentsearch");
        var invoice_form = document.querySelectorAll("#namaf_orthopaedic_surgoens");
        addUniqueClasses(patient_info[0],invoice_form[0], treatment_search[0])
        populatePatient()
        

        for (let i = 0; i < current_invoice.treatments.length; i++) {
            const element = current_invoice.treatments[i];
            var item_number = element["item"]
            var item_description = element["description"]
            var item_units = element["units"]
            var item_date = element["date"]
            var post_item_value = element["post_value_cent"]
            var item_value = element["value_cent"]
            if(i !== 0){
                clone()
            }   
            $('#postvalue-' + i).val(post_item_value / 100)
            $('#value-' + i).val(item_value / 100)
            $('#units-' + i).val(item_units / 100)
            $('#date-' + i).removeClass('hasDatepicker');
            $('#date-' + i).datepicker({dateFormat: 'yy-mm-dd'})
            $('#date-' + i).datepicker("setDate", item_date);
    
            treatment_input = document.getElementById("treatment-" + i);
            description_input = document.getElementById("description-" + i);
            treatment_input.value = item_number
            description_input.value = item_description
                     
        }
 
    '{% endif %}'

})
     

$.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
                }
            }
        })

</script>

<script src="{{url_for('.static', filename='patient_bp/js/serialize_array.js')}}"></script>
<script src="{{url_for('.static', filename='patient_bp/js/keep_state.js')}}"></script>
<script src="{{url_for('.static', filename='patient_bp/js/clone.js')}}"></script>
<script src="{{url_for('.static', filename='patient_bp/js/live_search.js')}}"></script>
<script src="{{url_for('.static', filename='patient_bp/js/unique_classes.js')}}"></script>
<script src="{{url_for('.static', filename='patient_bp/js/populate_patient.js')}}"></script>
<script src="{{url_for('.static', filename='patient_bp/js/submit.js')}}"></script>

{% endblock %}