{% block content %}
<form name="patient_info" id="patient_info" class="patient"></form>
<form autocomplete="off" class="form invoice_form" id="physio">   
        {{ form.hidden_tag() }}
        <div class="form-group float-right">
        {{ form.date_invoice.label(for="date_invoice") }}
        {{ form.date_invoice(class_="form-control") }}
        </div>
        <table class="table table-striped" style="overflow: hidden;">
            <colgroup>
                <col span="1" style="width: 5%;">
                <col span="1" style="width: 10%;">
                <col span="1" style="width: 45%;">
                <col span="1" style="width: 10%;">
                <col span="1" style="width: 15%;">
             </colgroup>
             <thead>
                <tr>
                  <th>ID</th>
                  <th>Description</th>
                  <th>Value</th>
                  <th>Addon</th>
                  <th>Modifier</th>
                  <th>Date</th>
                  <th>Action</th>
                </tr>
              </thead>
                <tbody class="tbodyClone">
                    <tr id="clonedInput0" class="clonedInput">
                        <td id="row-0" scope="row"><span class="num">1</span></td>
                        <td class= 'col-md-6'>{{  form.treatments(id='treatment-0', class='treatment')  }}</td>
                        <td style='display:none'>{{  form.description(id='description-0', class='description')  }}</td>
                        <td style='display:none'>{{  form.units(id='units-0', class='units')  }}</td>
                        <td style='display:none'>{{  form.value(id='value-0', class='value')  }}</td>
                        <td>{{  form.post_value(style='max-width:100px;', id='postvalue-0', class='postvalue')  }}</td>
                        <td>
                            <input id="thirty-0" value = "30%" type="button" class="thirty">
                            <input id="fourty-0" value = "40%" type="button" class="fourty inline"> 
                        </td>
                        <td>{{  form.modifier(style='max-width:80px;', id='modifier-0', class='modifier')  }}</td>
                        <td>{{  form.date(style='max-width:100px;', id='date-0', class='date', placeholder="DD/MM/YYYY")  }}</td>
                        <td>
                            <input id="below-0" value="Add below" type="button" style="width:100px" class="below">
                            <input id="delete-0" value="Delete" type="button" style="width:100px" class="remove">
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
        <input id="btnAdd_0" value="Add treatment" type="button" class="clone">
        <br>
        
        <br><br>
        <button id="submit" type="submit" class="btn btn-primary save_invoice" style="background-color:#017B25;">Save</button>
        <br>
        <input id="method" name="method" value="write" type="checkbox">
        <label for="method">Create Invoice File</label>
        <div style="display:flex; flex-direction: column; align-items: flex-end;"><span id="result"></span><span><input class="btn btn-secondary" id="download_invoice" value="Download invoice" type="button" style="display:none;"></span></div>
</form> 
    

<script>

var current_form;
var current_patient_form;
var current_invoice;

$(document).ready(function(){


    var regex = /^((?=\S*['-])([a-zA-Z'-]+))([0-9][0-9]?)+$/i;
    var regex_2 = /^(.*)(\d)+$/i;
    var cloneIndex = $(".clonedInput").length;
    if ($(".clonedInput").length == 1) {
        $('.remove').hide();
    } else {
        $('.remove').show();
    }


    function clone_insert_below(){
        $(this).parents(".clonedInput").clone()
            .insertAfter($(this).parents(".clonedInput"))
            .attr("id", "clonedInput" + cloneIndex)
            .find("*")
            .each(function () { 
                 var id = this.id || "";
                 var match = id.match(regex) || [];    
                 if (match.length == 4) {
                     this.id = match[1] + (cloneIndex);
                 }
                 if (this.className.includes("treatment")){
                    this.value = ''
                 } 
                 if (this.className.includes("description")){
                    this.value = ''
                 } 
                 if (this.className.includes("date")){
                    this.value = ''
                 }  
                 if (this.className.includes("value")){
                    this.value = ''
                 } 
                 if (this.className.includes("thirty")){
                    this.style.backgroundColor = "white";
                 } 
                 if (this.className.includes("fourty")){
                    this.style.backgroundColor = "white";
                 } 
            }            
            )
        cloneIndex++;
        re_number()
    }


    function clone() {
        if ($(this).parents(".clonedInput").length == 1){
            $(this).parents(".clonedInput").clone()
            .appendTo(".tbodyClone")
            .attr("id", "clonedInput" + cloneIndex)
            .find("*")
            .each(function () { 
                 var id = this.id || "";
                 var match = id.match(regex) || [];    
                 if (match.length == 4) {
                     this.id = match[1] + (cloneIndex);
                 }
                 
                 if (this.className.includes("date")){
                    this.value = ''
                 }  
                 if (this.className.includes("value")){
                    this.value = ''
                 } 
                 if (this.className.includes("thirty")){
                    this.style.backgroundColor = "white";
                 } 
                 if (this.className.includes("fourty")){
                    this.style.backgroundColor = "white";
                 } 
                 if (this.className.includes("clone")){
                    this.classList.add()
                 } 
            }            
            )
            var select_value = $(this).parent().parent().find('.treatment').children().children("option:selected").val()
            $('#treatment-' + cloneIndex).val(select_value);  

            $.getJSON('/get-value', {
                item: select_value			
            }, function(data) {
                cloneIndex2 = cloneIndex - 1 
                $('#value-' + cloneIndex2).val(data.value / 100);
                });
        }
        else{
        $(".clonedInput").last().clone()
            .appendTo(".tbodyClone")
            .attr("id", "clonedInput" + cloneIndex)
            .find("*")
            .each(function () { 
                 var id = this.id || "";
                 var match = id.match(regex) || [];  
                 if (match.length == 4) {
                     this.id = match[1] + (cloneIndex);
                 }
                 if (this.className.includes("treatment")){
                    this.value = ''
                    var elements = this.options
                    if(elements){
                        for(var i = 0; i < elements.length; i++){
                        elements[i].removeAttribute("selected");
                        }
                    }
                 } 
                 if (this.className.includes("description")){
                    this.value = ''
                 } 
                 if (this.className.includes("value")){
                    this.value = ''
                 } 
                 if (this.className.includes("thirty") || (this.className.includes("fourty"))){
                    this.style.backgroundColor = "white";
                    // this.style.display = "none";
                 } 
                 if (this.className.includes("modifier")){
                    // this.style.display = "none";
                 } 
                 if (this.className.includes("value")){
                    // this.style.display = "none";
                 } 
                 if (this.className.includes("date")){
                    // this.style.display = "none";
                    this.value = ''
                 } 
                 if (this.className.includes("clone")){
                    // this.style.display = "none";
                 } 
                 if (this.className.includes("row")){
                    this.remove();
                 } 
            })
        }
        
        cloneIndex++;

        if ($(".clonedInput").length == 1) {
            $('.remove').hide();
        } else {
            $('.remove').show();
        }
        re_number()
    }

    function re_number(){
        $('table').find('tr').each(function(i, v) {
            $(v).find('span.num').text(i);
        });
    }
  


    function remove() {        
        $(this).parents(".clonedInput").remove();
        re_number()

        if ($(".clonedInput").length == 1) {
            $('.remove').hide();
        } else {
            $('.remove').show();
        }
    }


    function addPremium(object, id, percent){
        var current_value = parseFloat(object.parent().parent().children().children(".value").val());
	   	let plus_premium = current_value.toFixed(3) * percent;
	  	object.parent().parent().children().children(".postvalue").val(plus_premium.toFixed(2));
        object.siblings().css('background-color', 'white');
        object.css('background-color', 'green');
        value_edit[id] = {
            id: id,
            value: current_value,
            edit: true,
            last: percent
        };
    }


    function subtractPremium(object, id){
        current_value = value_edit[id].value;
        object.parent().parent().children().children(".postvalue").val(current_value.toFixed(2));
		object.css('background-color', 'white');
        object.siblings().css('background-color', 'white');
 	    value_edit[id]={
            id: id,
            value: current_value,
            edit: false,
        }
    }


    function replacePremium(object, id, percent){
        original_value = value_edit[id].value;
        let plus_premium = original_value.toFixed(3) * percent;
	  	object.parent().parent().children().children(".postvalue").val(plus_premium.toFixed(2));
        object.siblings().css('background-color', 'white');
        object.css('background-color', 'green');
        value_edit[id] = {
            id: id,
            value: original_value,
            edit: true,
            last: percent
        };
    }


    function setPremium(id, percent, original_value){
        original_value = parseFloat(original_value)
        if (percent == 1.4){
            $('#fourty-' + id).css('background-color', 'green');
        }
        else{
            $('#thirty-' + id).css('background-color', 'green');
        }
        value_edit[id] = {
            id: id,
            value: original_value,
            edit: true,
            last: percent
        };
    }


    function checkState(object, id, percent){    
	    if (typeof value_edit[id] !== 'undefined'){
		    if(value_edit[id].edit == false){
                addPremium(object, id, percent)
		    }
		    else if (value_edit[id].last == percent){
                subtractPremium(object, id)  
		    }
            else{
                replacePremium(object, id, percent)          
            }
		}
	    else{
            addPremium(object, id, percent)
	   }
    }

    var value_edit = [];

    $(document).on('click', '.thirty', function(){
        var percent = 1.3;
        var get_id_from_html = $(this).parent().parent().attr('id');
        var id = get_id_from_html.match(regex_2)[2]
        id = parseInt(id)
        var object = $(this)
        checkState(object, id, percent)
    })


    $(document).on('click', '.fourty', function(){
        var percent = 1.4;
        var get_id_from_html = $(this).parent().parent().attr('id');
        var id = get_id_from_html.match(regex_2)[2]
        id = parseInt(id)
        var object = $(this)
        checkState(object, id, percent)
    })



    var sibling_of_value = null;
    $(document).on('change', '.treatment', newTreatment);
    function newTreatment(event){
        var id_ = this.id || "";
        var match_ = id_.match(regex) || [];
        match_ = parseInt(match_[3])  
        value_edit.splice(match_, 1);
        $(this).parent().siblings().find('.value').show()
        $(this).parent().siblings().find('.thirty').show()
        $(this).parent().siblings().find('.fourty').show()
        $(this).parent().siblings().find('.date').show()
        $(this).parent().siblings().find('.modifier').show()
        $(this).parent().siblings().find('.clone').show()
        $(this).parent().siblings().find('.thirty').css('background-color', 'white');
        $(this).parent().siblings().find('.fourty').css('background-color', 'white');
		sibling_of_value = $(this);
        if($(this).val()!= 0){
            $.getJSON('/get-value', {
                item: $(this).val(),	
                tariff: $("#tariff").val()		
            }, function(data) {
                $(sibling_of_value).parent().parent().children().children(".description").val(data.description);
                $(sibling_of_value).parent().parent().children().children(".value").val(data.value_cent / 100);
                $(sibling_of_value).parent().parent().children().children(".postvalue").val(data.value_cent / 100);
                $(sibling_of_value).parent().parent().children().children(".units").val(data.units / 100);
                });
            }
            else{
                $(sibling_of_value).parent().parent().children().children(".value").val("");
            }
        return false;
    };

    let element = document.getElementById('treatment-0');
    element.value = '';
    // $('#date-0').hide();
    // $('#value-0').hide();
    // $('#modifier-0').hide();
    // $('#clone-0').hide();
    // $('#thirty-0').hide();
    // $('#fourty-0').hide();
    $('#admission_date').datepicker({dateFormat: 'yy-mm-dd'})
    $('#discharge_date').datepicker({dateFormat: 'yy-mm-dd'})
    $('#procedure_date').datepicker({dateFormat: 'yy-mm-dd'})
    $('#diagnosis_date').datepicker({dateFormat: 'yy-mm-dd'})
    $('#date_invoice').datepicker({dateFormat: 'yy-mm-dd'})
    $('#date_invoice').datepicker("setDate", new Date());
    document.getElementById("btnAdd_0").addEventListener("click", clone);
    $(document).on("click", ".below", clone_insert_below);
    $(document).on("click", ".remove", remove);
    $(document).on("click", ".date", function() {
        $(this).removeClass('hasDatepicker');
        $(this).datepicker({dateFormat: 'yy-mm-dd'}).datepicker( "show" )
    });



   


    '{% if status == "new_draft" %}'
        
        $.ajax({
            type: "GET",
            url: '/patient/last-five', 
            data: {work_type: "invoice_draft"},
            success: function (new_invoice) {
                current_invoice = JSON.parse(new_invoice);
                current_invoice = JSON.parse(current_invoice[0]["work_quality"].replace(/\\"/g, '"'));
                var patient_info = document.querySelectorAll("#patient_info");
                var invoice_form = document.querySelectorAll("#physio");
                addUniqueClasses(patient_info[0],invoice_form[0])
                populatePatient()
            }
        })

    '{% elif status == "continue_draft" %}'
        $.ajax({
                type: "GET",
                url: '/patient/last-five', 
                data: {work_type: "invoice_draft"},
                success: function (invoice_draft) {

                    current_invoice = JSON.parse(invoice_draft);
                    current_invoice = JSON.parse(current_invoice[0]["work_quality"].replace(/\\"/g, '"'));
                    var patient_info = document.querySelectorAll("#patient_info");
                    var invoice_form = document.querySelectorAll("#physio");
                    addUniqueClasses(patient_info[0],invoice_form[0])
                    populatePatient()
                    if(current_invoice.treatments){
                        for (let i = 0; i < current_invoice.treatments.length; i++) {
                            const element = current_invoice.treatments[i];
                            var item_number = element["treatments"]
                            var item_description = element["description"]
                            var item_units = element["units"]
                            var item_modifier = element["modifier"]
                            var item_date = element["date"]
                            var post_item_value = element["post_value"]
                            var item_value = element["value"]
                            if(i !== 0){
                                clone()
                            }   
                            $('#description-' + i).val(item_description);
                            $('#units-' + i).val(item_units)
                            $('#postvalue-' + i).val(post_item_value)
                            $('#value-' + i).val(item_value)
                            $('#date-' + i).removeClass('hasDatepicker');
                            $('#date-' + i).datepicker({dateFormat: 'yy-mm-dd'})
                            $('#date-' + i).datepicker("setDate", item_date);
                            $('#treatment-' + i).val(item_number);
                            $('#thirty-' + i).show()
                            $('#fourty-' + i).show()
                            $('#modifier-' + i).show()
                            $('#modifier-' + i).val(item_modifier); 
                            
                            $.getJSON('/get-value', {
                                item: element["treatments"],	
                                tariff: current_invoice["tariff"],		
                            }, function(data) {
                                if (data.value_cent !== (post_item_value * 100)){
                                    percent = ((post_item_value * 100) / data.value_cent ).toFixed(1)
                                    setPremium(i, percent, data.value_cent / 100)
                                }
                            });
                        }
                    }
                }
            })
            
    '{% else %}'

        current_invoice = '{{ invoice }}';
        current_invoice = JSON.parse(current_invoice.replace(/&#34;/g,'"'));

        var patient_info = document.querySelectorAll("#patient_info");
        var invoice_form = document.querySelectorAll("#physio");
        addUniqueClasses(patient_info[0],invoice_form[0])
        populatePatient()

        for (let i = 0; i < current_invoice.treatments.length; i++) {
            const element = current_invoice.treatments[i];
            var item_number = element["item"]
            var item_description = element["description"]
            var item_units = element["units"]
            var item_modifier = element["modifier"]
            var item_date = element["date"]
            var post_item_value = element["post_value_cent"]
            var item_value = element["value_cent"]
            if(i !== 0){
                clone()
            }   
            $('#description-' + i).val(item_description);
            $('#units-' + i).val(item_units / 100)
            $('#postvalue-' + i).val(post_item_value / 100)
            $('#value-' + i).val(item_value / 100)
            $('#date-' + i).removeClass('hasDatepicker');
            $('#date-' + i).datepicker({dateFormat: 'yy-mm-dd'})
            $('#date-' + i).datepicker("setDate", item_date);
            $('#treatment-' + i).val(item_number);
            $('#thirty-' + i).show()
            $('#fourty-' + i).show()
            $('#modifier-' + i).show()
            $('#modifier-' + i).val(item_modifier);  

            $.getJSON('/get-value', {
                item: element["item"],	
                tariff: current_invoice["tariff"],		
            }, function(data) {
                if (data.value_cent !== element["post_value_cent"]){
                    percent = (element["post_value_cent"] / data.value_cent ).toFixed(1)
                    setPremium(i, percent, data.value_cent / 100)
                }
            });
        }

    '{% endif %}'



    $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
                }
            }
    })
    
});

function keepState(){
        var data = $('.' + current_form).serializeArray().concat($("." + current_patient_form).serializeArray()) ;
        current_invoice = {};
        var treatments = [];
        var obj = {};
        var counter = 0; 
        if(data != 'undefined' && data.length !== 0){
            if(data[2]["value"] != ""){

                $.each(data, function(){
                    if(this.name == "treatments" || this.name == "description" || this.name == "units" || this.name == "date" || this.name == "value" || this.name == "post_value" || this.name == "modifier"){
                    obj[this.name] = this.value
                    counter++;
                        if(counter == 7){
                            treatments.push(obj);
                            obj = {};
                            counter = 0;
                        }      
                    }
                    else{
                        current_invoice[this.name] = this.value;
                    }
                })

                current_invoice["treatments"] = treatments;
                var invoice_json_string = JSON.stringify(current_invoice);
                var url = "{{ url_for('api_bp.newJob') }}";
                $.ajax({
                    type: "GET",
                    url: url,
                    data: {work_quality: invoice_json_string, work_type: 'invoice_draft'},
                    success: function () {
                    }
                });
            }   
        }  
    }



</script>

<script src="{{url_for('.static', filename='patient_bp/js/unique_classes.js')}}"></script>
<script src="{{url_for('.static', filename='patient_bp/js/populate_patient.js')}}"></script>
<script src="{{url_for('.static', filename='patient_bp/js/submit.js')}}"></script>
{% endblock %}