{% include 'patient/index.html' %}
{% block content %}
<div class="container">
    <br>
    <br>
    <h3>{{patient}}</h3>
    <br>

    <h4>Patients</h4>  
    <div class="list-group">
        {% for i in patient_data %} 
        {% if i['medical_aid'] == 'mva'%}
        <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{i['patient_name']}}</h5>
                <small>
                    <span style="text-transform: uppercase;">{{i['medical_aid']}}</span>
                </small>
            </div>
            <form method=post autocomplete="off" id="continue_mva_{{loop.index}}" class="mva" >  
                    {{ form_mva.hidden_tag() }}
                    {{ form_mva.medical_aid(style='display:none', value=i['medical_aid']) }}
                    {{ form_mva.tariff(class_="tariff", style="display: none;", id='tariff_' ~ loop.index) }}
                    {{ form_mva.patient_name(value=i['patient_name'], style="display: none") }}
                    {{ form_mva.case_number(style="display: none;", value=i['case_number']) }}
                    {{ form_mva.po_number.label(class_="required") }} {{ form_mva.po_number(class_="form-control w-25") }}
                    {{ form_mva.date_created.label(for="date_mva_" ~ loop.index, class_="required") }} {{ form_mva.date_created(id='date_mva_' ~ loop.index, class_="form-control w-25 p-3" ) }}
                    <br>
                    {{ form_mva.submit(class_="btn btn-success") }}
            </form>  
            <small>Tariff: {{i['tariff']}} <br> Case Number: {{i['case_number']}}</small>
        </div>
        <br>

    {% elif i['medical_aid'] == 'psemas'%}
    <div  class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{i['name_patient']}}</h5>
            <small>
                <span style="text-transform: uppercase;">{{i['medical_aid']}}</span>
            </small>
        </div>
        <form method=post autocomplete="off" id="continue_psemas_{{loop.index}}" class="psemas" >  
            {{ form_psemas.hidden_tag() }}
            {{ form_psemas.medical_aid(value=i['medical_aid'], style="display: none;") }}
            {{ form_psemas.tariff(id='tariff_' ~ loop.index, style="display: none;") }}
            {{ form_psemas.patient_name(value=i['patient_name'], style="display: none")  }}
            {{ form_psemas.main_member(value=i['main_member'], style="display: none") }}
            {{ form_psemas.patient_birth_date(value=i['patient_birth_date'].strftime('%d.%m.%Y'), style="display: none") }}
            {{ form_psemas.medical_number(value=i['medical_number'], style="display: none") }}
            {{ form_psemas.date_created.label(class_="required") }} {{ form_psemas.date_created(id='date_psemas_' ~ loop.index, class_="form-control w-25 p-3") }}
        <br>
        {{ form_mva.submit(class_="btn btn-success") }}
        </form>
        <small>Tariff: {{i['tariff']}} <br> Medical Number: {{i['medical_number']}} <br>Main Member: {{i['main_member']}} <br>Date of Birth: {{ i['patient_birth_date'].strftime('%d.%m.%Y') }}</small>
    </div>
    <br>

        {% else %}
        <div  class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{i['patient_name']}}</h5>
                <small>
                    <span style="text-transform: uppercase;">{{i['medical_aid']}}</span>
            </small>
        </div>
        <form  method=post autocomplete="off" id="continue_other_{{loop.index}}" class="other" >  
            {{ form_other.hidden_tag() }}
            {{ form_other.medical_aid(value=i['medical_aid'], style="display: none") }}  
            {{ form_other.tariff(id='tariff_' ~ loop.index, style="display: none") }}
            {{ form_other.patient_name(value=i['patient_name'], style="display: none")  }}
            {{ form_other.main_member(value=i['main_member'], style="display: none") }}
            {{ form_other.patient_birth_date(value=i['patient_birth_date'].strftime('%d.%m.%Y'), style="display: none") }}
            {{ form_other.medical_number(value=i['medical_number'], style="display: none") }}
            {{ form_other.date_created.label(class_="required") }} {{ form_other.date_created(id='date_other_' ~ loop.index, class_="form-control w-25 p-3") }}
        <br>
        {{ form_other.submit(class_="btn btn-success") }}
        </form>  
        <small>Tariff: {{i['tariff']}} <br> Medical Number: {{i['medical_number']}} <br>Main Member: {{i['main_member']}} <br>Date of Birth: {{i['patient_birth_date'].strftime('%d.%m.%Y')}}</small>
    </div>
    <br>

        {% endif %}
        <script>
            selectElement('tariff_{{ loop.index }}', '{{ i["tariff"] }}')
            function selectElement(id, valueToSelect) {    
                let element = document.getElementById(id);
                element.value = valueToSelect;
                $('.other').children('#date_other_{{loop.index}}').datepicker({dateFormat: 'dd.mm.yy'})
                $('.other').children('#date_other_{{loop.index}}').datepicker("setDate", new Date());
                $('.mva').children('#date_mva_{{loop.index}}').datepicker({dateFormat: 'dd.mm.yy'})
                $('.mva').children('#date_mva_{{loop.index}}').datepicker("setDate", new Date());
                $('.psemas').children('#date_psemas_{{loop.index}}').datepicker({dateFormat: 'dd.mm.yy'})
                $('.psemas').children('#date_psemas_{{loop.index}}').datepicker("setDate", new Date());
            }
        </script>
    {% endfor %}
    </div>    
    <br><br>
    <h4>Past invoice</h4>  
    <ul class="list-group">
        {% for i in data %} 
        <li class="invoice_list list-group-item" ><span>{{i['patient_name']}}</span> {{i['medical_aid']}} {{i['date_created'].strftime('%d.%m.%Y')}}</li>
        <ul class="list-group-item" id="treatment-list-{{loop.index}}" style="display:none;">
                <script>
                    $.getJSON('/get-invoice-items', {
                        invoice_id: '{{ i["invoice_id"] }}',
                        uuid: '{{ i["uuid_text"] }}'
                    }, function(invoice_items) {
                        var el = document.getElementById('treatment-list-{{loop.index}}')
                        for (i = 0; i < invoice_items.length; i++) {
                            var node = document.createElement("li");
                            node.classList.add('list-group-item');
                            node.innerText = invoice_items[i]['description'];
                            el.appendChild(node);
                        }
                        var button = document.createElement("button");
                        button.innerHTML = "Continue Invoice";
                        button.classList.add("continue" + '{{loop.index}}')
                        el.appendChild(button);
                        $('.continue' + '{{loop.index}}').click(function(){
                            $.ajax({
                                url: '/set-known-invoice',
                                data: {invoice_id: "{{ i['invoice_id'] }}", invoice_items:  JSON.stringify(invoice_items)},
                                success: function() {
                                    window.location.href = "/patient/" + '{{i["patient_name"]}}' + "/continue-invoice";
                                },
                            });
                         
                        })
                        
                    });
            </script>
        </ul>
        {% endfor %}
    </ul>
    <br><br><br>    
</div>


<script>

    $(document).ready(function() {
        $('.invoice_list').click(function() {
            $(this).next().css("display", "block");
        });
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ form_mva.csrf_token._value() }}")
                }
            }
        })
    });

</script>

 {% endblock %}