{% extends 'patient/layout.html' %}
{% block content %}
<nav class="navbar navbar-expand-sm navbar-dark" style="background-color:#017B25;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        
    <ul class="navbar-nav" id="myTab">
        <a class="new-patient nav-link nav-item" href="/patient/">New patient</a>
        <a id="invoices" class="invoices nav-link nav-item" href="/patient/">Invoices</a>
    </ul>
    </div>
</nav>
<div class="container-fluid p-5">
    <div id="invoice-tab" class="d-flex flex-column"></div>
</div>


<script>   

var request_args;

$(document).ready(function(){

    function dynamic(load_content){
        $( "#invoice-tab" ).load( load_content, function(){
        });
    }

    $.ajax({
        type: "GET",
        url: '/patient/last-five', 
        data: {work_type: "invoice_draft"},
        success: function (patient) {
            if(patient.length > 2){
                var lower_navbar = document.getElementById("myTab")
                
                var draft_button = document.createElement("BUTTON"); 
                ////
                // var draft_div = document.createElement("DIV"); 
                // draft_div.appendChild(draft_button) 
                ///
                draft_button.setAttribute("id", "tab-draft");
                draft_button.className += " btn";
                draft_button.className += " btn-secondary "
                draft_button.className += " btn-sm "
                draft_button.style.marginLeft = "2em";
                draft_button.textContent = "Draft";
                draft_button.addEventListener("click", function(e){ 
                    e.preventDefault();
                    var tabs = lower_navbar.getElementsByTagName('BUTTON');
                    for (var i = 0; i < tabs.length; i++) {
                        tabs[i].classList.remove("active");
                    }
                    $('.invoices').removeClass('active');
                    $('.new-patient').removeClass('active'); 
                    $(this).addClass('active'); 

                    $.ajax({
                        type: "GET",
                        url: '/patient/last-five', 
                        data: {work_type: "invoice_draft"},
                        success: function (patient) {
                            patient = JSON.parse(patient);
                            patient = JSON.parse(patient[0]["work_quality"].replace(/\\"/g, '"'));
                            $.get( "/patient/invoice/new", {"tariff": patient["tariff"], "status": "continue_draft"}, function( data ) {
                                    $( "#invoice-tab" ).html( data );
                                });
                        }
                    })
                }, false);

                var favi = document.createElement("I");
                favi.setAttribute("class" , "fa fa-remove")
                favi.setAttribute("id" , "draft_delete_favi")
                favi.style.paddingLeft ="5px";
                favi.addEventListener("click", function(e){
                    e.preventDefault();
                    $.ajax({
                        type: "GET",
                        url: '/remove-job', 
                        data: {work_type: "invoice_draft", work_quality: "any"},
                        success: function (status) {
                            favi_to_be_removed = document.getElementById("draft_delete_favi");
                            favi_to_be_removed.remove();
                            tab_to_be_removed = document.getElementById("tab-draft");
                            tab_to_be_removed.remove();
                        }
                    }) 
                });

                if(document.getElementById("tab-draft")){
                    lower_navbar.replaceChild(draft_button, document.getElementById("tab-draft"));
                }
                else{
                    var referenceNode = document.getElementById("tab-0")
                    lower_navbar.insertBefore(draft_button, referenceNode)
                    lower_navbar.insertBefore(favi, referenceNode)
 
                }
          }
        }
      })


    $.ajax({
        type: "GET",
        url: '/patient/last-five', 
        data: {work_type: "invoice_tab"},
        success: function (returnData) {
          const obj = JSON.parse(returnData)
          var lower_navbar = document.getElementById("myTab")

          for (let i = 0; i < obj.length; i++) {
            const element = obj[i];
            var tab = document.createElement("BUTTON");
            tab.setAttribute("id", "tab-" + i);
            tab.setAttribute("type", "button"); 
            tab.className += " btn";
            tab.className += " btn-secondary "
            
            tab.className += element["work_quality"];
            tab.className += " tab";
            // tab.style.marginLeft = "1em";
            tab.textContent = element["work_quality"]

            var tab_div = document.createElement("DIV"); 
            tab_div.appendChild(tab) 
            lower_navbar.appendChild(tab_div);

            var favi = document.createElement("I");
            favi.setAttribute("id" , "favi-" + i)
            favi.setAttribute("class" , "fa fa-remove favi")
            favi.style.paddingLeft ="5px";
            favi.style.paddingRight ="5px";
            favi.style.verticalAlign =  "top";
            favi.addEventListener("click", function(e){
                e.preventDefault();
                $.ajax({
                    type: "GET",
                    url: '/remove-job', 
                    data: {work_type: "invoice_tab", work_quality: element["work_quality"]},
                    success: function (status) {
                        tab_to_be_removed = document.getElementById("tab-" + i)
                        tab_to_be_removed.remove();
                        favi_to_be_removed = document.getElementById("favi-" + i)
                        favi_to_be_removed.remove();
                    }
                }) 
            });
            // lower_navbar.appendChild(favi);
            tab_div.appendChild(favi) 
          }
        }
      })


    $(document).on("click", ".new-patient", function (e) {
        e.preventDefault();
        criteria[0] = "/patient/invoice/create";
        dynamic.apply(this, criteria); 
        var lower_navbar = document.getElementById("myTab");
        var tabs = lower_navbar.getElementsByTagName('BUTTON');
        for (var i = 0; i < tabs.length; i++) {
            tabs[i].classList.remove("active");
        }
        $('.invoices').removeClass('active');
        $('.new-patient').addClass('active');         
    })


    $(document).on("click", ".invoices", function (e) {
        e.preventDefault();
        criteria[0] = "/patient/invoice/continue";
        dynamic.apply(this, criteria); 
        var lower_navbar = document.getElementById("myTab");
        var tabs = lower_navbar.getElementsByTagName('BUTTON');
        for (var i = 0; i < tabs.length; i++) {
            tabs[i].classList.remove("active");
        }
        $('.new-patient').removeClass('active');  
        $('.invoices').addClass('active');     
    })

    
    $(document).on("click", ".tab", function (e) {  
        e.preventDefault();   
        var invoice_id = $(this).text();
        criteria[0] = "/patient/invoice/" + invoice_id;
        dynamic.apply(this, criteria); 
        var lower_navbar = document.getElementById("myTab");
        var tabs = lower_navbar.getElementsByTagName('BUTTON');
        for (var i = 0; i < tabs.length; i++) {
            tabs[i].classList.remove("active");
        }
        $('.new-patient').removeClass('active'); 
        $('.invoices').removeClass('active');
        $(this).addClass('active');  
    })

    let criteria =[];
    request_args = '{{ request_args }}';
    request_args = JSON.parse(request_args.replace(/&#34;/g,'"'));
    if(Object.keys(request_args).length > 1 && request_args.constructor === Object){

        $.ajax({
            type: "GET",
            url: '/patient/add-work', 
            data: {work_type: "patient_tab", work_quality: JSON.stringify(request_args)},
            success: function (returnData) {

            }
        })

        criteria = ["/patient/" + request_args["patient_id"]];
        

        var patient_div = document.createElement("DIV");

        var patient_button = document.createElement("BUTTON");  
        patient_button.setAttribute("id", "patient_tab");
        patient_button.className += " btn";
        patient_button.className += " btn-secondary "
        // patient_button.className += " btn-sm "
        // patient_button.style.marginLeft = "2em";
        patient_button.value = request_args["patient_id"];
        patient_button.textContent = request_args["patient_name"]
        patient_button.addEventListener("click", function(e){
            e.preventDefault();   
            criteria = ["/patient/" + request_args["patient_id"]];
            dynamic.apply(this, criteria); 
            var lower_navbar = document.getElementById("myTab");
            var tabs = lower_navbar.getElementsByTagName('BUTTON');
            for (var i = 0; i < tabs.length; i++) {
                tabs[i].classList.remove("active");
            }
            $('.new-patient').removeClass('active'); 
            $('.invoices').removeClass('active');
            $(this).addClass('active');  

        })

        var favi = document.createElement("I");
        favi.setAttribute("class" , "fa fa-remove")
        favi.setAttribute("id" , "patient_delete_favi")
        favi.style.paddingLeft ="5px";
        favi.style.paddingRight ="5px";
        favi.style.verticalAlign =  "top";
        favi.addEventListener("click", function(e){
            e.preventDefault();
            $.ajax({
                type: "GET",
                url: '/remove-job', 
                data: {work_type: "patient_tab", work_quality: "any"},
                success: function (status) {
                    favi_to_be_removed = document.getElementById("patient_delete_favi");
                    favi_to_be_removed.remove();
                    tab_to_be_removed = document.getElementById("patient_tab");
                    tab_to_be_removed.remove();
                },
                error: function(xhr, status, error){
                    var errorMessage = xhr.status + ': ' + xhr.statusText;
                    alert('Error - ' + errorMessage);
                }
            }) 
        });

        var referenceNode = document.getElementById("invoices") 
        // patient_div.style.padding ="1em";
        // referenceNode.parentNode.insertBefore(favi, referenceNode.nextSibling);      
        // referenceNode.parentNode.insertBefore(patient_button, referenceNode.nextSibling);
        patient_div.appendChild(patient_button)
        patient_div.appendChild(favi)
        referenceNode.parentNode.insertBefore(patient_div, referenceNode.nextSibling);      
      
   
        $('#patient_tab').addClass('active');
    }

    else{
        $.ajax({
        type: "GET",
        url: '/patient/last-five', 
        data: {work_type: "patient_tab"},
        success: function (patient) {
            patient = JSON.parse(patient);
            if(!Array.isArray(patient) || patient.length !==0){
            request_args  = JSON.parse(patient[0]["work_quality"].replace(/\\"/g, '"'));

            if(Object.keys(request_args).length > 1 && request_args.constructor === Object){

                var patient_button = document.createElement("BUTTON");  
                patient_button.setAttribute("id", "patient_tab");
                patient_button.className += " btn";
                patient_button.className += " btn-secondary ";
                // patient_button.className += " btn-sm ";
                // patient_button.style.marginLeft = "2em";
                patient_button.value = request_args["patient_id"];
                patient_button.textContent = request_args["patient_name"];
                patient_button.addEventListener("click", function(e){
                    e.preventDefault();   
                    criteria = ["/patient/" + request_args["patient_id"]];
                    dynamic.apply(this, criteria); 
                    var lower_navbar = document.getElementById("myTab");
                    var tabs = lower_navbar.getElementsByTagName('BUTTON');
                    for (var i = 0; i < tabs.length; i++) {
                        tabs[i].classList.remove("active");
                    }
                    $('.new-patient').removeClass('active'); 
                    $('.invoices').removeClass('active');
                    $(this).addClass('active'); 
                })

                var favi = document.createElement("I");
                favi.setAttribute("class" , "fa fa-remove")
                favi.setAttribute("id" , "patient_delete_favi")
                favi.style.paddingLeft ="5px";
                favi.style.paddingRight ="5px";
                favi.style.verticalAlign =  "top";
                favi.addEventListener("click", function(e){
                    e.preventDefault();
                    $.ajax({
                        type: "GET",
                        url: '/remove-job', 
                        data: {work_type: "patient_tab", work_quality: "any"},
                        success: function (status) {
                            favi_to_be_removed = document.getElementById("patient_delete_favi");
                            favi_to_be_removed.remove();
                            tab_to_be_removed = document.getElementById("patient_tab");
                            tab_to_be_removed.remove();
                        },
                        error: function(xhr, status, error){
                            var errorMessage = xhr.status + ': ' + xhr.statusText;
                            alert('Error - ' + errorMessage);
                        }
                    }) 
                });

                var referenceNode = document.getElementById("invoices") 

                var patient_div = document.createElement("DIV");
                // patient_div.style.padding ="em";
                patient_div.appendChild(patient_button)
                patient_div.appendChild(favi)
                referenceNode.parentNode.insertBefore(patient_div, referenceNode.nextSibling);       

                // referenceNode.parentNode.insertBefore(favi, referenceNode.nextSibling);      
                // referenceNode.parentNode.insertBefore(patient_button, referenceNode.nextSibling);       
          }
        }
        }
      })


        criteria = ["/patient/invoice/create"];
        $('.new-patient').addClass('active');
    }
    
    
    dynamic.apply(this, criteria);

})

</script>
{% endblock %}
