{% extends 'layout.html' %}
{% block content %}
<div id="logout_modal" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Logged out successfully</h5>
            </div>
            <div class="modal-body">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
    <div class="signin-wrapper text-center">

        <form method="post" class="form-signin">
            {{ form.hidden_tag() }}
                <img  class="mb-4" src="{{ url_for('static', filename='img/green-leaf.png') }}" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                {{ form.email.label(for="email",class="sr-only") }}
                {{ form.email(class_="form-control", placeholder="Email") }}
                {% for error in form.email.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
                {{ form.password.label(for="password", class="sr-only") }}
                {{ form.password(class_="form-control", placeholder="Password") }}
                <div class="checkbox mb-3">
                        {{ form.remember_me }}
                        {{ form.remember_me.label }}
                </div>
            {{ form.submit(class_="btn btn-lg btn-primary btn-block") }}
            <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
        </form>
    </div>
    <script>
        $(document).ready(function() {
            var messages = "{{ get_flashed_messages() }}";
            if (typeof messages != 'undefined' && messages != '[]') {
                $("#logout_modal").modal();
            };
        });
    </script>
 {% endblock %}