{% extends 'layout.html' %}
{% block content %}
<div id="logout_modal" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Logged out successfully</h5>
            </div>
            <div class="modal-body">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
    <div class="signin-wrapper text-center">

        <form method="post" class="form-signin">
           
                <img  class="mb-4" src="{{ url_for('static', filename='img/green-leaf.png') }}" alt="" width="72" height="72">
                <div class="row">
                    <div class="col-md-9" style="margin: auto">
                      <a class="btn btn-outline-dark google_button" href="/auth/login/google" role="button" style="text-transform:none">
                        <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                        Login with Google
                      </a>
                    </div>
                  </div>
             
            <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
        </form>
    </div>
    <script>
        $(document).ready(function() {
            var messages = "{{ get_flashed_messages() }}";
            if (typeof messages != 'undefined' && messages != '[]') {
                $("#logout_modal").modal();
            };
        });
    </script>
 {% endblock %}