#green-leaf-index{
    /* top: 0; */
    height: 100px;
    width: 100px;
}
#inside_container{
    /* float: right; */
    display:inline-block
}
#second_inside{
    
    /* top: 0; */
    display:inline-block;
    /* float: left; */
}
.required::after {
    content: "*";
    color: red;
}   