{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <h3>Patient Name: {{patient}}</h3>
        <p>Medical Aid: {{medical}}<br>
        Case Number: {{case}}<br>
        PO: {{po}}<br>
        Date of invoice: {{date}}</p>
        <br>
<form id="NewOrderForm" class="form">  
        
        {{ form.hidden_tag() }}

         <table class="table table-striped">
              <thead>
                  <tr>
                      <td><b>Treatment</b></td>
                      <td><b>Date</b></td>        
                  </tr>
              </thead>
              <tbody class="tbodyClone">
                  <tr id="clonedInput0" class="clonedInput">
                      <td>{{  form.set(id='set-0')  }}</td>
                      <td>{{  form.date(id='date-0')  }}</td>
                     <!-- <td><input required="" type="text" value=""
                         id="product-0" name="product-0"
                         class="form-control"></td>-->
                      <td>
                          <button id="btnAdd_0" name="btnAdd_0" type="button" class="clone">+</button>
                          <button id="btnDel_0" name="btnDel_0" type="button" class="remove">-</button>
                      </td>
                  </tr>
              </tbody>
          </table>

  <div>{{ form.submit }}</div>
  <span>Result: <span id="result"></span></span>
</form>  


    <script>
 $(document).ready(function(){

    function addSubmit(ev) {
      ev.preventDefault();  // block the traditional submission of the form.
      $.ajax({
        method: 'POST',
        url: '/generate-invoice',
        data: console.log($(this).serialize()) 
      }).done(addShow);
    }

    function addShow(data) {
      $('#result').text(data.result);
    }

    $('#NewOrderForm').on('submit', addSubmit);

    $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
                }
            }
        })

    var regex = /^(.*)(\d)+$/i; 
    var cloneIndex = $(".clonedInput").length; // count how many rows there are
    
    // if there's only one table row, do not show the 'remove' button
    if ($(".clonedInput").length == 1) {
        $('.remove').hide();
    } else {
        $('.remove').show();
    }

    function clone() {
        $(this).parents(".clonedInput").clone() // travels from button to <tr> element
            .appendTo(".tbodyClone") // copied table row is added <tbody>
            .attr("id", "clonedInput" + cloneIndex) // for each table row, id is incremented
            .find("*") // return all descendant elements of selected element.
            .each(function () { // execute function for each matched element
                 var id = this.id || ""; // I'm guessing this makes id a string?
                 var match = id.match(regex) || []; // searches a string against a regular,         
                                                //expression and assigns results to var match as 
                                               //list. Example result 
                                              //["clonedInputNN","clonedInput","NN"]
                 if (match.length == 3) {
                     this.id = match[1] + (cloneIndex);    // match[1] would be the string with the numbers stripped out
                 }
                 var name = this.name || ""; 
                 var match2 = name.match(regex) || []; 
                 if (match2.length == 3) {
                     this.name = match2[1] + (cloneIndex);   
                 }
            }            
            )
            .on('click', 'clone', clone)
            .on('click', 'remove', remove);
        cloneIndex++;
      
        if ($(".clonedInput").length == 1) {
            $('.remove').hide();
        } else {
            $('.remove').show();
        }
    }
    function remove() {        
        $(this).parents(".clonedInput").remove();

        if ($(".clonedInput").length == 1) {
            $('.remove').hide();
        } else {
            $('.remove').show();
        }

    }    
    $(document).on("click", ".clone", clone);
    $(document).on("click", ".remove", remove);
   });

    </script>

 {% endblock %}
