{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <h1>{{title}}</h1>
        <p>{{description}}</p>

	  <form action="" method="post">
    
        {{ form.name }}
        <br>
        {{ form.myField }}
        {{ form.date }}
        <button type="button" id="addNewItemButton">Add Field</button>
        {{ form.flist }}
        {{ form.submit }}

    <div id="myDiv"></div>
    </div>

</form> 
    <script>
		    var fieldNum = 0;
    $("#aaddNewItemButton").click(function() {
    var newInput = $("<textarea></textarea></br>")
        .attr("class", "form-control")
        .attr("id", "flist-" + fieldNum)
        .attr("name", "flist-" + fieldNum)
        .attr("rows", "3")
    $("#myDiv").append(newInput);
    fieldNum++;
    });


$(function() {
    $("#addNewItemButton").click(function() {
        $.ajax({
            url: "/add-treatment",
            type: "POST",
            data: fieldNum,
            success: function(response) {
                console.log(response);
            },
            error: function(error) {
                console.log(error);
            }
        });
        fieldNum++;
    });
});



	</script>

 {% endblock %}
